example nodered
[{"id":"fa9cfc3f.64236","type":"http in","z":"b0827aed.818358","name":"","url":"/landin","method":"get","upload":false,"swaggerDoc":"","x":170,"y":600,"wires":[["1752fed8.4e6c31"]]},{"id":"8ba5d2dd.42afc","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1110,"y":600,"wires":[]},{"id":"d0cfa50b.a89b08","type":"template","z":"b0827aed.818358","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>\n    HELLO{{payload}}! <br/>\n    <a href=\"register\" >register</a> <br/>\n    <a href=\"login\" style=\"{{disp}}\">login <br/></a>\n    <a href=\"logout\" >logout</a> <br/>\n    <a href=\"admin\" style=\"{{disp1}}\">Admin page <br/></a>\n</h1>","output":"str","x":660,"y":600,"wires":[["8ba5d2dd.42afc"]]},{"id":"1752fed8.4e6c31","type":"function","z":"b0827aed.818358","name":"Load Cookies","func":"var a = Object.keys(msg.req.cookies);\nvar redirect = 1;\nfor (var i in a) {\n  if(a[i] == \"id\"){\n      redirect = 0;\n  }\n}\nif(redirect == 1){\n    //msg.headers = {};\n    //msg.headers.location = \"/login\";\n    //msg.statusCode = 302;\n    msg.payload = msg.req.cookies.id;\n    msg.disp = \"\";\n    msg.disp1 = \"display:none\";\n}else{\n    //var b = global.get(msg.req.cookies.id);\n    msg.disp1 = \"display:none\";\n    msg.payload = \" \" + msg.req.cookies.id;\n    if(msg.req.cookies.id == \"admin\"){\n        msg.disp1 = \"\";\n    }\n    msg.disp = \"display:none\";\n    //msg[\"personal_info\"] = b.personal_info;\n    //msg[\"letter\"] = \"\";\n    //msg.letter = msg.personal_info.first_name[0];\n    //msg.persona_image = global.get(msg.personal_info.first_name);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":600,"wires":[["d0cfa50b.a89b08"]]},{"id":"3d57515c.3f660e","type":"http in","z":"b0827aed.818358","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":160,"y":640,"wires":[["62da3978.6edea8"]]},{"id":"e465d8fd.798ab8","type":"http in","z":"b0827aed.818358","name":"","url":"/verify_account","method":"post","upload":false,"swaggerDoc":"","x":200,"y":920,"wires":[["c54d4d60.32d52","b33cd535.c69c18"]]},{"id":"62da3978.6edea8","type":"function","z":"b0827aed.818358","name":"msg.url = \"verify_account\"","func":"msg.url = \"verify_account\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["6a211d9.ad2b3e4"]]},{"id":"d65172a2.074f6","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":980,"wires":[]},{"id":"815ada6c.223cb8","type":"http response","z":"b0827aed.818358","name":"","x":1160,"y":920,"wires":[]},{"id":"6ba15879.ea14c8","type":"template","z":"b0827aed.818358","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":830,"y":640,"wires":[["e478a3c3.0177e"]]},{"id":"6a211d9.ad2b3e4","type":"template","z":"b0827aed.818358","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function redirect(returnhtml) {\n    window.location = returnhtml;\n}\n\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){   \n                redirect(returnhtml);\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":670,"y":640,"wires":[["6ba15879.ea14c8"]]},{"id":"3a848de.52c7a72","type":"http response","z":"b0827aed.818358","name":"","x":1110,"y":640,"wires":[]},{"id":"e478a3c3.0177e","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Login to your Account!</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">Username</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Password</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Login\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":970,"y":640,"wires":[["3a848de.52c7a72"]]},{"id":"6515087e.6ed8a8","type":"function","z":"b0827aed.818358","name":"return msg.payload to client","func":"if(msg.payload.length !== 0){\n    var json = JSON.parse(msg.payload[0]);\n    msg.payload = '/landin';//'The following data was submitted and available in the msg.payload: ' + json[\"name\"] + \" \" + json[\"password\"];\n    msg.cookies = { };\n    msg.cookies[\"id\"] = json[\"username\"];\n}else{\n    msg.payload = '/login';//'Error!';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":920,"wires":[["815ada6c.223cb8"]]},{"id":"d28b09c.8e151f8","type":"mysql","z":"b0827aed.818358","mydb":"c440435d.98b8b","name":"","x":560,"y":920,"wires":[["2736e5cb.36fdda","d65172a2.074f6"]]},{"id":"c54d4d60.32d52","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT * from users WHERE username = '%s' and password = '%s'\";\n\nmsg.topic = util.format(select, msg.payload.firstname, msg.payload.lastname);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":920,"wires":[["d28b09c.8e151f8"]]},{"id":"2736e5cb.36fdda","type":"json","z":"b0827aed.818358","name":"","property":"payload[0]","action":"","pretty":false,"x":720,"y":920,"wires":[["6515087e.6ed8a8"]]},{"id":"b33cd535.c69c18","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":380,"y":860,"wires":[]},{"id":"34c91b8e.5adae4","type":"http in","z":"b0827aed.818358","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":170,"y":680,"wires":[["423ee1f4.6490a"]]},{"id":"423ee1f4.6490a","type":"function","z":"b0827aed.818358","name":"Clear cookies","func":"// Find demo cookies and clear them\nmsg.cookies = {};\nmsg.cookies[\"id\"] = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":680,"wires":[["4d2ea291.c4f17c"]]},{"id":"a853adbd.a085a","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1110,"y":680,"wires":[]},{"id":"4d2ea291.c4f17c","type":"change","z":"b0827aed.818358","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":680,"wires":[["a853adbd.a085a"]]},{"id":"29db4ba3.27d6c4","type":"http in","z":"b0827aed.818358","name":"","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":170,"y":720,"wires":[["d587838f.b8b01"]]},{"id":"d587838f.b8b01","type":"function","z":"b0827aed.818358","name":"msg.url = \"create_account\"","func":"msg.url = \"create_account\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":720,"wires":[["cc345ef6.94eb5"]]},{"id":"6283093e.5cfb08","type":"template","z":"b0827aed.818358","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":830,"y":720,"wires":[["51f16f1b.1e287"]]},{"id":"cc345ef6.94eb5","type":"template","z":"b0827aed.818358","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function redirect(returnhtml) {\n    window.location = returnhtml;\n}\n\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){   \n                redirect(returnhtml);\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":670,"y":720,"wires":[["6283093e.5cfb08"]]},{"id":"10fd537d.83aa5d","type":"http response","z":"b0827aed.818358","name":"","x":1110,"y":720,"wires":[]},{"id":"51f16f1b.1e287","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Login to your Account!</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">Username</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Password</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Login\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":970,"y":720,"wires":[["10fd537d.83aa5d"]]},{"id":"51a5b8c.7bd1948","type":"http in","z":"b0827aed.818358","name":"","url":"/create_account","method":"post","upload":false,"swaggerDoc":"","x":200,"y":1060,"wires":[["1e6e25b5.8ddc5a","94cffb11.7a8488"]]},{"id":"4909300.987ecd","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":1120,"wires":[]},{"id":"da3305b7.9964f8","type":"http response","z":"b0827aed.818358","name":"","x":1350,"y":1040,"wires":[]},{"id":"b85718ce.316aa8","type":"function","z":"b0827aed.818358","name":"return msg.payload to client","func":"//var json = JSON.parse(msg.payload[0]);\nvar insert=\"INSERT INTO users VALUES ('%s', '%s')\";\nmsg.topic = util.format(insert, msg.name, msg.pwd);\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":1120,"wires":[["942c1fb8.a0c65"]]},{"id":"7c6f7a3c.9a3d34","type":"mysql","z":"b0827aed.818358","mydb":"c440435d.98b8b","name":"","x":560,"y":1060,"wires":[["2267ac1.4c02154","4909300.987ecd"]]},{"id":"1e6e25b5.8ddc5a","type":"function","z":"b0827aed.818358","name":"test","func":"var insertOneStudent=\"INSERT INTO students VALUES (5, '%s', '%s', '%s', '%s')\";\nvar select=\"SELECT * from users WHERE username = '%s'\";\n\nmsg.topic = util.format(select, msg.payload.firstname);\n\nmsg.name = msg.payload.firstname;\nmsg.pwd = msg.payload.lastname;\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["7c6f7a3c.9a3d34"]]},{"id":"2267ac1.4c02154","type":"json","z":"b0827aed.818358","name":"","property":"payload[0]","action":"","pretty":false,"x":720,"y":1060,"wires":[["a4b51b1d.487218"]]},{"id":"94cffb11.7a8488","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":380,"y":1000,"wires":[]},{"id":"a4b51b1d.487218","type":"switch","z":"b0827aed.818358","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":1040,"wires":[["cefc7048.ceac7"],["b85718ce.316aa8"]]},{"id":"cefc7048.ceac7","type":"function","z":"b0827aed.818358","name":"return back","func":"msg.payload = '/register';\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":1000,"wires":[["da3305b7.9964f8"]]},{"id":"aab34a0b.85a0b8","type":"function","z":"b0827aed.818358","name":"return msg.payload to client","func":"msg.payload = '/landin';//'Error!';\nmsg.cookies = { };\nmsg.cookies[\"id\"] = msg.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":1200,"wires":[["da3305b7.9964f8"]]},{"id":"942c1fb8.a0c65","type":"mysql","z":"b0827aed.818358","mydb":"c440435d.98b8b","name":"","x":890,"y":1200,"wires":[["3776c7c.ccd5d38"]]},{"id":"3776c7c.ccd5d38","type":"json","z":"b0827aed.818358","name":"","property":"payload[0]","action":"","pretty":false,"x":1030,"y":1200,"wires":[["aab34a0b.85a0b8"]]},{"id":"2bb440ae.7d6d9","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"DELETE from users WHERE username = '%s'\";\nmsg.topic = util.format(select, msg.payload.name);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":1260,"wires":[["f7175532.4bae68"]]},{"id":"88adb8ae.dccd68","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1110,"y":1300,"wires":[]},{"id":"e444988e.d61da8","type":"change","z":"b0827aed.818358","name":"Redirect to /admin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/admin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":1260,"wires":[["88adb8ae.dccd68"]]},{"id":"48a8d535.275cfc","type":"http in","z":"b0827aed.818358","name":"","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":170,"y":780,"wires":[["10d42151.f0bc2f"]]},{"id":"df61c418.866ef8","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1350,"y":800,"wires":[]},{"id":"26dae339.295b5c","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","output":"str","x":1210,"y":760,"wires":[["df61c418.866ef8"]]},{"id":"93f7c001.66b63","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array = array.split(\",\");\nHTML = \"<thread><td>Username</td><td>Password</td></thread>\";\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array[i+1] + \"</td>\";\n        HTML += \"<td><a  onclick=\\\"myFunction(array, \" + i +\");\\\"><u>Deactivate</u></a></td></tr>\";\n        i++;\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction deleteAjax(array, i) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/deactivate\",\n        data: {\"name\": message},\n        success: function(returnhtml){\n            window.location = \"/admin\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction myFunction(array, i) {\n    var txt;\n    var r = confirm(\"你确定要进行此操作吗？\");\n    if (r === true) {\n        deleteAjax(array, i);\n    } else {\n        window.location = \"/admin\";\n    }\n    document.getElementById(\"demo\").innerHTML = txt;\n}","output":"str","x":1060,"y":760,"wires":[["26dae339.295b5c"]]},{"id":"d1c02c47.a798c","type":"function","z":"b0827aed.818358","name":"Load Users","func":"var select=\"SELECT * from users\";\nmsg.topic = util.format(select);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":760,"wires":[["5dfdcfa9.62751"]]},{"id":"5dfdcfa9.62751","type":"mysql","z":"b0827aed.818358","mydb":"c440435d.98b8b","name":"","x":730,"y":760,"wires":[["1ff6811f.db523f"]]},{"id":"10d42151.f0bc2f","type":"switch","z":"b0827aed.818358","name":"","property":"req.cookies.id","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":780,"wires":[["d1c02c47.a798c"],["680b469.89353b8"]]},{"id":"680b469.89353b8","type":"change","z":"b0827aed.818358","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":800,"wires":[["df61c418.866ef8"]]},{"id":"1ff6811f.db523f","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i][\"username\"],msg.payload[i][\"password\"]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["93f7c001.66b63"]]},{"id":"f7175532.4bae68","type":"mysql","z":"b0827aed.818358","mydb":"c440435d.98b8b","name":"","x":730,"y":1260,"wires":[["e444988e.d61da8"]]},{"id":"8bb0b86a.f538d8","type":"http in","z":"b0827aed.818358","name":"","url":"/deactivate","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1280,"wires":[["14597c0d.6339a4"]]},{"id":"14597c0d.6339a4","type":"switch","z":"b0827aed.818358","name":"","property":"req.cookies.id","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1280,"wires":[["2bb440ae.7d6d9"],["de43bc83.762a6"]]},{"id":"de43bc83.762a6","type":"change","z":"b0827aed.818358","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1300,"wires":[["88adb8ae.dccd68"]]},{"id":"c440435d.98b8b","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""}]
