src/all_page_Yueting_10-19.json
[{"id":"22ec2abb.e571c6","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/landin","method":"get","upload":false,"swaggerDoc":"","x":160,"y":160,"wires":[["77da8633.79fa98"]]},{"id":"30468378.e9f97c","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1110,"y":160,"wires":[]},{"id":"5ee4d899.3e0b28","type":"template","z":"62fb9a8d.4ba494","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>\n    HELLO{{payload}}! <br/>\n    <a href=\"register\" >register</a> <br/>\n    <a href=\"login\" style=\"{{disp}}\"> login <br/></a>\n    <a href=\"logout\" >logout</a> <br/>\n    \n    <button onclick=\"location.href = 'farmers_market';\" id=\"farmers_market_btn\" style=\"font-size: 20px\" > Checkout Farmers Market </button>\n    <br/>\n    <button onclick=\"location.href = 'recipe';\" id=\"recipes_btn\" style=\"font-size: 20px\" > Checkout Recipes </button>\n    <br/>\n    <button onclick=\"location.href = 'user_profile';\" id=\"user_profile_btn\" style=\"font-size: 20px\" > Checkout User Profile </button>\n    <br/>\n    <button onclick=\"location.href = 'menu';\" id=\"menu_btn\" style=\"font-size: 20px\" > Checkout Menu </button>\n\n    <a href=\"admin\" style=\"{{disp1}}\">Admin page <br/></a>\n</h1>","output":"str","x":660,"y":160,"wires":[["30468378.e9f97c"]]},{"id":"77da8633.79fa98","type":"function","z":"62fb9a8d.4ba494","name":"Load Cookies","func":"var a = Object.keys(msg.req.cookies);\nvar redirect = 1;\nfor (var i in a) {\n  if(a[i] == \"id\"){\n      redirect = 0;\n  }\n}\nif(redirect == 1){\n    //msg.headers = {};\n    //msg.headers.location = \"/login\";\n    //msg.statusCode = 302;\n    msg.payload = msg.req.cookies.id;\n    msg.disp = \"\";\n    msg.disp1 = \"display:none\";\n}else{\n    //var b = global.get(msg.req.cookies.id);\n    msg.disp1 = \"display:none\";\n    msg.payload = \" \" + msg.req.cookies.id;\n    if(msg.req.cookies.id == \"admin\"){\n        msg.disp1 = \"\";\n    }\n    msg.disp = \"display:none\";\n    //msg[\"personal_info\"] = b.personal_info;\n    //msg[\"letter\"] = \"\";\n    //msg.letter = msg.personal_info.first_name[0];\n    //msg.persona_image = global.get(msg.personal_info.first_name);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":160,"wires":[["5ee4d899.3e0b28"]]},{"id":"2878258.71096da","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":160,"y":200,"wires":[["1950ec59.2a0384"]]},{"id":"37f6de86.1fc9b2","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/verify_account","method":"post","upload":false,"swaggerDoc":"","x":200,"y":480,"wires":[["131b68b4.6e89d7","b9005f68.62cba"]]},{"id":"1950ec59.2a0384","type":"function","z":"62fb9a8d.4ba494","name":"msg.url = \"verify_account\"","func":"msg.url = \"verify_account\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":200,"wires":[["ef7722c1.d7992"]]},{"id":"1daf1066.f4bcc","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":700,"y":540,"wires":[]},{"id":"11fbd22a.f65cfe","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1160,"y":480,"wires":[]},{"id":"9e6f3f24.d9874","type":"template","z":"62fb9a8d.4ba494","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":830,"y":200,"wires":[["46753b42.4ea314"]]},{"id":"ef7722c1.d7992","type":"template","z":"62fb9a8d.4ba494","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function redirect(returnhtml) {\n    window.location = returnhtml;\n}\n\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){   \n                redirect(returnhtml);\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":670,"y":200,"wires":[["9e6f3f24.d9874"]]},{"id":"9c8e6f2.97be59","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1110,"y":200,"wires":[]},{"id":"46753b42.4ea314","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Login to your Account!</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">Username</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Password</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Login\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":970,"y":200,"wires":[["9c8e6f2.97be59"]]},{"id":"e9510d4d.f09d5","type":"function","z":"62fb9a8d.4ba494","name":"return msg.payload to client","func":"if(msg.payload.length !== 0){\n    var json = JSON.parse(msg.payload[0]);\n    msg.payload = '/landin';//'The following data was submitted and available in the msg.payload: ' + json[\"name\"] + \" \" + json[\"password\"];\n    msg.cookies = { };\n    msg.cookies[\"id\"] = json[\"username\"];\n}else{\n    msg.payload = '/login';//'Error!';\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":950,"y":480,"wires":[["11fbd22a.f65cfe"]]},{"id":"a38a9219.ba5ce","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":560,"y":480,"wires":[["1e16d75d.f0d499","1daf1066.f4bcc"]]},{"id":"131b68b4.6e89d7","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from users WHERE username = '%s' and password = '%s'\";\n\nmsg.topic = util.format(select, msg.payload.firstname, msg.payload.lastname);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":480,"wires":[["a38a9219.ba5ce"]]},{"id":"1e16d75d.f0d499","type":"json","z":"62fb9a8d.4ba494","name":"","property":"payload[0]","action":"","pretty":false,"x":720,"y":480,"wires":[["e9510d4d.f09d5"]]},{"id":"b9005f68.62cba","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":380,"y":420,"wires":[]},{"id":"409067cf.cce848","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/logout","method":"get","upload":false,"swaggerDoc":"","x":170,"y":240,"wires":[["74868d1a.b90c34"]]},{"id":"74868d1a.b90c34","type":"function","z":"62fb9a8d.4ba494","name":"Clear cookies","func":"// Find demo cookies and clear them\nmsg.cookies = {};\nmsg.cookies[\"id\"] = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":240,"wires":[["3c767c7e.75b2d4"]]},{"id":"7629e485.07fe9c","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1110,"y":240,"wires":[]},{"id":"3c767c7e.75b2d4","type":"change","z":"62fb9a8d.4ba494","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":240,"wires":[["7629e485.07fe9c"]]},{"id":"378104fc.85f13c","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":170,"y":280,"wires":[["33e6ec70.ef3b14"]]},{"id":"33e6ec70.ef3b14","type":"function","z":"62fb9a8d.4ba494","name":"msg.url = \"create_account\"","func":"msg.url = \"create_account\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["1f4d706e.43a84"]]},{"id":"1a1af23d.e0161e","type":"template","z":"62fb9a8d.4ba494","name":"CSS","field":"payload.style","fieldType":"msg","format":"html","syntax":"mustache","template":"input[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":830,"y":280,"wires":[["2e0277ac.911128"]]},{"id":"1f4d706e.43a84","type":"template","z":"62fb9a8d.4ba494","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function redirect(returnhtml) {\n    window.location = returnhtml;\n}\n\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){   \n                redirect(returnhtml);\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":670,"y":280,"wires":[["1a1af23d.e0161e"]]},{"id":"e490f3c3.aa558","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1110,"y":280,"wires":[]},{"id":"2e0277ac.911128","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2>Login to your Account!</h2>\n\n<div>\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">Username</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Password</label>\n    <input type=\"text\" id=\"lname\" name=\"lastname\">\n\n    <label for=\"country\">Country</label>\n    <select id=\"country\" name=\"country\">\n      <option value=\"uk\">United Kingdom</option>\n      <option value=\"canada\">Canada</option>\n      <option value=\"usa\">USA</option>\n    </select>\n  \n    <input type=\"submit\" value=\"Login\">\n  </form>\n</div>\n<div>\n    <span id=\"result\"></span>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":970,"y":280,"wires":[["e490f3c3.aa558"]]},{"id":"b30df84.394c708","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/create_account","method":"post","upload":false,"swaggerDoc":"","x":200,"y":620,"wires":[["f213db11.b0e4a8","d4ad0f59.4b1c7"]]},{"id":"3bdfec59.a04e74","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":700,"y":680,"wires":[]},{"id":"fcc98f32.7f87a","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1350,"y":600,"wires":[]},{"id":"5c763937.63fd98","type":"function","z":"62fb9a8d.4ba494","name":"return msg.payload to client","func":"//var json = JSON.parse(msg.payload[0]);\nvar insert=\"INSERT INTO users VALUES ('%s', '%s')\";\nmsg.topic = util.format(insert, msg.name, msg.pwd);\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":680,"wires":[["c2c38e08.4f7d4"]]},{"id":"26b4a30c.efd5dc","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":560,"y":620,"wires":[["8a310cbd.a20c8","3bdfec59.a04e74"]]},{"id":"f213db11.b0e4a8","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var insertOneStudent=\"INSERT INTO students VALUES (5, '%s', '%s', '%s', '%s')\";\nvar select=\"SELECT * from users WHERE username = '%s'\";\n\nmsg.topic = util.format(select, msg.payload.firstname);\n\nmsg.name = msg.payload.firstname;\nmsg.pwd = msg.payload.lastname;\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":620,"wires":[["26b4a30c.efd5dc"]]},{"id":"8a310cbd.a20c8","type":"json","z":"62fb9a8d.4ba494","name":"","property":"payload[0]","action":"","pretty":false,"x":720,"y":620,"wires":[["1ab10bf.6ccd2f4"]]},{"id":"d4ad0f59.4b1c7","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":380,"y":560,"wires":[]},{"id":"1ab10bf.6ccd2f4","type":"switch","z":"62fb9a8d.4ba494","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":600,"wires":[["9b4c969c.fa7b58"],["5c763937.63fd98"]]},{"id":"9b4c969c.fa7b58","type":"function","z":"62fb9a8d.4ba494","name":"return back","func":"msg.payload = '/register';\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":560,"wires":[["fcc98f32.7f87a"]]},{"id":"5d865b8f.659b94","type":"function","z":"62fb9a8d.4ba494","name":"return msg.payload to client","func":"msg.payload = '/landin';//'Error!';\nmsg.cookies = { };\nmsg.cookies[\"id\"] = msg.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":760,"wires":[["fcc98f32.7f87a"]]},{"id":"c2c38e08.4f7d4","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":890,"y":760,"wires":[["a8bdde70.47cb1"]]},{"id":"a8bdde70.47cb1","type":"json","z":"62fb9a8d.4ba494","name":"","property":"payload[0]","action":"","pretty":false,"x":1030,"y":760,"wires":[["5d865b8f.659b94"]]},{"id":"63892614.8afd98","type":"function","z":"62fb9a8d.4ba494","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"DELETE from users WHERE username = '%s'\";\nmsg.topic = util.format(select, msg.payload.name);\n\nreturn msg;","outputs":1,"noerr":0,"x":550,"y":820,"wires":[["90fb2a1a.066508"]]},{"id":"e22c18b.1e961e8","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1110,"y":860,"wires":[]},{"id":"ac5ac584.35cec8","type":"change","z":"62fb9a8d.4ba494","name":"Redirect to /admin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/admin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":820,"wires":[["e22c18b.1e961e8"]]},{"id":"f705c2ab.0429a","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/admin","method":"get","upload":false,"swaggerDoc":"","x":170,"y":340,"wires":[["542bb9c5.8fb338"]]},{"id":"f9d7bf45.17543","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1350,"y":360,"wires":[]},{"id":"97ae2133.6108f","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","output":"str","x":1210,"y":320,"wires":[["f9d7bf45.17543"]]},{"id":"2aea3889.fc3988","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array = array.split(\",\");\nHTML = \"<thread><td>Username</td><td>Password</td></thread>\";\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array[i+1] + \"</td>\";\n        HTML += \"<td><a  onclick=\\\"myFunction(array, \" + i +\");\\\"><u>Deactivate</u></a></td></tr>\";\n        i++;\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction deleteAjax(array, i) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/deactivate\",\n        data: {\"name\": message},\n        success: function(returnhtml){\n            window.location = \"/admin\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction myFunction(array, i) {\n    var txt;\n    var r = confirm(\"你确定要进行此操作吗？\");\n    if (r === true) {\n        deleteAjax(array, i);\n    } else {\n        window.location = \"/admin\";\n    }\n    document.getElementById(\"demo\").innerHTML = txt;\n}","output":"str","x":1060,"y":320,"wires":[["97ae2133.6108f"]]},{"id":"e272cebe.8aa08","type":"function","z":"62fb9a8d.4ba494","name":"Load Users","func":"var select=\"SELECT * from users\";\nmsg.topic = util.format(select);\n\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":320,"wires":[["5428c33a.0c7a2c"]]},{"id":"542bb9c5.8fb338","type":"switch","z":"62fb9a8d.4ba494","name":"","property":"req.cookies.id","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":340,"wires":[["e272cebe.8aa08"],["ced3c99d.d29318"]]},{"id":"ced3c99d.d29318","type":"change","z":"62fb9a8d.4ba494","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":590,"y":360,"wires":[["f9d7bf45.17543"]]},{"id":"52e31d90.e35de4","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i][\"username\"],msg.payload[i][\"password\"]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":320,"wires":[["2aea3889.fc3988"]]},{"id":"90fb2a1a.066508","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":730,"y":820,"wires":[["ac5ac584.35cec8"]]},{"id":"4ad98b12.38e1d4","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/deactivate","method":"post","upload":false,"swaggerDoc":"","x":180,"y":840,"wires":[["c22e5230.570e2"]]},{"id":"c22e5230.570e2","type":"switch","z":"62fb9a8d.4ba494","name":"","property":"req.cookies.id","propertyType":"msg","rules":[{"t":"eq","v":"admin","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":840,"wires":[["63892614.8afd98"],["80984e11.5f0ea"]]},{"id":"80984e11.5f0ea","type":"change","z":"62fb9a8d.4ba494","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":860,"wires":[["e22c18b.1e961e8"]]},{"id":"5428c33a.0c7a2c","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":730,"y":320,"wires":[["52e31d90.e35de4"]]},{"id":"8d04689a.d2d808","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/recipe","method":"get","upload":false,"swaggerDoc":"","x":170,"y":1160,"wires":[["8dc092c6.13fe5"]]},{"id":"13aedce6.2e56b3","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1250,"y":1160,"wires":[]},{"id":"6c2687e5.acd308","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1110,"y":1160,"wires":[["13aedce6.2e56b3"]]},{"id":"8336bdf9.fa7b8","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":510,"y":1160,"wires":[["89ebca23.1cbe68"]]},{"id":"8dc092c6.13fe5","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from recipes order by id asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1160,"wires":[["8336bdf9.fa7b8"]]},{"id":"ac6ae545.8d2f58","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1240,"wires":[]},{"id":"34d2362b.bbd06a","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>Recipe Titles</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        //HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":920,"y":1160,"wires":[["6c2687e5.acd308"]]},{"id":"89ebca23.1cbe68","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1160,"wires":[["34d2362b.bbd06a","ac6ae545.8d2f58"]]},{"id":"9039bb49.56a6c8","type":"comment","z":"62fb9a8d.4ba494","name":"Recipe page","info":"Recipe page","x":170,"y":1040,"wires":[]},{"id":"b4d5a50e.0b6078","type":"comment","z":"62fb9a8d.4ba494","name":"Farmers Market Page","info":"","x":200,"y":2040,"wires":[]},{"id":"b8e4b9b2.979938","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/farmers_market","method":"get","upload":false,"swaggerDoc":"","x":200,"y":2180,"wires":[["9953a6b2.797b28"]]},{"id":"f2a91c7c.76fd4","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1270,"y":2180,"wires":[]},{"id":"89a3fb88.5352a8","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n      <title>Farmers</title>\n        <style>\n        hr {\n        width:100%;\n        margin:0 auto;\n        border: 0;\n        height: 6px;\n        background: #333;\n        background-image: linear-gradient(to left, red, #333, rgb(9, 206, 91));\n        }\n        </style>\n\n    </head>\n    \n\t<body onload='list()'>\n        <h1 align=\"center\">Farmers Market</h1>\n        <hr>\n\n        <br/>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n        <br/>\n\n\t\t<table align=\"center\" border=\"3px\" style=\"width: 1200px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1130,"y":2180,"wires":[["f2a91c7c.76fd4"]]},{"id":"49f95a66.9d0714","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":530,"y":2180,"wires":[["5ef348e6.89e408"]]},{"id":"9953a6b2.797b28","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from farmers order by FMID asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":2180,"wires":[["49f95a66.9d0714"]]},{"id":"dfa0ae1e.34d4c","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":710,"y":2260,"wires":[]},{"id":"f3a79b6a.b5b978","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td> Markets Name </td></thread>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":940,"y":2180,"wires":[["89a3fb88.5352a8"]]},{"id":"5ef348e6.89e408","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.data = []\nmsg.data2 = []\n\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['MarketName']);\n    msg.data2.push(msg.payload[i]['city']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":710,"y":2180,"wires":[["f3a79b6a.b5b978","dfa0ae1e.34d4c"]]},{"id":"b73ccde3.647c8","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/user_profile","method":"get","upload":false,"swaggerDoc":"","x":180,"y":1480,"wires":[["d7dbcfa8.c482a"]]},{"id":"48131764.8dac78","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1250,"y":1480,"wires":[]},{"id":"180845cf.37b94a","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1110,"y":1480,"wires":[["48131764.8dac78"]]},{"id":"1b9da497.f21ebb","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":510,"y":1480,"wires":[["9582ad3c.c36f"]]},{"id":"d7dbcfa8.c482a","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from users\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1480,"wires":[["1b9da497.f21ebb"]]},{"id":"83f4f89.ea45f08","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1560,"wires":[]},{"id":"3919fb9.e74f304","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>User names</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":920,"y":1480,"wires":[["180845cf.37b94a"]]},{"id":"9582ad3c.c36f","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['username']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1480,"wires":[["3919fb9.e74f304","83f4f89.ea45f08"]]},{"id":"c5b50ea7.8739","type":"comment","z":"62fb9a8d.4ba494","name":"User profile page","info":"","x":180,"y":1360,"wires":[]},{"id":"93f8d2e7.5485b","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":160,"y":1800,"wires":[["9d532a6b.f6acf8"]]},{"id":"d09d9953.a76758","type":"http response","z":"62fb9a8d.4ba494","name":"","x":1250,"y":1800,"wires":[]},{"id":"307b28e7.0c0a78","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1110,"y":1800,"wires":[["d09d9953.a76758"]]},{"id":"98e256f0.704c18","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":510,"y":1800,"wires":[["72318feb.33095"]]},{"id":"9d532a6b.f6acf8","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from users\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":1800,"wires":[["98e256f0.704c18"]]},{"id":"8976551a.04e098","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":1880,"wires":[]},{"id":"e150435.52cddc","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>User names</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":920,"y":1800,"wires":[["307b28e7.0c0a78"]]},{"id":"72318feb.33095","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['username']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":1800,"wires":[["e150435.52cddc","8976551a.04e098"]]},{"id":"160dd2aa.1d36bd","type":"comment","z":"62fb9a8d.4ba494","name":"menu page","info":"","x":160,"y":1680,"wires":[]},{"id":"70b37da3.81f264","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]