src/css_Ruisi_12.5
[{"id":"484f7800.fd3bf8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":690,"y":40,"wires":[]},{"id":"3599389f.525068","type":"template","z":"2c16ebac.f30834","name":"template","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n  font-family: \"Lato\", sans-serif;\n}\n\ntable {\n  font-family: Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\ntable td, #table th {\n  border: 2px solid #ddd;\n  padding: 8px;\n\n\n}\n\ntable tr:nth-child(even){background-color: #f2f2f2;}\n\ntable tr:hover {background-color: #ddd;}\n\ntable th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #ffad33;\n  color: white;\n}\n\na {\n    color: black;\n    text-decoration: none;\n}\n\n.comment{\n    font-size: 12px;\n    display: inline-block;\n    box-sizing: border-box;\n    background-color: #f4f5f7;\n    border: 1px solid #e5e9ef;\n    overflow: auto;\n    border-radius: 4px;\n    color: #555;\n    height: 65px;\n    transition: 0s;\n    padding: 5px 10px;\n    line-height: normal;\n}\n\n.comment_submit{\n    width: 95px;\n    height: 64px;\n    right: -80px;\n    top: 0;\n    padding: 4px 15px;\n    font-size: 14px;\n    color: #fff;\n    border-radius: 4px;\n    text-align: center;\n    min-width: 60px;\n    vertical-align: top;\n    cursor: pointer;\n    background-color: #00a1d6;\n    border: 1px solid #00a1d6;\n    transition: 0.1s;\n    user-select: none;\n    outline: none;\n}\n\n.tag{\n  float: left;\n  margin: 0 10px 8px 0;\n  background: #f4f4f4;\n  border-radius: 100px;\n  padding: 0 12px;\n  position: relative;\n  height: 22px;\n  line-height: 22px;\n  transition: all .3s;\n  font-size: 12px;\n  border: 1px solid #f4f4f4;\n  color:black;\n  font-weight:bold;\n}\n\n.container {\n  width: 100%; /* Full width */\n  background-color: #ddd; /* Grey background */\n}\n\n.skills {\n  text-align: right; /* Right-align text */\n  padding-top: 10px; /* Add top padding */\n  padding-bottom: 10px; /* Add bottom padding */\n  color: white; /* White text color */\n}\n\n.html {width: 90%; background-color: #4CAF50;} /* Green */\n.css {width: 80%; background-color: #2196F3;} /* Blue */\n.js {width: 65%; background-color: #f44336;} /* Red */\n.php {width: 60%; background-color: #808080;} /* Dark Grey */\n\n.base-timer {\n  position: relative;\n  width: 300px;\n  height: 300px;\n}\n\n.base-timer__svg {\n  transform: scaleX(-1);\n}\n\n.base-timer__circle {\n  fill: none;\n  stroke: none;\n}\n\n.base-timer__path-elapsed {\n  stroke-width: 7px;\n  stroke: grey;\n}\n\n.base-timer__path-remaining {\n  stroke-width: 7px;\n  stroke-linecap: round;\n  transform: rotate(90deg);\n  transform-origin: center;\n  transition: 1s linear all;\n  fill-rule: nonzero;\n  stroke: currentColor;\n}\n\n.base-timer__path-remaining.green {\n  color: rgb(65, 184, 131);\n}\n\n.base-timer__path-remaining.orange {\n  color: orange;\n}\n\n.base-timer__path-remaining.red {\n  color: red;\n}\n\n.base-timer__label {\n  position: absolute;\n  width: 300px;\n  height: 300px;\n  top: 0;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  font-size: 48px;\n}\n\n* {\n  box-sizing: border-box;\n}\n\n/* Remove margins and padding from the list */\nul {\n  margin: 0;\n  padding: 0;\n}\n\n/* Style the list items */\nul li {\n  cursor: pointer;\n  position: relative;\n  padding: 12px 8px 12px 40px;\n  background: #eee;\n  font-size: 18px;\n  transition: 0.2s;\n  list-style-type: none;\n\n  /* make the list items unselectable */\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n\n/* Set all odd list items to a different color (zebra-stripes) */\nul li:nth-child(odd) {\n  background: #f9f9f9;\n}\n\n/* Darker background-color on hover */\nul li:hover {\n  background: #ddd;\n}\n\n/* When clicked on, add a background color and strike out text */\nul li.checked {\n  background: #888;\n  color: #fff;\n  text-decoration: line-through;\n}\n\n/* Add a \"checked\" mark when clicked on */\nul li.checked::before {\n  content: '';\n  position: absolute;\n  border-color: #fff;\n  border-style: solid;\n  border-width: 0 2px 2px 0;\n  top: 10px;\n  left: 16px;\n  transform: rotate(45deg);\n  height: 15px;\n  width: 7px;\n}\n\n/* Style the close button */\n.close {\n  position: absolute;\n  right: 0;\n  top: 0;\n  padding: 12px 16px 12px 16px;\n}\n\n.close:hover {\n  background-color: #f44336;\n  color: white;\n}\n\n/* Style the header */\n.header {\n  background-color: #f44336;\n  padding: 20px 40px;\n  color: white;\n  text-align: center;\n  width: 1500px;\n}\n\n/* Clear floats after the header */\n.header:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n\n/* Style the input */\ninput {\n  margin: 0;\n  border: none;\n  border-radius: 0;\n  width: 75%;\n  padding: 10px;\n  float: left;\n  font-size: 16px;\n}\n\n/* Style the \"Add\" button */\n.addBtn {\n  padding: 10px;\n  width: 25%;\n  background: #d9d9d9;\n  color: #555;\n  float: left;\n  text-align: center;\n  font-size: 16px;\n  cursor: pointer;\n  transition: 0.3s;\n  border-radius: 0;\n}\n\n.addBtn:hover {\n  background-color: #bbb;\n}\n\n/* The dropdown container */\n.dropdown {\n  float: left;\n  overflow: hidden;\n}\n\n/* Dropdown button */\n.dropdown .dropbtn {\n  font-size: 20px;\n  width: 80px;\n  border: none;\n  outline: none;\n  color: black;\n  padding: 14px 16px;\n  background-color: inherit;\n  font-family: inherit; /* Important for vertical align on mobile phones */\n  margin: 0; /* Important for vertical align on mobile phones */\n  padding: 0;\n}\n\n/* Add a red background color to navbar links on hover */\n.dropdown:hover .dropbtn {\n  background-color: orange;\n}\n\n/* Dropdown content (hidden by default) */\n.dropdown-content {\n  display: none;\n  position: absolute;\n  background-color: #f9f9f9;\n  min-width: 160px;\n  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n  z-index: 1;\n}\n\n/* Links inside the dropdown */\n.dropdown-content a {\n  float: none;\n  color: black;\n  padding: 12px 16px;\n  text-decoration: none;\n  display: block;\n  text-align: left;\n}\n\n/* Add a grey background color to dropdown links on hover */\n.dropdown-content a:hover {\n  background-color: #ddd;\n}\n\n/* Show the dropdown menu on hover */\n.dropdown:hover .dropdown-content {\n  display: block;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}","output":"str","x":380,"y":40,"wires":[["484f7800.fd3bf8"]]},{"id":"6d3eb622.6451f8","type":"http in","z":"2c16ebac.f30834","name":"Template","url":"/template.css","method":"get","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["3599389f.525068"]]}]
