src/farmers_market_page_Yueting_10-28.json
[{"id":"ab0e3fc6.91853","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/farmers_market","method":"get","upload":false,"swaggerDoc":"","x":280,"y":2360,"wires":[["b3f6b1a3.01d6a"]]},{"id":"fad1a4c4.14b528","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1350,"y":2360,"wires":[]},{"id":"f4ed394a.7027f8","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n      <title>Farmers</title>\n        <style>\n        hr {\n        width:100%;\n        margin:0 auto;\n        border: 0;\n        height: 6px;\n        background: #333;\n        background-image: linear-gradient(to left, red, #333, rgb(9, 206, 91));\n        }\n        \n        \n        #marketSearchBar {\n          background-image: url('/css/searchicon.png'); // unused\n          background-position: 10px 12px;\n          background-repeat: no-repeat;\n          width: 100%;\n          text-align:center;\n          display: block;\n          font-size: 16px;\n          padding: 12px 20px 12px 40px;\n          border: 1px solid #ddd;\n          margin-bottom: 12px;\n        }\n        </style>\n\n    </head>\n    \n\t<body onload='list()'>\n        <h1 style=\"text-align:center\" align=\"center\">Farmers Market</h1>\n        <hr> \n\n\t\t{{!-- type = \"text\" comes from CSS node of Login --}}\n        <input align = \"center“ type=\"text\" id=\"marketSearchBar\" onkeyup=\"\" placeholder=\"Search for a market..\" title=\"\">\n        \n        {{!-- Search by city, state or zip --}}\n        <input align = \"left“  id=\"citySearchBar\" onkeyup=\"\" placeholder=\"city\" title=\"\">\n        <input type=\"submit\" value=\"Search by City\">\n        <br/>\n\n        <input align = \"left“  id=\"stateSearchBar\" onkeyup=\"\" placeholder=\"state\" title=\"\">\n        <input type=\"submit\" value=\"Search by State\">\n        <br/>\n        \n        <input align = \"left“  id=\"zipSearchBar\" onkeyup=\"\" placeholder=\"zip\" title=\"\">\n        <input type=\"submit\" value=\"Search by ZIP\">\n        \n        <br/>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n        <br/>\n\n\t\t<table  align=\"center\" border=\"3px\" style=\"width: 450px; font-size: 18px;\" id = \"farmers table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1210,"y":2360,"wires":[["fad1a4c4.14b528"]]},{"id":"96415f31.6549d","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":610,"y":2360,"wires":[["61711d3b.40d644"]]},{"id":"b3f6b1a3.01d6a","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from farmers order by FMID asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":460,"y":2360,"wires":[["96415f31.6549d"]]},{"id":"3fba9034.db1e1","type":"debug","z":"62fb9a8d.4ba494","name":"dataDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":790,"y":2440,"wires":[]},{"id":"c39ad09f.e9d37","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var marketName = \"{{marketName}}\".split(\",\"); \nvar city = \"{{city}}\".split(\",\"); \nvar state = \"{{state}}\".split(\",\"); \nvar zip = \"{{zip}}\".split(\",\"); \nvar website = \"{{website}}\".split(\",\"); \n\nHTML = \"<thread>\"\n+ \"<td> Market Name </td>\"\n+ \"<td> City </td>\"\n+ \"<td> State </td>\"\n+ \"<td> Zip code </td>\"\n+ \"<td> Website </td>\"\n+ \"</thread>\";\n\n\nfunction list(){\n    for(i=0; i < marketName.length; i++){\n        HTML += \"<tr>\" \n        \n        + \"<td>\"  + \"<a href = \" + website[i] + \"> \"+ marketName[i] + \"</a></td>\"\n        + \"<td>\" + city[i] + \"</td>\"\n        + \"<td>\" + state[i] + \"</td>\"\n        + \"<td>\" + zip[i] + \"</td>\"\n        + \"<td>\" + website[i] + \"</td>\"\n        \n        + \"</tr>\";\n\n    }\n    document.getElementById(\"farmers table\").innerHTML=HTML;\n}\n","output":"str","x":1020,"y":2360,"wires":[["f4ed394a.7027f8","4e37d9da.6a5248"]]},{"id":"61711d3b.40d644","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.marketName = []\nmsg.city = []\nmsg.state = []\nmsg.zip = []\nmsg.website = []\nfor(var i in msg.payload){\n    \n    msg.marketName.push(msg.payload[i]['MarketName'].replace(/,/g, \" \"));\n    msg.city.push(msg.payload[i]['city']);\n    msg.state.push(msg.payload[i]['State']);\n    msg.zip.push(msg.payload[i]['zip']);\n    msg.website.push(msg.payload[i]['Website']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":2360,"wires":[["c39ad09f.e9d37","3fba9034.db1e1"]]},{"id":"4e37d9da.6a5248","type":"debug","z":"62fb9a8d.4ba494","name":"jsDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1000,"y":2440,"wires":[]},{"id":"70b37da3.81f264","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]