src/farmers_market_page_Yueting_11-07.json
[{"id":"ab0e3fc6.91853","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/farmers_market","method":"get","upload":false,"swaggerDoc":"","x":240,"y":2600,"wires":[["b3f6b1a3.01d6a"]]},{"id":"fad1a4c4.14b528","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1330,"y":2600,"wires":[]},{"id":"f4ed394a.7027f8","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n      <title>Farmers</title>\n        <style>\n        hr {\n        width:100%;\n        margin:0 auto;\n        border: 0;\n        height: 6px;\n        background: #333;\n        background-image: linear-gradient(to left, red, #333, rgb(9, 206, 91));\n        }\n        \n        \n        .marketSearchBar {\n            \n          background-position: 10px 12px;\n          background-repeat: no-repeat;\n          width: 70%;\n          text-align:center;\n          display: block;\n          font-size: 16px;\n          padding: 12px 20px 12px 40px;\n          border: 1px solid #ddd;\n          margin-bottom: 12px;\n        }\n        \n        .searchBtn {\n          display: block;\n          width: 30%;\n          border: none;\n          background-color: #87CEFA;\n          color: white;\n          padding: 14px 28px;\n          font-size: 16px;\n          cursor: pointer;\n          text-align: center;\n        }\n        \n        .searchBtn:hover {\n          background-color: #ddd;\n          color: black;\n        }\n        </style>\n\n    </head>\n    \n\t<body onload='displayInfo(); displayByName(); displayByCity(); displayByState(); displayByZIP(); '>\n        <h1 style=\"text-align:center\" align=\"center\">Farmers Market</h1>\n        <hr> \n\n        <input align = \"center\" type=\"text\" id=\"nameSearchBar\" placeholder=\"Search for a market..\" class = \"marketSearchBar\">\n        <button id=\"\" onclick=\"displayByName()\" class = \"searchBtn\"> Search by Farmer Market Name </button>\n        <br/>\n        \n        {{!-- Search by city, state, zip, FMID --}}\n        <input type=\"text\" id=\"citySearchBar\" placeholder=\"city\" class = \"marketSearchBar\">\n        <button id=\"\" onclick=\"displayByCity()\" class = \"searchBtn\"> Search by City </button>\n        <br/>\n\n        <input type=\"text\"  id=\"stateSearchBar\" placeholder=\"state\" class = \"marketSearchBar\">\n        <button id=\"\" onclick=\"displayByState()\" class = \"searchBtn\"> Search by State </button>\n        <br/>\n        \n        <input type=\"text\" id=\"zipSearchBar\" placeholder=\"zip\" class = \"marketSearchBar\">\n        <button id=\"\" onclick=\"displayByZIP()\" class = \"searchBtn\"> Search by ZIP </button>\n        <br/>\n        \n        <input align = \"center\" type=\"text\" id=\"FMIDSearchText\" placeholder=\"FMID\" class = \"marketSearchBar\">\n        <button id=\"searchFMIDBtn\" onclick=\"displayByFMID()\" class = \"searchBtn\"> Search by FMID </button>\n        <br/>\n\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n        <br/>\n\t\t<table  align=\"center\" border=\"3px\" style=\"width: 450px; font-size: 18px;\" id = \"displayInfo\">\n\t\t</table>\n\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1170,"y":2600,"wires":[["fad1a4c4.14b528"]]},{"id":"96415f31.6549d","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":570,"y":2600,"wires":[["61711d3b.40d644"]]},{"id":"b3f6b1a3.01d6a","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from farmers order by FMID asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":2600,"wires":[["96415f31.6549d"]]},{"id":"3fba9034.db1e1","type":"debug","z":"62fb9a8d.4ba494","name":"dataDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":750,"y":2680,"wires":[]},{"id":"c39ad09f.e9d37","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var FMID = \"{{FMID}}\".split(\",\"); \nvar marketName = \"{{marketName}}\".split(\",\"); \nvar city = \"{{city}}\".split(\",\"); \nvar state = \"{{state}}\".split(\",\"); \nvar zip = \"{{zip}}\".split(\",\"); \nvar website = \"{{website}}\".split(\",\"); \n\nHTML = \"\" //Global variable\ninit_page = true;\nconsole.log(\"init page\");\n\n\nfunction displayByName(){\n}\nfunction displayByCity(){\n}\nfunction displayByState(){\n}\nfunction displayByZIP(){\n}\nfunction displayByFMID(){\n    console.log(\"\\ndisplayByFMID\");\n    var search_info = document.getElementById(\"FMIDSearchText\").value;\n    var found = false;\n    addTableHeader();\n    for(i=0; i < marketName.length; i++){\n        var value = FMID[i];\n        if(value.search(search_info) != -1 ){\n            found = true;\n            HTML += \"<tr>\" \n            + \"<td>\" + FMID[i] + \"</td>\"\n            + \"<td>\"  + \"<a href = \" + website[i] + \"> \"+ marketName[i] + \"</a></td>\"\n            + \"<td>\" + city[i] + \"</td>\"\n            + \"<td>\" + state[i] + \"</td>\"\n            + \"<td>\" + zip[i] + \"</td>\"\n            + \"<td>\" + website[i] + \"</td>\"\n            + \"</tr>\";\n        }\n    }\n    if(!found){\n        HTML = \"FMID not found\"\n    }\n    displayInfo();\n\n}\n\n\nfunction displayAllMarkets(){\n    console.log(\"displayAllMarkets\");\n\n    addTableHeader();\n    for(i=0; i < marketName.length; i++){\n        HTML += \"<tr>\" \n        + \"<td>\" + FMID[i] + \"</td>\"\n        + \"<td>\"  + \"<a href = \" + website[i] + \"> \"+ marketName[i] + \"</a></td>\"\n        + \"<td>\" + city[i] + \"</td>\"\n        + \"<td>\" + state[i] + \"</td>\"\n        + \"<td>\" + zip[i] + \"</td>\"\n        + \"<td>\" + website[i] + \"</td>\"\n        + \"</tr>\";\n    }\n}\n\nfunction addTableHeader(){\n        console.log(\"addTableHeader\");\n\n        HTML = \"<thread>\"\n        + \"<td> FMID </td>\"\n        + \"<td> Market Name </td>\"\n        + \"<td> City </td>\"\n        + \"<td> State </td>\"\n        + \"<td> Zip code </td>\"\n        + \"<td> Website </td>\"\n        + \"</thread>\";\n}\n\nfunction displayInfo(){\n    console.log(\"DISPLAYINFO\");\n    if(init_page){\n        displayAllMarkets();\n    }\n    init_page = false;\n    document.getElementById(\"displayInfo\").innerHTML=HTML;\n\n}\n\n\n","output":"str","x":980,"y":2600,"wires":[["f4ed394a.7027f8","4e37d9da.6a5248"]]},{"id":"61711d3b.40d644","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.FMID = []\nmsg.marketName = []\nmsg.city = []\nmsg.state = []\nmsg.zip = []\nmsg.website = []\nfor(var i in msg.payload){\n    msg.FMID.push(msg.payload[i]['FMID']);\n    msg.marketName.push(msg.payload[i]['MarketName'].replace(/,/g, \" \"));\n    msg.city.push(msg.payload[i]['city']);\n    msg.state.push(msg.payload[i]['State']);\n    msg.zip.push(msg.payload[i]['zip']);\n    msg.website.push(msg.payload[i]['Website']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":2600,"wires":[["c39ad09f.e9d37","3fba9034.db1e1"]]},{"id":"4e37d9da.6a5248","type":"debug","z":"62fb9a8d.4ba494","name":"jsDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":960,"y":2680,"wires":[]},{"id":"70b37da3.81f264","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]