src/farmers_market_page_Yueting_12-5 V1.json
[{"id":"1c161d58.1864b3","type":"comment","z":"7d77710b.cac0f","name":"Farmers Market Page","info":"","x":220,"y":120,"wires":[]},{"id":"2b057623.8dbe2a","type":"http in","z":"7d77710b.cac0f","name":"","url":"/farmers_market","method":"get","upload":false,"swaggerDoc":"","x":220,"y":360,"wires":[["d8041f88.90f43"]]},{"id":"af36ff30.9be88","type":"http response","z":"7d77710b.cac0f","name":"","statusCode":"","headers":{},"x":1310,"y":360,"wires":[]},{"id":"f456f2e0.d61c9","type":"template","z":"7d77710b.cac0f","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head>\n        <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/market_template.css\">\n    </head>\n\n    <body>\n        <div class=\"sidenav\">\n          <a href=\"/landin\">Recipe Search</a>\n          <a href=\"/user_profile\">User Profile</a>\n          <a href=\"/menu\">Menu</a>\n        </div>\n        \n        <div class=\"main\">\n            <div id=\"mainTitle\" class=\"header\">\n                <h2 style=\"font-size:30px;\" margin=\"center;\" >Farmers Market</h2>\n            </div>\n\n        </div>\n        \n        <input type =\"text\" id = \"marketText\" placeholder=\"Search...\">\n        <button id=\"marketBtn\" class=\"searchBtn\"  onclick=\"searchFunction()\"> Submit </button>\n        <div class=\"dropdown\">\n          <button id = searchByBtn class=\"dropbtn\">Search By</button>\n          <div class=\"dropdown-content\">\n          <a onclick=\"searchBy('name')\" >Market Name</a>\n          <a onclick=\"searchBy('city')\" >City</a>\n          <a onclick=\"searchBy('state')\" >State</a>\n          <a onclick=\"searchBy('zip')\" >ZIP Code</a>\n          <a onclick=\"searchBy('FMID')\" >ID</a>\n\n          </div>\n        </div>\n        <br/>\n    \n        <div style=\"width: max-content; margin-left: 250px;\">\n        <table border = 1px id = \"table\">\n\t    </table>\n        </div>\n\n        <div style=\"display: auto;\">\n\t    <button onclick=\"prev()\" id=\"prev\" class=\"pageBtn\" >Prev</button>\n\t    <button onclick=\"next()\" id=\"next\" class=\"pageBtn\" >Next</button>\n        </div>\n\n\t<script>\n\t{{{payload.script}}}\n\tvar search_info = document.getElementById(\"marketText\");\n    search_info.addEventListener(\"keyup\", function(event) {\n        if (event.keyCode === 13) {\n            event.preventDefault();\n            document.getElementById(\"marketBtn\").click();\n        }\n\n    });    \n\t</script>\n\n\t\n</html>","x":1150,"y":360,"wires":[["af36ff30.9be88"]]},{"id":"e8669f66.2517d","type":"mysql","z":"7d77710b.cac0f","mydb":"70b37da3.81f264","name":"","x":550,"y":360,"wires":[["5ae444b1.7eefbc"]]},{"id":"d8041f88.90f43","type":"function","z":"7d77710b.cac0f","name":"test","func":"var select=\"SELECT * from farmers order by FMID asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":360,"wires":[["e8669f66.2517d"]]},{"id":"12e9e246.040b6e","type":"debug","z":"7d77710b.cac0f","name":"dataDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":440,"wires":[]},{"id":"10614db6.0948c2","type":"template","z":"7d77710b.cac0f","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var marketName = \"{{marketName}}\".split(\",\");\nvar city = \"{{city}}\".split(\",\"); \nvar state = \"{{state}}\".split(\",\"); \nvar zip = \"{{zip}}\".split(\",\"); \nvar FMID = \"{{FMID}}\".split(\",\"); \nvar website = \"{{website}}\".split(\",\");\n\nvar cur = 1;\nvar marketSearched= [];\nvar citySearched= [];\nvar stateSearched= [];\nvar zipSearched= [];\nvar FMIDSearched= [];\nvar websiteSearched= [];\nvar searchByCondition = \"name\";\n\nHTML = \"\";\n\nfunction prev(){\n    cur -= 1;\n    if(cur == 1){\n        document.getElementById(\"prev\").style=\"display:none;\";\n    }\n    document.getElementById(\"next\").style=\"display:block;\";\n    HTML = \"\";\n    tableHeader();\n\n    var start = (cur-1)*20;\n    var num = start+1;\n    if(start + 20 >= marketSearched.length){\n        for(i=start; i < marketName.length; i++){\n          HTML += \"<tr>\" \n          + \"<td>\" + FMIDSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ marketSearched[i] + \"</a></td>\"\n          + \"<td>\" + citySearched[i] + \"</td>\"\n          + \"<td>\" + stateSearched[i] + \"</td>\"\n          + \"<td>\" + zipSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ websiteSearched[i] + \"</a></td>\"\n          + \"</tr>\";\n            num += 1;\n        }\n    }\n    else{\n        for(i=start; i < start+20; i++){\n          HTML += \"<tr>\" \n          + \"<td>\" + FMIDSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ marketSearched[i] + \"</a></td>\"\n          + \"<td>\" + citySearched[i] + \"</td>\"\n          + \"<td>\" + stateSearched[i] + \"</td>\"\n          + \"<td>\" + zipSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ websiteSearched[i] + \"</a></td>\"\n          + \"</tr>\";\n            num += 1;\n        }\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction next(){\n    \n    cur += 1;\n    if(cur*20 >= marketSearched.length){\n        document.getElementById(\"next\").style=\"display:none;\";\n    }\n    document.getElementById(\"prev\").style=\"display:block;\";\n    HTML = \"\";\n    tableHeader();\n\n    var start = (cur-1)*20;\n    var num = start+1;\n    if(start + 20 >= marketSearched.length){\n        for(i=start; i < marketSearched.length; i++){\n          HTML += \"<tr>\" \n          + \"<td>\" + FMIDSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ marketSearched[i] + \"</a></td>\"\n          + \"<td>\" + citySearched[i] + \"</td>\"\n          + \"<td>\" + stateSearched[i] + \"</td>\"\n          + \"<td>\" + zipSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ websiteSearched[i] + \"</a></td>\"\n          + \"</tr>\";\n            num += 1;\n        }\n    }\n    else{\n        for(i=start; i < start+20; i++){\n          HTML += \"<tr>\" \n          + \"<td>\" + FMIDSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ marketSearched[i] + \"</a></td>\"\n          + \"<td>\" + citySearched[i] + \"</td>\"\n          + \"<td>\" + stateSearched[i] + \"</td>\"\n          + \"<td>\" + zipSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ websiteSearched[i] + \"</a></td>\"\n          + \"</tr>\";\n            num += 1;\n        }\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction searchFunction(){\n    \n    marketSearched= [];\n    ids = [];\n    citySearched= [];\n    stateSearched= [];\n    zipSearched= [];\n    FMIDSearched= [];\n    websiteSearched= [];\n    HTML= \"\";\n    tableHeader();\n    var search_info = document.getElementById(\"marketText\").value;\n\n    for(i=0; i < marketName.length; i++){\n        switch(searchByCondition){\n            case \"name\":\n                value = marketName[i];\n                break;\n            case \"city\":\n                value = city[i];\n                break;\n            case \"state\":\n                value = state[i];\n                break;\n            case \"zip\":\n                value = zip[i];\n                break;        \n            case \"FMID\":\n                value = FMID[i];\n        }\n        if(value.toUpperCase().search(search_info.toUpperCase()) != -1 ){\n            marketSearched.push(marketName[i]);\n            citySearched.push(city[i]);\n            stateSearched.push(state[i]);\n            zipSearched.push(zip[i]);\n            FMIDSearched.push(FMID[i]);\n            websiteSearched.push(website[i]);\n        }\n    }\n    var num = 1;\n    if(marketSearched.length > 0 && marketSearched.length <= 20){\n        for(i=0; i<marketSearched.length; i++){\n          HTML += \"<tr>\" \n          + \"<td>\" + FMIDSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ marketSearched[i] + \"</a></td>\"\n          + \"<td>\" + citySearched[i] + \"</td>\"\n          + \"<td>\" + stateSearched[i] + \"</td>\"\n          + \"<td>\" + zipSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ websiteSearched[i] + \"</a></td>\"\n          + \"</tr>\";\n            num += 1;\n        }\n        document.getElementById(\"table\").style = \"display: block;\";\n        document.getElementById(\"table\").innerHTML=HTML;\n        document.getElementById(\"prev\").style=\"display:none\";\n        document.getElementById(\"next\").style=\"display:none\";\n    }\n    else if(marketSearched.length <= 0){\n        document.getElementById(\"table\").style = \"display: none;\";\n        document.getElementById(\"prev\").style=\"display:none\";\n        document.getElementById(\"next\").style=\"display:none\";\n    }\n    else{\n        num = 1;\n        for(i=0; i<20; i++){\n          HTML += \"<tr>\" \n          + \"<td>\" + FMIDSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ marketSearched[i] + \"</a></td>\"\n          + \"<td>\" + citySearched[i] + \"</td>\"\n          + \"<td>\" + stateSearched[i] + \"</td>\"\n          + \"<td>\" + zipSearched[i] + \"</td>\"\n          + \"<td>\"  + \"<a href = \" + websiteSearched[i] + \"> \"+ websiteSearched[i] + \"</a></td>\"\n          + \"</tr>\";\n            num += 1;\n        }\n        document.getElementById(\"table\").style = \"display: block;\";\n        document.getElementById(\"table\").innerHTML=HTML;\n        document.getElementById(\"next\").style=\"display:block;\";\n    }\n}\n\nfunction searchBy(input){\n    searchByCondition = input;\n    document.getElementById(\"searchByBtn\").innerHTML=\"Search by \" + input.toUpperCase();\n\n}\n\n\nfunction tableHeader(){\n  HTML = \"<thread>\"\n      + \"<th> FMID </th>\"\n      + \"<th> Market Name </th>\"\n      + \"<th> City </th>\"\n      + \"<th> State </th>\"\n      + \"<th> Zip code </th>\"\n      + \"<th> Website </th>\"\n      + \"</thread>\";\n}\n    ","output":"str","x":960,"y":360,"wires":[["f456f2e0.d61c9","91d3cfb7.1bf3f"]]},{"id":"5ae444b1.7eefbc","type":"function","z":"7d77710b.cac0f","name":"format data","func":"msg.FMID = []\nmsg.marketName = []\nmsg.city = []\nmsg.state = []\nmsg.zip = []\nmsg.website = []\nfor(var i in msg.payload){\n    msg.FMID.push(msg.payload[i]['FMID']);\n    msg.marketName.push(msg.payload[i]['MarketName'].replace(/,/g, \" \"));\n    msg.city.push(msg.payload[i]['city']);\n    msg.state.push(msg.payload[i]['State']);\n    msg.zip.push(msg.payload[i]['zip']);\n    msg.website.push(msg.payload[i]['Website']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":360,"wires":[["10614db6.0948c2","12e9e246.040b6e"]]},{"id":"91d3cfb7.1bf3f","type":"debug","z":"7d77710b.cac0f","name":"jsDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":440,"wires":[]},{"id":"27b2a228.135f4e","type":"http response","z":"7d77710b.cac0f","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":670,"y":220,"wires":[]},{"id":"41fdac9e.d52fc4","type":"template","z":"7d77710b.cac0f","name":"Market CSS","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n  font-family: \"Lato\", sans-serif;\n}\n\n.center {\n  margin-left: auto;\n  margin-right: auto;\n}\n\n/* Style the header */\n.header {\n  background-color: #f44336;\n  color: white;\n  text-align: center;\n  width: 100%;\n  height: 14%;\n  font-size: 62px;\n    \n}\n\n.topright {\n  position: absolute;\n  padding-top: 10px;\n  top: 8px;\n  right: 16px;\n  font-size: 18px;\n}\n\n\n\n.accountBtn {\n    display: flex;\n    justify-content: space-around;\n    background-color: #f44336; /* Red */\n    border: #f000000;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n\n}\n\n/* On mouse-over */\n.accountBtn:hover {\n  color: #f1f1f1;\n}\n\n/* Clear floats after the header */\n.header:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n\n\ninput[type=text] {\n  margin-left:40%;\n  width: 200px;\n  box-sizing: border-box;\n  border: 2px solid #ccc;\n  border-radius: 4px;\n  font-size: 16px;\n  background-color: white;\n  background-position: 10px 10px; \n  background-repeat: no-repeat;\n  padding: 12px 20px 12px 40px;\n  -webkit-transition: width 0.4s ease-in-out;\n  transition: width 0.4s ease-in-out;\n}\n\ninput[type=text]:focus {\n  width: 30%;\n}\n\n\n.searchBtn {\n    display: flex;\n    justify-content: space-around;\n    background-color: #818181;\n    border: #f000000;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n\n}\n\n/* On mouse-over */\n.searchBtn:hover {\n  color: #f1f1f1;\n}\n\n.pageBtn {\n    justify-content: center;\n    background-color: #818181;\n    border: #f000000;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display:none;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n    margin-left: auto;\n}\n\n/* On mouse-over */\n.pageBtn:hover {\n  color: #f1f1f1;\n}\n\n\n\n/* landin Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n\n\n.titleBtn {\n  background-color: #f44336; /* Red */\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\n\n.title {\n    color: white;\n    display: flex;\n    justify-content: space-between;\n\n}\n\n/* On mouse-over */\n.title:hover {\n  color: #f1f1f1;\n}\n\n.dropbtn {\n  background-color: #ffad33;\n  color: white;\n  padding: 16px;\n  font-size: 16px;\n  border: none;\n  cursor: pointer;\n}\n\n.dropdown {\n  position: relative;\n  display: inline-block;\n}\n\n.dropdown-content {\n  display: none;\n  position: absolute;\n  background-color: #f9f9f9;\n  min-width: 160px;\n  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n  z-index: 1;\n}\n\n.dropdown-content a {\n  color: black;\n  padding: 12px 16px;\n  text-decoration: none;\n  display: block;\n}\n\n.dropdown-content a:hover {background-color: #f1f1f1}\n\n.dropdown:hover .dropdown-content {\n  display: block;\n}\n\n.dropdown:hover .dropbtn {\n  background-color: #3e8e41;\n}\n\n\n\n#table {\n  font-family: Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\n#table td, #table th {\n  border: 2px solid #ddd;\n  padding: 8px;\n\n\n}\n\n#table tr:nth-child(even){background-color: #f2f2f2;}\n\n#table tr:hover {background-color: #ddd;}\n\n#table th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #ffad33;\n  color: white;\n}\na {\n    color: black;\n    text-decoration: none;\n}\n","output":"str","x":410,"y":220,"wires":[["27b2a228.135f4e"]]},{"id":"935435ea.a2bc88","type":"http in","z":"7d77710b.cac0f","name":"market template","url":"/market_template.css","method":"get","upload":false,"swaggerDoc":"","x":200,"y":220,"wires":[["41fdac9e.d52fc4"]]},{"id":"f7a7b42.aae8f48","type":"http response","z":"7d77710b.cac0f","name":"","statusCode":"","headers":{},"x":810,"y":560,"wires":[]},{"id":"b998e4ec.461db8","type":"template","z":"7d77710b.cac0f","name":"HTML","field":"payload","fieldType":"msg","format":"html","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n      <title>Farmers</title>\n        <style>\n        \n\n\n        hr {\n        width:100%;\n        margin:0 auto;\n        border: 0;\n        height: 6px;\n        background: #333;\n        background-image: linear-gradient(to left, red, #333, rgb(9, 206, 91));\n        }\n        \n        \n        .marketSearchBar {\n            \n          background-position: 10px 12px;\n          background-repeat: no-repeat;\n          width: 60%;\n          text-align:center;\n          \n          font-size: 16px;\n          padding: 12px 20px 12px 40px;\n          border: 1px solid #ddd;\n          margin-bottom: 12px;\n          \n\n        }\n        \n        .searchBtn {\n          \n          width: 20%;\n          border: none;\n          background-color: #87CEFA;\n          color: white;\n          padding: 14px 28px;\n          font-size: 16px;\n          cursor: pointer;\n          text-align: center;\n        }\n        \n        .searchBtn:hover {\n          background-color: #ddd;\n          color: black;\n        }\n        \n        .backBtn {\n          display: block;\n          border: none;\n          background-color: #F0F0F0 ;\n          color: black;\n          padding: 14px 28px;\n          font-size: 16px;\n          cursor: pointer;\n          text-align: center;\n        }\n        \n        .backBtn:hover {\n          background-color: #ddd;\n          color: white;\n        }\n        \n        </style>\n\n    </head>\n    \n\t<body onload='displayInfo(); displayResult(\"none\"); '>\n\t    <div>\n        <h1 style=\"text-align:center\" align=\"center\">Farmers Market</h1>\n        <hr> \n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" class = \"backBtn\"> Back to Landin Page </button>\n\t    </div>\n\n        <div>\n        <input align = \"center\" type=\"text\" id=\"nameSearchText\" placeholder=\"Search for a market..\" class = \"marketSearchBar\" style=\"display: inline;\">\n        <button id=\"searchNameBtn\" onclick=\"displayResult('name')\" class = \"searchBtn\"> Search by Farmer Market Name </button>\n        <br/>\n        \n        {{!-- Search by city, state, zip, FMID --}}\n        <input type=\"text\" id=\"citySearchText\" placeholder=\"city\" class = \"marketSearchBar\">\n        <button id=\"searchCityBtn\" onclick=\"displayResult('city')\" class = \"searchBtn\"> Search by City </button>\n        <br/>\n\n        <input type=\"text\"  id=\"stateSearchText\" placeholder=\"state\" class = \"marketSearchBar\">\n        <button id=\"searchStateBtn\" onclick=\"displayResult('state')\" class = \"searchBtn\"> Search by State </button>\n        <br/>\n        \n        <input type=\"text\" id=\"zipSearchText\" placeholder=\"zip\" class = \"marketSearchBar\">\n        <button id=\"searchZIPBtn\" onclick=\"displayResult('zip')\" class = \"searchBtn\"> Search by ZIP </button>\n        <br/>\n        \n        <input align = \"center\" type=\"text\" id=\"FMIDSearchText\" placeholder=\"FMID\" class = \"marketSearchBar\">\n        <button id=\"searchFMIDBtn\" onclick='displayResult(\"FMID\")' class = \"searchBtn\"> Search by FMID </button>\n        <br/>\n        </div>\n        \n        <br/>\n\t\t<table  align=\"center\" border=\"3px\" style=\"width: 450px; font-size: 18px;\" id = \"displayInfo\">\n\t\t</table>\n\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":650,"y":560,"wires":[["f7a7b42.aae8f48"]]},{"id":"bf4052d3.cf6f4","type":"template","z":"7d77710b.cac0f","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var marketName = \"{{marketName}}\".split(\",\"); \nvar city = \"{{city}}\".split(\",\"); \nvar state = \"{{state}}\".split(\",\"); \nvar zip = \"{{zip}}\".split(\",\"); \nvar website = \"{{website}}\".split(\",\"); \nvar FMID = \"{{FMID}}\".split(\",\"); \n\nHTML = \"\" //Global variable\ninit_page = true;\nconsole.log(\"init page\");\n\n\nfunction displayResult(btnName){\n    console.log(\"\\ndisplayResult\");\n    if(btnName == \"none\") return; // init the page\n    var search_info;\n    var found = false;\n    var count = 0;\n    // determine which search bar user used\n    switch(btnName){\n        case \"name\":\n            search_info = document.getElementById(\"nameSearchText\").value;\n            break;\n        case \"city\":\n            search_info = document.getElementById(\"citySearchText\").value;\n            break;\n        case \"state\":\n            search_info = document.getElementById(\"stateSearchText\").value;\n            break;\n        case \"zip\":\n            search_info = document.getElementById(\"zipSearchText\").value;\n            break;        \n        case \"FMID\":\n            search_info = document.getElementById(\"FMIDSearchText\").value;\n    }\n    if(search_info == \"\" || search_info == null) return;\n    \n    var start = performance.now();\n    // search and add the table to the HTML\n    addTableHeader();\n    var value;\n    for(i=0; i < marketName.length; i++){\n        switch(btnName){\n            case \"name\":\n                value = marketName[i];\n                break;\n            case \"city\":\n                value = city[i];\n                break;\n            case \"state\":\n                value = state[i];\n                break;\n            case \"zip\":\n                value = zip[i];\n                break;        \n            case \"FMID\":\n                value = FMID[i];\n        }\n        \n        if(value.toUpperCase().search(search_info.toUpperCase()) != -1 ){\n            found = true;\n            count += 1;\n            HTML += \"<tr>\" \n            + \"<td>\" + FMID[i] + \"</td>\"\n            + \"<td>\"  + \"<a href = \" + website[i] + \"> \"+ marketName[i] + \"</a></td>\"\n            + \"<td>\" + city[i] + \"</td>\"\n            + \"<td>\" + state[i] + \"</td>\"\n            + \"<td>\" + zip[i] + \"</td>\"\n            + \"<td>\" + website[i] + \"</td>\"\n            + \"</tr>\";\n        }\n    }\n    \n    var end = performance.now();\n    var search_time = (end - start)*0.001\n    console.log(`Seach result in ${search_time} second`);\n    console.log(count);\n\n    if(!found){\n        HTML = \"[\" + search_info + \"] is Not Found\"\n    }\n    displayInfo();\n\n}\n\n\nfunction displayAllMarkets(){\n    console.log(\"displayAllMarkets\");\n\n    addTableHeader();\n    for(i=0; i < marketName.length; i++){\n        HTML += \"<tr>\" \n        + \"<td>\" + FMID[i] + \"</td>\"\n        + \"<td>\"  + \"<a href = \" + website[i] + \"> \"+ marketName[i] + \"</a></td>\"\n        + \"<td>\" + city[i] + \"</td>\"\n        + \"<td>\" + state[i] + \"</td>\"\n        + \"<td>\" + zip[i] + \"</td>\"\n        + \"<td>\" + website[i] + \"</td>\"\n        + \"</tr>\";\n    }\n}\n\nfunction addTableHeader(){\n        console.log(\"addTableHeader\");\n\n        HTML = \"<thread>\"\n        + \"<td> FMID </td>\"\n        + \"<td> Market Name </td>\"\n        + \"<td> City </td>\"\n        + \"<td> State </td>\"\n        + \"<td> Zip code </td>\"\n        + \"<td> Website </td>\"\n        + \"</thread>\";\n}\n\nfunction displayInfo(){\n    console.log(\"DISPLAYINFO\");\n    if(init_page){\n        displayAllMarkets();\n    }\n    init_page = false;\n    document.getElementById(\"displayInfo\").innerHTML=HTML;\n\n}\n\n\n\n\n\n","output":"str","x":460,"y":560,"wires":[["b998e4ec.461db8"]]},{"id":"70b37da3.81f264","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]