src/landin_v2-Xiaoyu-12-02
[{"id":"26dce1ae.fa0dde","type":"http in","z":"15a96b37.43e0c5","name":"","url":"/landin","method":"get","upload":false,"swaggerDoc":"","x":270,"y":420,"wires":[["561d1f8a.784c2"]]},{"id":"a38f6335.94ae8","type":"http response","z":"15a96b37.43e0c5","name":"","statusCode":"","headers":{},"x":1390,"y":420,"wires":[]},{"id":"31750169.1c0dde","type":"template","z":"15a96b37.43e0c5","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    </head><body>\n    \n        HELLO{{name}}! <br/>\n        <a href=\"register\" >register</a> <br/>\n        <a href=\"login\" style=\"{{disp}}\"> login <br/></a>\n        <a href=\"logout\" >logout</a> <br/>\n    \n    \n        <input type =\"text\" id = \"searchtxt\"  value = \"\" placeholder=\"Please enter....\"\n        style=\"font-size: 20px; margin-bottom: 12px; width: 45%; border: 1px solid; padding: 12px 20px 12px 15px\">\n    \n    \n        <button id=\"btn\" style=\"font-size: 25px\" onclick=\"searchFunction()\"> Search </button>\n        <br/>\n    \n    \n        <table border = 1px id = \"table\">\n\t    </table>\n\t    <span onclick=\"prev()\" id=\"prev\" style=\"display:none; color: blue;\">prev</span>\n\t    <span onclick=\"next()\" id=\"next\" style=\"display:none; color: blue;\">next</span>\n    \n        <button onclick=\"location.href = 'farmers_market';\" id=\"farmers_market_btn\" style=\"font-size: 20px\" > Checkout Farmers Market </button>\n        <br/>\n        <button onclick=\"location.href = 'recipe';\" id=\"recipes_btn\" style=\"font-size: 20px\" > Checkout Recipes </button>\n        <br/>\n        <button onclick=\"location.href = 'user_profile';\" id=\"user_profile_btn\" style=\"font-size: 20px\" > Checkout User Profile </button>\n        <br/>\n        <button onclick=\"location.href = 'menu';\" id=\"menu_btn\" style=\"font-size: 20px\" > Checkout Menu </button>\n\n        <a href=\"admin\" style=\"{{disp1}}\">Admin page <br/></a>\n        <script>{{{payload.script}}}</script>\n    </body>\n</html>","output":"str","x":1210,"y":420,"wires":[["a38f6335.94ae8"]]},{"id":"561d1f8a.784c2","type":"function","z":"15a96b37.43e0c5","name":"Load Cookies","func":"var a = Object.keys(msg.req.cookies);\nvar redirect = 1;\nfor (var i in a) {\n  if(a[i] == \"id\"){\n      redirect = 0;\n  }\n}\n\nvar select=\"SELECT * from recipes order by id asc\";\nmsg.topic = util.format(select);\n\nif(redirect == 1){\n    //msg.headers = {};\n    //msg.headers.location = \"/login\";\n    //msg.statusCode = 302;\n    msg.name = msg.req.cookies.id;\n    msg.disp = \"\";\n    msg.disp1 = \"display:none\";\n}else{\n    //var b = global.get(msg.req.cookies.id);\n    msg.disp1 = \"display:none\";\n    msg.name = \" \" + msg.req.cookies.id;\n    if(msg.req.cookies.id == \"admin\"){\n        msg.disp1 = \"\";\n    }\n    msg.disp = \"display:none\";\n    //msg[\"personal_info\"] = b.personal_info;\n    //msg[\"letter\"] = \"\";\n    //msg.letter = msg.personal_info.first_name[0];\n    //msg.persona_image = global.get(msg.personal_info.first_name);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":420,"wires":[["4fa2e199.166df"]]},{"id":"bce88d6e.d5a57","type":"template","z":"15a96b37.43e0c5","name":"","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \nvar cur = 1;\nvar recipes= [];\nHTML = \"\";\n\nfunction prev(){\n    cur -= 1;\n    if(cur == 1){\n        document.getElementById(\"prev\").style=\"display:none;\"\n    }\n    document.getElementById(\"next\").style=\"display:block; color: blue;\"\n    HTML = \"\";\n    var start = (cur-1)*20;\n    var num = start+1;\n    if(start + 20 >= recipes.length){\n        for(i=start; i < array.length; i++){\n            HTML += \"<tr><td>\" + num.toString() + \". \" + recipes[i] + \"</td></tr>\";\n            num += 1\n        }\n    }\n    else{\n        for(i=start; i < start+20; i++){\n            HTML += \"<tr><td>\" + num.toString() + \". \" + recipes[i] + \"</td></tr>\";\n            num += 1\n        }\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction next(){\n    cur += 1;\n    if(cur*20 >= recipes.length){\n        document.getElementById(\"next\").style=\"display:none;\"\n    }\n    document.getElementById(\"prev\").style=\"display:block;color: blue;\"\n    HTML = \"\";\n    var start = (cur-1)*20;\n    var num = start+1;\n    if(start + 20 >= recipes.length){\n        for(i=start; i < recipes.length; i++){\n            HTML += \"<tr><td>\" + num.toString() + \". \" + recipes[i] + \"</td></tr>\";\n            num += 1\n        }\n    }\n    else{\n        for(i=start; i < start+20; i++){\n            HTML += \"<tr><td>\" + num.toString() + \". \" + recipes[i] + \"</td></tr>\";\n            num += 1\n        }\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction searchFunction(){\n    \n    recipes= [];\n    HTML= \"\";\n    \n    var search_info = document.getElementById(\"searchtxt\").value.toLowerCase();\n    for(i=0; i < array.length; i++){\n        var value = array[i].toLowerCase();\n        if(value.search(search_info) != -1 ){\n            recipes.push(array[i]);\n        }\n    }\n    if(recipes.length > 0 && recipes.length <= 20){\n        var num = 1;\n        for(i=0; i<recipes.length; i++){\n            HTML += \"<tr><td>\" + num.toString() + \". \" + recipes[i] + \"</td></tr>\";\n            num += 1;\n        }\n        document.getElementById(\"table\").style = \"display: block;  width: 450px; font-size: 30px;\";\n        document.getElementById(\"table\").innerHTML=HTML;\n        document.getElementById(\"prev\").style=\"display:none\"\n        document.getElementById(\"next\").style=\"display:none\"\n    }\n    else if(recipes.length <= 0){\n        document.getElementById(\"table\").style = \"display: none;\"\n        document.getElementById(\"prev\").style=\"display:none\"\n        document.getElementById(\"next\").style=\"display:none\"\n    }\n    else{\n        var num = 1;\n        for(i=0; i<20; i++){\n            HTML += \"<tr><td>\" + num.toString() + \". \" + recipes[i] + \"</td></tr>\";\n            num += 1;\n        }\n        document.getElementById(\"table\").style = \"display: block;  width: 450px; font-size: 30px;\"\n        document.getElementById(\"table\").innerHTML=HTML;\n        document.getElementById(\"next\").style=\"display:block; color: blue;\"\n    }\n}","output":"str","x":1020,"y":420,"wires":[["31750169.1c0dde","af5beaa3.1c0e78"]]},{"id":"af5beaa3.1c0e78","type":"debug","z":"15a96b37.43e0c5","name":"mysitepost","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1070,"y":240,"wires":[]},{"id":"4fa2e199.166df","type":"mysql","z":"15a96b37.43e0c5","mydb":"1fcf80ef.c73f9f","name":"","x":650,"y":420,"wires":[["70107a14.aec5b4","d0ec35a1.7a7168"]]},{"id":"70107a14.aec5b4","type":"debug","z":"15a96b37.43e0c5","name":"mysitepost","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":690,"y":240,"wires":[]},{"id":"d0ec35a1.7a7168","type":"function","z":"15a96b37.43e0c5","name":"","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":840,"y":420,"wires":[["bce88d6e.d5a57"]]},{"id":"1fcf80ef.c73f9f","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
