src/recipePage_Ruisi_10_17
[{"id":"11527bf9.30bd34","type":"http in","z":"b0827aed.818358","name":"","url":"/recipe","method":"get","upload":false,"swaggerDoc":"","x":210,"y":1560,"wires":[["99a50dba.811d9"]]},{"id":"906e459c.8ff548","type":"http response","z":"b0827aed.818358","name":"","x":1290,"y":1560,"wires":[]},{"id":"a8e7f516.e5d6d8","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1150,"y":1560,"wires":[["906e459c.8ff548"]]},{"id":"2590ce94.e91ba2","type":"mysql","z":"b0827aed.818358","mydb":"c440435d.98b8b","name":"","x":550,"y":1560,"wires":[["53876a64.6e4af4"]]},{"id":"99a50dba.811d9","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT instruction from instructions order by instruction_number asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1560,"wires":[["2590ce94.e91ba2"]]},{"id":"201325c1.0ac5ca","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":710,"y":1640,"wires":[]},{"id":"5ef7b9bf.c585b8","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\"Cheese,Bread,Chocolate,Coconut\";\nvar array = array.split(\",\"); //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nHTML = \"<thread><td>Instructions</td></thread>\";\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":960,"y":1560,"wires":[["a8e7f516.e5d6d8"]]},{"id":"53876a64.6e4af4","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i][\"instruction\"]);\n}\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1560,"wires":[["5ef7b9bf.c585b8","201325c1.0ac5ca"]]},{"id":"c440435d.98b8b","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"test","tz":""}]
