src/UploadRegister_Ruisi_12.5
[{"id":"12236b5.83efd95","type":"http in","z":"a39d9c09.38e5e","name":"","url":"/login","method":"get","upload":false,"swaggerDoc":"","x":160,"y":120,"wires":[["bd67dec6.37e31"]]},{"id":"debf22f1.218ef","type":"http in","z":"a39d9c09.38e5e","name":"","url":"/verify_account","method":"post","upload":false,"swaggerDoc":"","x":220,"y":460,"wires":[["13c57f42.f41b81","bd0c7962.356b08"]]},{"id":"bd67dec6.37e31","type":"function","z":"a39d9c09.38e5e","name":"msg.url = \"verify_account\"","func":"msg.url = \"verify_account\";\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":120,"wires":[["eee24291.9c01c"]]},{"id":"b56b09ad.b21da8","type":"debug","z":"a39d9c09.38e5e","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":760,"y":420,"wires":[]},{"id":"d6d983bd.d3c87","type":"http response","z":"a39d9c09.38e5e","name":"","x":1180,"y":460,"wires":[]},{"id":"70fee027.27b8d","type":"template","z":"a39d9c09.38e5e","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=password], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":830,"y":120,"wires":[["e49f4390.aad88"]]},{"id":"eee24291.9c01c","type":"template","z":"a39d9c09.38e5e","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function redirect(returnhtml) {\n    window.location = returnhtml;\n}\n\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){   \n                redirect(returnhtml);\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":670,"y":120,"wires":[["70fee027.27b8d","eb7c9e80.fec6f"]]},{"id":"c23aacb8.8a47c","type":"http response","z":"a39d9c09.38e5e","name":"","x":1110,"y":120,"wires":[]},{"id":"e49f4390.aad88","type":"template","z":"a39d9c09.38e5e","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2 style=\"text-align:center\">Login to your Account!</h2>\n\n<div style=\"width:500px;margin:auto\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">Username</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Password</label>\n    <input type=\"password\" id=\"lname\" name=\"lastname\">\n  \n    <input type=\"submit\" value=\"Login\">\n  </form>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":970,"y":120,"wires":[["c23aacb8.8a47c"]]},{"id":"32f53e29.6e8f92","type":"function","z":"a39d9c09.38e5e","name":"return msg.payload to client","func":"if(msg.payload.length !== 0){\n    var json = JSON.parse(msg.payload[0]);\n    msg.payload = '/landin';//'The following data was submitted and available in the msg.payload: ' + json[\"name\"] + \" \" + json[\"password\"];\n    msg.cookies = { };\n    msg.cookies[\"id\"] = json[\"username\"];\n}else{\n    msg.payload = '/login';//'Error!';\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":970,"y":460,"wires":[["d6d983bd.d3c87"]]},{"id":"8033e8ad.33c868","type":"mysql","z":"a39d9c09.38e5e","mydb":"9bc36b30.4298c8","name":"","x":580,"y":460,"wires":[["1e303b1c.6f99d5","b56b09ad.b21da8"]]},{"id":"13c57f42.f41b81","type":"function","z":"a39d9c09.38e5e","name":"test","func":"var select=\"SELECT * from users WHERE username = '%s' and password = '%s'\";\n\nmsg.topic = util.format(select, msg.payload.firstname, msg.payload.lastname);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":460,"wires":[["8033e8ad.33c868"]]},{"id":"1e303b1c.6f99d5","type":"json","z":"a39d9c09.38e5e","name":"","property":"payload[0]","action":"","pretty":false,"x":740,"y":460,"wires":[["32f53e29.6e8f92"]]},{"id":"bd0c7962.356b08","type":"debug","z":"a39d9c09.38e5e","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":400,"y":400,"wires":[]},{"id":"d1e830e5.d65e2","type":"http in","z":"a39d9c09.38e5e","name":"","url":"/register","method":"get","upload":false,"swaggerDoc":"","x":170,"y":160,"wires":[["b5ae91b2.e02e5"]]},{"id":"b5ae91b2.e02e5","type":"function","z":"a39d9c09.38e5e","name":"msg.url = \"create_account\"","func":"msg.url = \"create_account\";\nreturn msg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["a83fc085.69bc5"]]},{"id":"5f19da77.5f7874","type":"template","z":"a39d9c09.38e5e","name":"CSS","field":"payload.style","fieldType":"msg","format":"css","syntax":"mustache","template":"input[type=password], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=text], select {\n    width: 100%;\n    padding: 12px 20px;\n    margin: 8px 0;\n    display: inline-block;\n    border: 1px solid #ccc;\n    border-radius: 4px;\n    box-sizing: border-box;\n}\n\ninput[type=submit] {\n    width: 100%;\n    background-color: #4CAF50;\n    color: white;\n    padding: 14px 20px;\n    margin: 8px 0;\n    border: none;\n    border-radius: 4px;\n    cursor: pointer;\n}\n\ninput[type=submit]:hover {\n    background-color: #45a049;\n}\n\ndiv {\n    border-radius: 5px;\n    background-color: #f2f2f2;\n    padding: 20px;\n}","x":830,"y":160,"wires":[["ca259bf6.bc58d8"]]},{"id":"a83fc085.69bc5","type":"template","z":"a39d9c09.38e5e","name":"JavaScript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"plain","template":"function redirect(returnhtml) {\n    window.location = returnhtml;\n}\n\n$(document).ready(function(e) {\n    \n    $(\"form[ajax=true]\").submit(function(e) {\n        \n        e.preventDefault();\n        \n        var form_data = $(this).serialize();\n        var form_url = $(this).attr(\"action\");\n        var form_method = $(this).attr(\"method\").toUpperCase();\n        \n        $(\"#loadingimg\").show();\n        \n        $.ajax({\n            url: form_url, \n            type: form_method,      \n            data: form_data,     \n            cache: false,\n            success: function(returnhtml){   \n                redirect(returnhtml);\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n        });    \n        \n    });\n    \n});","x":670,"y":160,"wires":[["5f19da77.5f7874"]]},{"id":"99597cdd.64e1a","type":"http response","z":"a39d9c09.38e5e","name":"","x":1110,"y":160,"wires":[]},{"id":"ca259bf6.bc58d8","type":"template","z":"a39d9c09.38e5e","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n  <head>\n    <title>My Site</title>\n    <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\">\n    <meta charset=\"utf-8\">\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <style>{{{payload.style}}}</style>\n  </head>\n  \n\n    <h2 style=\"text-align:center\">Register New Account!</h2>\n\n<div style=\"width:500px;margin:auto\">\n  <form method=\"post\" action=\"/{{url}}\" ajax=\"true\">\n    <label for=\"fname\">Username</label>\n    <input type=\"text\" id=\"fname\" name=\"firstname\">\n\n    <label for=\"lname\">Password</label>\n    <input type=\"password\" id=\"lname\" name=\"lastname\">\n  \n    <input type=\"submit\" value=\"Login\">\n  </form>\n</div>\n\n</body>\n</html>\n<script>{{{payload.script}}}</script>","x":970,"y":160,"wires":[["99597cdd.64e1a"]]},{"id":"3b9076d2.9de06a","type":"http in","z":"a39d9c09.38e5e","name":"","url":"/create_account","method":"post","upload":false,"swaggerDoc":"","x":200,"y":260,"wires":[["a8561b56.ae7128","36f4dc7.a1f7424"]]},{"id":"adbce0b8.652db","type":"debug","z":"a39d9c09.38e5e","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":220,"wires":[]},{"id":"309fd94e.356856","type":"http response","z":"a39d9c09.38e5e","name":"","x":2060,"y":240,"wires":[]},{"id":"9f2e72a.992d99","type":"function","z":"a39d9c09.38e5e","name":"return msg.payload to client","func":"//var json = JSON.parse(msg.payload[0]);\nvar insert=\"INSERT INTO users VALUES ('%s', '%s')\";\nmsg.topic = util.format(insert, msg.name, msg.pwd);\n\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":280,"wires":[["6bec6611.85aaa8"]]},{"id":"a8f9e68.bae9c18","type":"mysql","z":"a39d9c09.38e5e","mydb":"9bc36b30.4298c8","name":"","x":680,"y":260,"wires":[["486b95d6.1c17ac","adbce0b8.652db"]]},{"id":"a8561b56.ae7128","type":"function","z":"a39d9c09.38e5e","name":"test","func":"var insertOneStudent=\"INSERT INTO students VALUES (5, '%s', '%s', '%s', '%s')\";\nvar select=\"SELECT * from users WHERE username = '%s'\";\n\nmsg.topic = util.format(select, msg.payload.firstname);\n\nmsg.name = msg.payload.firstname;\nmsg.pwd = msg.payload.lastname;\n\nmsg.assert = 1;\nif(msg.name === \"\" || msg.pwd === \"\" || msg.pwd.length > 16 || msg.name.length > 25){\n    msg.assert = 0;\n}\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["5e7b41fa.df358"]]},{"id":"486b95d6.1c17ac","type":"json","z":"a39d9c09.38e5e","name":"","property":"payload[0]","action":"","pretty":false,"x":840,"y":260,"wires":[["6fe029c.ef000d8"]]},{"id":"36f4dc7.a1f7424","type":"debug","z":"a39d9c09.38e5e","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":380,"y":200,"wires":[]},{"id":"6fe029c.ef000d8","type":"switch","z":"a39d9c09.38e5e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1030,"y":260,"wires":[["4ec16497.51909c"],["9f2e72a.992d99"]]},{"id":"4ec16497.51909c","type":"function","z":"a39d9c09.38e5e","name":"return back","func":"msg.payload = '/register';\nreturn msg;","outputs":1,"noerr":0,"x":1220,"y":240,"wires":[["309fd94e.356856"]]},{"id":"2d55f8cb.a81f98","type":"function","z":"a39d9c09.38e5e","name":"return msg.payload to client","func":"msg.payload = '/landin';//'Error!';\nmsg.cookies = { };\nmsg.cookies[\"id\"] = msg.name;\n\nreturn msg;","outputs":1,"noerr":0,"x":1850,"y":280,"wires":[["309fd94e.356856"]]},{"id":"6bec6611.85aaa8","type":"mysql","z":"a39d9c09.38e5e","mydb":"9bc36b30.4298c8","name":"","x":1480,"y":280,"wires":[["ca9be718.7a1918"]]},{"id":"ca9be718.7a1918","type":"json","z":"a39d9c09.38e5e","name":"","property":"payload[0]","action":"","pretty":false,"x":1620,"y":280,"wires":[["2d55f8cb.a81f98"]]},{"id":"eb7c9e80.fec6f","type":"debug","z":"a39d9c09.38e5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":60,"wires":[]},{"id":"5e7b41fa.df358","type":"switch","z":"a39d9c09.38e5e","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":540,"y":260,"wires":[["a8f9e68.bae9c18"],["5949afd9.430ab"]]},{"id":"5949afd9.430ab","type":"change","z":"a39d9c09.38e5e","name":"Redirect to /landin","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/register","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":320,"wires":[["b43b4166.5f1e5"]]},{"id":"b43b4166.5f1e5","type":"http response","z":"a39d9c09.38e5e","name":"","statusCode":"","headers":{},"x":900,"y":320,"wires":[]},{"id":"9bc36b30.4298c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
