src/UserProfile_Yifan_12.4.json
[{"id":"d08faf04.81c4e","type":"comment","z":"cdfea766.e4e218","name":"User profile page","info":"","x":560,"y":1240,"wires":[]},{"id":"23e1be32.ac1f12","type":"http in","z":"cdfea766.e4e218","name":"","url":"/user_profile","method":"get","upload":false,"swaggerDoc":"","x":640,"y":1500,"wires":[["ec9f0be7.f6a5e8"]]},{"id":"acbf1d19.a033","type":"http response","z":"cdfea766.e4e218","name":"","statusCode":"","headers":{},"x":1710,"y":1500,"wires":[]},{"id":"2f5ed540.d104fa","type":"template","z":"cdfea766.e4e218","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='userdata();preferences();allergies()'>\n\t\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table1\">\n\t\t</table>\n\t\t\n\t\t{{!-- add by preference and allergy --}}\n\t\t<div>\n        <input align = \"center\" type=\"text\" id=\"preferenceText\" name=\"preference\" placeholder=\"Add a preference\" class = \"preferenceAdd\" style=\"display: inline;\">\n        <button id=\"addPreferenceBtn\" onclick=\"inputBox('preference')\" class = \"searchBtn\"> Add a preference </button>\n        <br/>\n        \n        \n        <input align = \"center\" type=\"text\" id=\"allergyText\" name=\"allergy\" placeholder=\"Add an allergy\" class = \"allergyAdd\" style=\"display: inline;\">\n        <button id=\"addAllergyBtn\" onclick=\"inputBox('allergy')\" class = \"searchBtn\"> Add an allergy </button>\n        <br/>\n        </div>\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table2\">\n\t\t</table>\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table3\">\n\t\t</table>\n\t\t\n    \t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n    \t<script>{{{payload.script}}}</script>\n\t\t\n\t\t\n\t</body>\n\t\n\t\n</html>","output":"str","x":1570,"y":1500,"wires":[["acbf1d19.a033"]]},{"id":"30307368.73c50c","type":"mysql","z":"cdfea766.e4e218","mydb":"3f8ca3b.12a1e5c","name":"","x":970,"y":1500,"wires":[["b0e0c6aa.6ecfd8"]]},{"id":"ec9f0be7.f6a5e8","type":"function","z":"cdfea766.e4e218","name":"test","func":"var select=\"SELECT username, password FROM users\";\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1500,"wires":[["30307368.73c50c"]]},{"id":"33baf813.ad3a68","type":"template","z":"cdfea766.e4e218","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \nvar loginname=\"{{name}}\";\n\nvar arrayP = \"{{dataP}}\"; //\nvar arrayP = arrayP.split(\",\");\nvar arrayA = \"{{dataA}}\"; //\nvar arrayA = arrayA.split(\",\");\n\nfunction userdata(){\n    HTML = \"<thread><td>\" + \"USERNAME\" +  \n        \"</td>\"+\"<td>\"+\"PASSWORD\"+\"</td></thread>\";\n    for(i=0; i < array.length; i++){\n        if (loginname==array[i]){\n            HTML += \"<tr><td>\" + array[i] + \"</td>\";\n            HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n        }\n    }\n    document.getElementById(\"table1\").innerHTML=HTML;\n}\n\nfunction inputBox(btnName){\n    console.log(\"\\ninputBox\");\n    if(btnName == \"none\") return; // init the page\n    var search_info;\n    // determine which add bar user used\n    switch(btnName){\n        case \"preference\":\n            search_info = document.getElementById(\"preferenceText\").value;\n            break;\n        case \"allergy\":\n            search_info = document.getElementById(\"allergyText\").value;\n            break;\n    }\n    if(search_info === \"\" || search_info === null) return;\n    // Add input into dietary preference database\n    $.ajax({\n            url: \"/create_preference\", \n            type: \"post\",      \n            data: {\"ingredient\":search_info,\"cases\":btnName},     \n            cache: false,\n            success: function(returnhtml){   \n                window.location=\"/user_profile\";\n                //location.reload();\n\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n    });   \n    \n}   \n\nfunction preferences(){\n    HTML = \"<thread><td>\" + \"PREFERENCES\" + \"</td></thread>\";\n    for(i=0; i < arrayP.length; i++){\n        HTML += \"<tr><td>\" + arrayP[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table2\").innerHTML=HTML;\n}\n\nfunction allergies(){\n    HTML = \"<thread><td>\"+\"ALLERGIES\"+\"</td></thread>\";\n    for(i=0; i < arrayA.length; i++){\n        HTML += \"<tr><td>\" + arrayA[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table3\").innerHTML=HTML;\n}","output":"str","x":1380,"y":1500,"wires":[["2f5ed540.d104fa"]]},{"id":"b0e0c6aa.6ecfd8","type":"function","z":"cdfea766.e4e218","name":"format data","func":"\nmsg.data = []\nmsg.data2 = []\nmsg.dataP = []\nmsg.dataA = []\nmsg.name=[]\nfor(var i in msg.payload){\n        msg.data.push(msg.payload[i]['username']);\n        msg.data2.push(msg.payload[i]['password']);\n}\nmsg.name.push(msg.req.cookies.id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1500,"wires":[["5b181ffe.eaf74"]]},{"id":"c14ee3dd.163a3","type":"http in","z":"cdfea766.e4e218","name":"","url":"/create_preference","method":"post","upload":false,"swaggerDoc":"","x":770,"y":1640,"wires":[["8f154c7e.da4cd","394ca30b.d4379c"]]},{"id":"394ca30b.d4379c","type":"function","z":"cdfea766.e4e218","name":"return msg.payload to client","func":"var insert1=\"INSERT INTO preferences VALUES ('%s', '%s')\";\nvar insert2=\"INSERT INTO allergies VALUES ('%s', '%s')\";\n\nif (msg.payload.cases==\"preference\"){\n    msg.topic = util.format(insert1, msg.req.cookies.id, msg.payload.ingredient);\n}\nelse if (msg.payload.cases==\"allergy\"){\n    msg.topic = util.format(insert2, msg.req.cookies.id, msg.payload.ingredient);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1140,"y":1640,"wires":[["9c0dcd1.15bb63"]]},{"id":"8f154c7e.da4cd","type":"debug","z":"cdfea766.e4e218","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1010,"y":1580,"wires":[]},{"id":"9c0dcd1.15bb63","type":"mysql","z":"cdfea766.e4e218","mydb":"40c13bd4.0f0904","name":"","x":1350,"y":1640,"wires":[["fdc279a1.e59438"]]},{"id":"fdc279a1.e59438","type":"http response","z":"cdfea766.e4e218","name":"","statusCode":"","headers":{},"x":1490,"y":1640,"wires":[]},{"id":"e8978556.406ff8","type":"mysql","z":"cdfea766.e4e218","mydb":"3f8ca3b.12a1e5c","name":"","x":970,"y":1440,"wires":[["e0be9aa6.81f518"]]},{"id":"5b181ffe.eaf74","type":"function","z":"cdfea766.e4e218","name":"test","func":"\nvar select1=\"SELECT ingredient FROM preferences WHERE username='%s'\";\nmsg.topic = util.format(select1,msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1440,"wires":[["e8978556.406ff8"]]},{"id":"e0be9aa6.81f518","type":"function","z":"cdfea766.e4e218","name":"format data","func":"\n\nmsg.dataP = []\n\n\nfor(var j in msg.payload){\n        msg.dataP.push(msg.payload[j]['ingredient']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1440,"wires":[["8a6d9af5.e09538"]]},{"id":"1066f958.6fdcc7","type":"mysql","z":"cdfea766.e4e218","mydb":"3f8ca3b.12a1e5c","name":"","x":970,"y":1380,"wires":[["8f7fdc2b.5a657"]]},{"id":"8a6d9af5.e09538","type":"function","z":"cdfea766.e4e218","name":"test","func":"\nvar select2=\"SELECT ingredient FROM allergies WHERE username='%s'\";\nmsg.topic = util.format(select2,msg.req.cookies.id);\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":810,"y":1380,"wires":[["1066f958.6fdcc7"]]},{"id":"8f7fdc2b.5a657","type":"function","z":"cdfea766.e4e218","name":"format data","func":"\n\nmsg.dataA = []\n\n\nfor(var k in msg.payload){\n        msg.dataA.push(msg.payload[k]['ingredient']);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1150,"y":1380,"wires":[["33baf813.ad3a68"]]},{"id":"3f8ca3b.12a1e5c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""},{"id":"40c13bd4.0f0904","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]