node-red update/farmers_market_page_Yueting_10-24.json
[{"id":"7dca580d.f3b928","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/farmers_market","method":"get","upload":false,"swaggerDoc":"","x":220,"y":3860,"wires":[["e83c0c0.ad513f8"]]},{"id":"64394f1b.95b87","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1290,"y":3860,"wires":[]},{"id":"613e36f2.391bc8","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n      <title>Farmers</title>\n        <style>\n        hr {\n        width:100%;\n        margin:0 auto;\n        border: 0;\n        height: 6px;\n        background: #333;\n        background-image: linear-gradient(to left, red, #333, rgb(9, 206, 91));\n        }\n        \n        \n        #marketSearchBar {\n          background-image: url('/css/searchicon.png'); // unused\n          background-position: 10px 12px;\n          background-repeat: no-repeat;\n          width: 100%;\n          text-align:center;\n          display: block;\n          font-size: 16px;\n          padding: 12px 20px 12px 40px;\n          border: 1px solid #ddd;\n          margin-bottom: 12px;\n        }\n        </style>\n\n    </head>\n    \n\t<body onload='list()'>\n        <h1 style=\"text-align:center\" align=\"center\">Farmers Market</h1>\n        <hr>\n\t\t<a href=\"https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_filter_list\" id = \"website link\"> LINK  </a> \n        <input align = \"center“ type=\"text\" id=\"marketSearchBar\" onkeyup=\"\" placeholder=\"Search for a market..\" title=\"\">\n\n        <br/>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n        <br/>\n\n\t\t<table  align=\"center\" border=\"3px\" style=\"width: 450px; font-size: 18px;\" id = \"farmers table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1150,"y":3860,"wires":[["64394f1b.95b87"]]},{"id":"3060346b.9e3dfc","type":"mysql","z":"62fb9a8d.4ba494","mydb":"70b37da3.81f264","name":"","x":550,"y":3860,"wires":[["1521b874.1335a8"]]},{"id":"e83c0c0.ad513f8","type":"function","z":"62fb9a8d.4ba494","name":"test","func":"var select=\"SELECT * from farmers order by FMID asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":3860,"wires":[["3060346b.9e3dfc"]]},{"id":"cc5bdfe5.a40ca","type":"debug","z":"62fb9a8d.4ba494","name":"dataDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":730,"y":3940,"wires":[]},{"id":"e0ee5a44.8b5a28","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var marketName = \"{{marketName}}\".split(\",\"); \nvar city = \"{{city}}\".split(\",\"); \nvar state = \"{{state}}\".split(\",\"); \nvar zip = \"{{zip}}\".split(\",\"); \nvar website = \"{{website}}\".split(\",\"); \n\nHTML = \"<thread>\"\n+ \"<td> Market Name </td>\"\n+ \"<td> City </td>\"\n+ \"<td> State </td>\"\n+ \"<td> Zip code </td>\"\n+ \"<td> Website </td>\"\n+ \"</thread>\";\n\n\nfunction list(){\n    for(i=0; i < marketName.length; i++){\n        HTML += \"<tr>\" \n        \n        + \"<td >\" + marketName[i] + \"</td>\"\n        + \"<td>\" + city[i] + \"</td>\"\n        + \"<td>\" + state[i] + \"</td>\"\n        + \"<td>\" + zip[i] + \"</td>\"\n        + \"<td>\" + website[i] + \"</td>\"\n        \n        + \"</tr>\";\n\n    }\n    document.getElementById(\"farmers table\").innerHTML=HTML;\n}\n","output":"str","x":960,"y":3860,"wires":[["613e36f2.391bc8","a973f514.ccee98"]]},{"id":"1521b874.1335a8","type":"function","z":"62fb9a8d.4ba494","name":"format data","func":"msg.marketName = []\nmsg.city = []\nmsg.state = []\nmsg.zip = []\nmsg.website = []\nfor(var i in msg.payload){\n    \n    msg.marketName.push(msg.payload[i]['MarketName'].replace(/,/g, \" \"));\n    msg.city.push(msg.payload[i]['city']);\n    msg.state.push(msg.payload[i]['State']);\n    msg.zip.push(msg.payload[i]['zip']);\n    msg.website.push(msg.payload[i]['Website']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":3860,"wires":[["e0ee5a44.8b5a28","cc5bdfe5.a40ca"]]},{"id":"a973f514.ccee98","type":"debug","z":"62fb9a8d.4ba494","name":"jsDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":940,"y":3940,"wires":[]},{"id":"70b37da3.81f264","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]