node-red update/landin_page_Yueting_12.3_v1.json
[{"id":"2f08fd5f.a2e332","type":"comment","z":"62fb9a8d.4ba494","name":"Landin","info":"","x":170,"y":40,"wires":[]},{"id":"928eb3d4.6365e","type":"http in","z":"62fb9a8d.4ba494","name":"","url":"/landin","method":"get","upload":false,"swaggerDoc":"","x":180,"y":400,"wires":[["93837364.4b37f"]]},{"id":"4497869b.3ad9c8","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{},"x":1300,"y":400,"wires":[]},{"id":"66fbb962.5ed2a8","type":"template","z":"62fb9a8d.4ba494","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/landin_template.css\">\n    </head>\n    <body>\n        <div class=\"landinMain\">\n            <div id=\"mainTitle\" class=\"header\">\n                <h2 style=\"font-size:50px;\" margin=\"center;\" >2Cool2Cook</h2>\n            </div>\n            <div class=\"topright\">\n                <a href=\"register\" class=\"accountBtn\" >Register</a> <br/>\n                <a href=\"login\" style=\"{{disp}}\" class=\"accountBtn\"> Login </a> <br/>\n                <a href=\"logout\" class=\"accountBtn\" >Logout</a>\n            </div>\n            \n            <div id=\"subTitle\" class=\"header\">\n                <a href=\"/recipe\" class=\"titleBtn\">Recipes</a>\n                <a href=\"/menu\"class=\"titleBtn\">Menu</a>\n                <a href=\"/farmers_market\"class=\"titleBtn\">Farmers Market</a>\n                <a href=\"/user_profile\"class=\"titleBtn\">User Profile</a>\n            </div>\n\n        </div>\n        \n        \n        <input type =\"text\" id = \"recipeText\" placeholder=\"Search...\">\n        \n    \n        <button id=\"recipeBtn\" class=\"searchBtn\"  onclick=\"searchFunction()\"> Search </button>\n        <br/>\n    \n        <div style=\"width: max-content; margin: auto;\">\n        <table border = 1px id = \"table\" margin-left=\"100px;\">\n\t    </table>\n        </div>\n\n        <div style=\"display: auto;display: -webkit-inline-box;margin: auto;\">\n\t    <button onclick=\"prev()\" id=\"prev\" class=\"pageBtn\" >Prev</button>\n\t    <button onclick=\"next()\" id=\"next\" class=\"pageBtn\" >Next</button>\n        </div>\n\n\n    </body>\n</html>\n\n<script>\n    {{{payload.script}}}\n    var search_info = document.getElementById(\"recipeText\");\n    search_info.addEventListener(\"keyup\", function(event) {\n        if (event.keyCode === 13) {\n            event.preventDefault();\n            document.getElementById(\"recipeBtn\").click();\n        }\n        \n    });\n</script>","output":"str","x":1110,"y":400,"wires":[["4497869b.3ad9c8"]]},{"id":"93837364.4b37f","type":"function","z":"62fb9a8d.4ba494","name":"Load Cookies","func":"var a = Object.keys(msg.req.cookies);\nvar redirect = true;\nfor (var i in a) {\n  if(a[i] == \"id\"){\n      redirect = false;\n  }\n}\n\nvar select=\"SELECT * from recipes order by id asc\";\nmsg.topic = util.format(select);\n\nif(redirect){\n    //msg.headers = {};\n    //msg.headers.location = \"/login\";\n    //msg.statusCode = 302;\n    msg.name = msg.req.cookies.id;\n    msg.disp = \"\";\n    msg.disp1 = \"display:none\";\n}else{\n    //var b = global.get(msg.req.cookies.id);\n    msg.disp1 = \"display:none\";\n    msg.name = \" \" + msg.req.cookies.id;\n    if(msg.req.cookies.id == \"admin\"){\n        msg.disp1 = \"\";\n    }\n    msg.disp = \"display:none\";\n    //msg[\"personal_info\"] = b.personal_info;\n    //msg[\"letter\"] = \"\";\n    //msg.letter = msg.personal_info.first_name[0];\n    //msg.persona_image = global.get(msg.personal_info.first_name);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":390,"y":400,"wires":[["b8be15b7.ebcfe8"]]},{"id":"9b6c02dc.8df88","type":"template","z":"62fb9a8d.4ba494","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var title = \"{{title}}\".split(\",\");\nvar id = \"{{id}}\".split(\",\");\nvar cur = 1;\nvar recipes= [];\nHTML = \"\";\n\nfunction prev(){\n    cur -= 1;\n    if(cur == 1){\n        document.getElementById(\"prev\").style=\"display:none;\";\n    }\n    document.getElementById(\"next\").style=\"display:block;\";\n    HTML = \"\";\n    tableHeader();\n\n    var start = (cur-1)*20;\n    var num = start+1;\n    if(start + 20 >= recipes.length){\n        for(i=start; i < title.length; i++){\n            HTML += \"<tr>\" \n            + \"<td>\" + num.toString() + \"</td>\" \n            + \"<td>\"  + \"<a href = /recipe/\" + ids[i] + \"> \"+ recipes[i] + \"</a></td>\"\n            + \"</tr>\";\n            num += 1;\n        }\n    }\n    else{\n        for(i=start; i < start+20; i++){\n            HTML += \"<tr>\" \n            + \"<td>\" + num.toString() + \"</td>\" \n            + \"<td>\"  + \"<a href = /recipe/\" + ids[i] + \"> \"+ recipes[i] + \"</a></td>\"\n            + \"</tr>\";\n            num += 1;\n        }\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction next(){\n    \n    cur += 1;\n    if(cur*20 >= recipes.length){\n        document.getElementById(\"next\").style=\"display:none;\";\n    }\n    document.getElementById(\"prev\").style=\"display:block;\";\n    HTML = \"\";\n    tableHeader();\n\n    var start = (cur-1)*20;\n    var num = start+1;\n    if(start + 20 >= recipes.length){\n        for(i=start; i < recipes.length; i++){\n            HTML += \"<tr>\" \n            + \"<td>\" + num.toString() + \"</td>\" \n            + \"<td>\"  + \"<a href = /recipe/\" + ids[i] + \"> \"+ recipes[i] + \"</a></td>\"\n            + \"</tr>\";\n            num += 1;\n        }\n    }\n    else{\n        for(i=start; i < start+20; i++){\n            HTML += \"<tr>\" \n            + \"<td>\" + num.toString() + \"</td>\" \n            + \"<td>\"  + \"<a href = /recipe/\" + ids[i] + \"> \"+ recipes[i] + \"</a></td>\"\n            + \"</tr>\";\n            num += 1;\n        }\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction searchFunction(){\n    \n    recipes= [];\n    ids = [];\n    HTML= \"\";\n    tableHeader();\n    var search_info = document.getElementById(\"recipeText\").value.toLowerCase();\n    \n    for(i=0; i < title.length; i++){\n        var value = title[i].toLowerCase();\n        if(value.search(search_info) != -1 ){\n            recipes.push(title[i]);\n            ids.push(id[i]);\n            console.log(id[i]);\n        }\n    }\n    if(recipes.length > 0 && recipes.length <= 20){\n        var num = 1;\n        for(i=0; i<recipes.length; i++){\n            HTML += \"<tr>\" \n            + \"<td>\" + num.toString() + \"</td>\" \n            + \"<td>\"  + \"<a href = /recipe/\" + ids[i] + \"> \"+ recipes[i] + \"</a></td>\"\n            + \"</tr>\";\n            num += 1;\n        }\n        document.getElementById(\"table\").style = \"display: block;\";\n        document.getElementById(\"table\").innerHTML=HTML;\n        document.getElementById(\"prev\").style=\"display:none\";\n        document.getElementById(\"next\").style=\"display:none\";\n    }\n    else if(recipes.length <= 0){\n        document.getElementById(\"table\").style = \"display: none;\";\n        document.getElementById(\"prev\").style=\"display:none\";\n        document.getElementById(\"next\").style=\"display:none\";\n    }\n    else{\n        var num = 1;\n        for(i=0; i<20; i++){\n            HTML += \"<tr>\" \n            + \"<td>\" + num.toString() + \"</td>\" \n            + \"<td>\"  + \"<a href = /recipe/\" + ids[i] + \"> \"+ recipes[i] + \"</a></td>\"\n            + \"</tr>\";\n            num += 1;\n        }\n        document.getElementById(\"table\").style = \"display: block;\";\n        document.getElementById(\"table\").innerHTML=HTML;\n        document.getElementById(\"next\").style=\"display:block;\";\n    }\n}\n\nfunction tableHeader(){\n    HTML = \"<thead>\"\n        + \"<th> No </th>\"\n        + \"<th> Recipe Name </th>\"\n        + \"</thead>\";\n}\n    ","output":"str","x":930,"y":400,"wires":[["66fbb962.5ed2a8","f80061e1.e627b"]]},{"id":"f80061e1.e627b","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":970,"y":280,"wires":[]},{"id":"b8be15b7.ebcfe8","type":"mysql","z":"62fb9a8d.4ba494","mydb":"9b268914.2d0ae8","name":"","x":560,"y":400,"wires":[["6104cc44.142bf4","f123fae.4202f08"]]},{"id":"6104cc44.142bf4","type":"debug","z":"62fb9a8d.4ba494","name":"mysitepost","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":280,"wires":[]},{"id":"f123fae.4202f08","type":"function","z":"62fb9a8d.4ba494","name":"","func":"msg.title = []\nmsg.id = []\nfor(var i in msg.payload){\n    msg.title.push(msg.payload[i]['title']);\n    msg.id.push(msg.payload[i]['id']);\n\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":400,"wires":[["9b6c02dc.8df88"]]},{"id":"fc7ff5ff.0bda78","type":"http response","z":"62fb9a8d.4ba494","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":670,"y":160,"wires":[]},{"id":"9d89a1db.3f392","type":"template","z":"62fb9a8d.4ba494","name":"Landin CSS","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n  font-family: \"Lato\", sans-serif;\n}\n\n.center {\n  margin-left: auto;\n  margin-right: auto;\n}\n\n/* Style the header */\n.header {\n  background-color: #f44336;\n  color: white;\n  text-align: center;\n  width: 100%;\n  height: 14%;\n  font-size: 62px;\n    \n}\n\n.topright {\n  position: absolute;\n  padding-top: 10px;\n  top: 8px;\n  right: 16px;\n  font-size: 18px;\n}\n\n\n\n.accountBtn {\n    display: flex;\n    justify-content: space-around;\n    background-color: #f44336; /* Red */\n    border: #f000000;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n\n}\n\n/* On mouse-over */\n.accountBtn:hover {\n  color: #f1f1f1;\n}\n\n/* Clear floats after the header */\n.header:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n\n\ninput[type=text] {\n  margin-left:40%;\n  width: 200px;\n  box-sizing: border-box;\n  border: 2px solid #ccc;\n  border-radius: 4px;\n  font-size: 16px;\n  background-color: white;\n  background-position: 10px 10px; \n  background-repeat: no-repeat;\n  padding: 12px 20px 12px 40px;\n  -webkit-transition: width 0.4s ease-in-out;\n  transition: width 0.4s ease-in-out;\n}\n\ninput[type=text]:focus {\n  width: 30%;\n}\n\n\n.searchBtn {\n    display: flex;\n    justify-content: space-around;\n    background-color: #818181;\n    border: #f000000;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display: inline-block;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n\n}\n\n/* On mouse-over */\n.searchBtn:hover {\n  color: #f1f1f1;\n}\n\n.pageBtn {\n  justify-content: center;\n    background-color: #818181;\n    border: #f000000;\n    color: white;\n    padding: 15px 32px;\n    text-align: center;\n    text-decoration: none;\n    display:none;\n    font-size: 16px;\n    margin: 4px 2px;\n    cursor: pointer;\n    margin-left: auto;\n    margin-right: auto;\n\n}\n\n/* On mouse-over */\n.pageBtn:hover {\n  color: #f1f1f1;\n}\n\n\n\n/* landin Main content */\n.landinMain {\n  font-size: 20px; /* Increased text to enable scrolling */\n  width: 100%;\n\n}\n\n\n\n.titleBtn {\n  background-color: #f44336; /* Red */\n  border: none;\n  color: white;\n  padding: 15px 32px;\n  text-align: center;\n  text-decoration: none;\n  display: inline-block;\n  font-size: 16px;\n  margin: 4px 2px;\n  cursor: pointer;\n}\n\n\n.title {\n    color: white;\n    display: flex;\n    justify-content: space-between;\n\n}\n\n/* On mouse-over */\n.title:hover {\n  color: #f1f1f1;\n}\n\n\n#table {\n  font-family: Arial, Helvetica, sans-serif;\n  border-collapse: collapse;\n  width: 100%;\n}\n\n#table td, #table th {\n  border: 2px solid #ddd;\n  padding: 8px;\n\n\n}\n\n#table tr:nth-child(even){background-color: #f2f2f2;}\n\n#table tr:hover {background-color: #ddd;}\n\n#table th {\n  padding-top: 12px;\n  padding-bottom: 12px;\n  text-align: left;\n  background-color: #ffad33;\n  color: white;\n}\na {\n    color: black;\n    text-decoration: none;\n}\n","output":"str","x":410,"y":160,"wires":[["fc7ff5ff.0bda78"]]},{"id":"1c4ae2fc.5cc11d","type":"http in","z":"62fb9a8d.4ba494","name":"landin template","url":"/landin_template.css","method":"get","upload":false,"swaggerDoc":"","x":200,"y":160,"wires":[["9d89a1db.3f392"]]},{"id":"9b268914.2d0ae8","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]