node-red update/menuPage_Ruisi_11-29.json
[{"id":"4aaa7283.44789c","type":"http in","z":"b0827aed.818358","name":"","url":"/recipe/:recipe_id","method":"get","upload":false,"swaggerDoc":"","x":940,"y":2380,"wires":[["8a3d2da2.1e35f"]]},{"id":"c8bd0eb6.10005","type":"http response","z":"b0827aed.818358","name":"","x":1990,"y":2380,"wires":[]},{"id":"af5bd05a.ea7ed","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n    </head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t\n        <div class=\"dropdown\">\n            <button class=\"dropbtn\">Add to Menu\n                <i class=\"fa fa-caret-down\"></i>\n            </button>\n            <div class=\"dropdown-content\">\n                <a style = \"font-size:20px; cursor:pointer\" onclick=\"addtomenub('{{req.params.recipe_id}}');\"><u>Breakfast</u></a>\n                <a style = \"font-size:20px; cursor:pointer\" onclick=\"addtomenul('{{req.params.recipe_id}}');\"><u>Lunch</u></a>\n                <a style = \"font-size:20px; cursor:pointer\" onclick=\"addtomenud('{{req.params.recipe_id}}');\"><u>Dinner</u></a>\n            </div>\n        </div>\t\t\n        <script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1850,"y":2380,"wires":[["c8bd0eb6.10005"]]},{"id":"f5b2e924.b25538","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1250,"y":2380,"wires":[["6e737fa2.b5dad"]]},{"id":"8a3d2da2.1e35f","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT * from recipes order by id asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1120,"y":2380,"wires":[["f5b2e924.b25538"]]},{"id":"d9673b4d.f81918","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":2460,"wires":[]},{"id":"66063c6b.51fff4","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>Recipe Titles</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        //HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction addtomenub(id){\n    message = id;\n    $.ajax({\n        type: 'POST',\n        url: \"/addToMenu\",\n        data: {\"name\": message, \"type\": \"b\"},\n        success: function(returnhtml){\n            window.location = \"/recipe/\"+id;\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction addtomenul(id){\n    message = id;\n    $.ajax({\n        type: 'POST',\n        url: \"/addToMenu\",\n        data: {\"name\": message, \"type\": \"l\"},\n        success: function(returnhtml){\n            window.location = \"/recipe/\"+id;\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction addtomenud(id){\n    message = id;\n    $.ajax({\n        type: 'POST',\n        url: \"/addToMenu\",\n        data: {\"name\": message, \"type\": \"d\"},\n        success: function(returnhtml){\n            window.location = \"/recipe/\"+id;\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n","output":"str","x":1660,"y":2380,"wires":[["af5bd05a.ea7ed"]]},{"id":"6e737fa2.b5dad","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":2380,"wires":[["66063c6b.51fff4","d9673b4d.f81918"]]},{"id":"b43e2147.296bf","type":"http in","z":"b0827aed.818358","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2560,"wires":[["c66e9de6.b7cb9"]]},{"id":"1a637a7c.5cd2a6","type":"http response","z":"b0827aed.818358","name":"","x":2250,"y":2560,"wires":[]},{"id":"8f99b25e.d5c73","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":510,"y":2560,"wires":[["ddb5463c.fc2ca8"]]},{"id":"c66e9de6.b7cb9","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT recipe, title from menu join recipes on recipe = id where username = '%s' and type = 'b'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2560,"wires":[["8f99b25e.d5c73"]]},{"id":"d8b4e922.af0fb8","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":2620,"wires":[]},{"id":"1b6d3e0c.531de2","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"/*var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>Recipes</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}*/\n\nvar arrayb = \"{{datab}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar arrayb = arrayb.split(\",\");\nvar array2b = \"{{data2b}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array2b = array2b.split(\",\");\nfunction listb(){\n    HTML1 = \"\";\n    if(arrayb[0] !== \"\"){\n        for(i=0; i < arrayb.length; i++){\n            HTML1 += \"<tr><td>\" + arrayb[i] + \"</td>\";\n            HTML1 += \"<td><a  style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"myFunction(array2b, \" + i +\", 'b');\\\"><u>Delete</u></a></td>\";\n            HTML1 += \"<td><div class=\\\"dropdown\\\"><button class=\\\"dropbtn\\\">Move to<i class=\\\"fa fa-caret-down\\\"></i></button><div class=\\\"dropdown-content\\\"><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoLunchAjax(array2b, \" + i +\", 'b');\\\"><u>Lunch</u></a><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoDinnerAjax(array2b, \" + i +\", 'b');\\\"><u>Dinner</u></a></div></div></td></tr>\"\n        }\n    }\n    document.getElementById(\"tableb\").innerHTML=HTML1;\n}\n\nvar arrayl = \"{{datal}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar arrayl = arrayl.split(\",\");\nvar array2l = \"{{data2l}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array2l = array2l.split(\",\");\nfunction listl(){\n    HTML2 = \"\";\n    if(arrayl[0] !== \"\"){\n        for(i=0; i < arrayl.length; i++){\n            HTML2 += \"<tr><td>\" + arrayl[i] + \"</td>\";\n            HTML2 += \"<td><a  style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"myFunction(array2l, \" + i +\", 'l');\\\"><u>Delete</u></a></td>\";\n            HTML2 += \"<td><div class=\\\"dropdown\\\"><button class=\\\"dropbtn\\\">Move to<i class=\\\"fa fa-caret-down\\\"></i></button><div class=\\\"dropdown-content\\\"><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoBreakfastAjax(array2l, \" + i +\", 'l');\\\"><u>Breakfast</u></a><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoDinnerAjax(array2l, \" + i +\", 'l');\\\"><u>Dinner</u></a></div></div></td></tr>\"\n            \n        }\n    }\n    document.getElementById(\"tablel\").innerHTML=HTML2;\n}\n\nvar arrayd = \"{{datad}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar arrayd = arrayd.split(\",\");\nvar array2d = \"{{data2d}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array2d = array2d.split(\",\");\nfunction listd(){\n    HTML = \"\";\n    if(arrayd[0] !== \"\"){\n        for(i=0; i < arrayd.length; i++){\n            HTML += \"<tr><td>\" + arrayd[i] + \"</td>\";\n            HTML += \"<td><a  style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"myFunction(array2d, \" + i +\", 'd');\\\"><u>Delete</u></a></td>\";\n            HTML += \"<td><div class=\\\"dropdown\\\"><button class=\\\"dropbtn\\\">Move to<i class=\\\"fa fa-caret-down\\\"></i></button><div class=\\\"dropdown-content\\\"><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoBreakfastAjax(array2d, \" + i +\", 'd');\\\"><u>Breakfast</u></a><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoLunchAjax(array2d, \" + i +\", 'd');\\\"><u>Lunch</u></a></div></div></td></tr>\"\n        }\n    }\n    document.getElementById(\"tabled\").innerHTML=HTML;\n}\n\nfunction deleteAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/delete_menu\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction movetoBreakfastAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/move_Breakfast\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction movetoLunchAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/move_Lunch\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction movetoDinnerAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/move_Dinner\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction myFunction(array, i, type) {\n    var txt;\n    var r = confirm(\"Are you sure you want to delete this recipe from menu？\");\n    if (r === true) {\n        deleteAjax(array, i, type);\n    } else {\n        window.location = \"/menu\";\n    }\n}\n\narray = arrayb.concat(arrayl.concat(arrayd));\narray2 = array2b.concat(array2l.concat(array2d));\nHTML3 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML3 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='recipe/\" + array2[i] + \"'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML3;\n}\n","output":"str","x":1940,"y":2560,"wires":[["d04c4ba5.f3c408"]]},{"id":"ddb5463c.fc2ca8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.datab = []\nmsg.data2b = []\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] !== \"\"){\n        msg.datab.push(msg.payload[i]['title']);\n        msg.data2b.push(msg.payload[i]['recipe']);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2560,"wires":[["4ff7f8cd.3fa058","d8b4e922.af0fb8"]]},{"id":"3c545df5.dc38d2","type":"comment","z":"b0827aed.818358","name":"menu page","info":"","x":160,"y":2460,"wires":[]},{"id":"6fd482f0.d90c2c","type":"http in","z":"b0827aed.818358","name":"","url":"/menu/ingredients","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2680,"wires":[["b2f5c24f.e446c"]]},{"id":"93b8db40.f775b8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":570,"y":2680,"wires":[["398601cb.4b67de"]]},{"id":"b2f5c24f.e446c","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT ingredient, type, checked from menu_ingr where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2680,"wires":[["93b8db40.f775b8"]]},{"id":"e424d98a.ef7b38","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":2740,"wires":[]},{"id":"398601cb.4b67de","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.datab = [];\nmsg.data2b = [];\nmsg.datal = [];\nmsg.data2l = [];\nmsg.datad = [];\nmsg.data2d = [];\n\nfor(var i in msg.payload){\n    if(msg.payload[i]['type']  == \"b\"){\n        msg.datab.push(msg.payload[i]['ingredient'].replace(/,/g, \"@\"));\n        msg.data2b.push(msg.payload[i]['checked']);\n    } else if(msg.payload[i]['type']  == \"l\"){\n        msg.datal.push(msg.payload[i]['ingredient'].replace(/,/g, \"@\"));\n        msg.data2l.push(msg.payload[i]['checked']);\n    } else {\n        msg.datad.push(msg.payload[i]['ingredient'].replace(/,/g, \"@\"));\n        msg.data2d.push(msg.payload[i]['checked']);\n    }\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":2680,"wires":[["e424d98a.ef7b38","e6690567.014648"]]},{"id":"4ca7b7c4.91b438","type":"http response","z":"b0827aed.818358","name":"","x":1810,"y":2680,"wires":[]},{"id":"e5e0a31a.e8fe9","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var arrayb = \"{{datab}}\"; //\nvar arrayb = arrayb.split(\",\"); \nvar arrayl = \"{{datal}}\"; //\nvar arrayl = arrayl.split(\",\"); \nvar arrayd = \"{{datad}}\"; //\nvar arrayd = arrayd.split(\",\"); \n\nvar array2b = \"{{data2b}}\"; //\nvar array2b = array2b.split(\",\"); \nvar array2l = \"{{data2l}}\"; //\nvar array2l = array2l.split(\",\"); \nvar array2d = \"{{data2d}}\"; //\nvar array2d = array2d.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \nvar array3 = \"{{data3}}\"; //\nvar array3 = array3.split(\",\"); \n\nfunction listb(){\n    HTML = \"\";\n    for(i=0; i < arrayb.length; i++){\n        if(array2b[i] == 0){\n            HTML += \"<li>\" + arrayb[i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML += \"<li class = 'checked'>\" + arrayb[i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULb\").innerHTML=HTML;\n}\n\nfunction listl(){\n    HTML1 = \"\";\n    for(i=0; i < arrayl.length; i++){\n        if(array2l[i] == 0){\n            HTML1 += \"<li>\" + arrayl[i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML1 += \"<li class = 'checked'>\" + arrayl[i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULl\").innerHTML=HTML1;\n}\n\nfunction listd(){\n    HTML3 = \"\";\n    for(i=0; i < arrayd.length; i++){\n        if(array2d[i] == 0){\n            HTML3 += \"<li>\" + arrayd[i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML3 += \"<li class = 'checked'>\" + arrayd[i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULd\").innerHTML=HTML3;\n}\n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array2.length; i++){\n        HTML2 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='/recipe/\" + array3[i] + \"'>\" + array2[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\nfunction changeb(ingr){\n    message = ingr;\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ingr_stat\",\n        data: {\"name\": message, \"type\": \"b\"},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction changel(ingr){\n    message = ingr;\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ingr_stat\",\n        data: {\"name\": message, \"type\": \"l\"},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction changed(ingr){\n    message = ingr;\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ingr_stat\",\n        data: {\"name\": message, \"type\": \"d\"},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nvar myNodelist = document.getElementsByTagName(\"LI\");\nvar i;\nfor (i = 0; i < myNodelist.length; i++) {\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  myNodelist[i].appendChild(span);\n}\n\n// Click on a close button to hide the current list item\nvar close = document.getElementsByClassName(\"close\");\nvar i;\nfor (i = 0; i < close.length; i++) {\n  close[i].onclick = function() {\n    var div = this.parentElement;\n    div.style.display = \"none\";\n  }\n}\n\n// Add a \"checked\" symbol when clicking on a list item\nvar list = document.querySelectorAll('ul');\nlist[0].addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    changeb(ev.target.innerHTML);\n  }\n}, false);\n\nlist[1].addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    changel(ev.target.innerHTML);\n  }\n}, false);\n\nlist[2].addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    changed(ev.target.innerHTML);\n  }\n}, false);\n\n// Create a new list item when clicking on the \"Add\" button\nfunction newElement() {\n  var li = document.createElement(\"li\");\n  var inputValue = document.getElementById(\"myInput\").value;\n  var t = document.createTextNode(inputValue);\n  li.appendChild(t);\n  if (inputValue === '') {\n    alert(\"You must write something!\");\n  } else {\n    document.getElementById(\"myUL\").appendChild(li);\n  }\n  document.getElementById(\"myInput\").value = \"\";\n\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  li.appendChild(span);\n\n  for (i = 0; i < close.length; i++) {\n    close[i].onclick = function() {\n      var div = this.parentElement;\n      div.style.display = \"none\";\n    }\n  }\n}","output":"str","x":1480,"y":2680,"wires":[["1c91dc42.a3ed14"]]},{"id":"352718e.e6cdde8","type":"http in","z":"b0827aed.818358","name":"","url":"/menu/nutrients","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2820,"wires":[["fe960104.7dd61"]]},{"id":"7ffa78c9.f95b48","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":560,"y":2820,"wires":[["e0395199.f9ab7"]]},{"id":"fe960104.7dd61","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT title, id from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2820,"wires":[["7ffa78c9.f95b48"]]},{"id":"d243b4a6.8cd808","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":2880,"wires":[]},{"id":"e0395199.f9ab7","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nmsg.data1 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n    msg.data1.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2820,"wires":[["d243b4a6.8cd808","2381310.52e39d"]]},{"id":"566a02bb.3d247c","type":"http response","z":"b0827aed.818358","name":"","x":1260,"y":2820,"wires":[]},{"id":"2381310.52e39d","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"diction = {};\ndiction[\"calories\"] = \"calories\";\ndiction[\"fat\"] = \"total_fat\";\ndiction[\"carbohydrate\"] = \"total_carbohydrates\";\ndiction[\"protein\"] = \"protein\";\ndiction[\"All\"] = \"a\";\ndiction[\"Breakfast\"] = \"b\";\ndiction[\"Lunch\"] = \"l\";\ndiction[\"Dinner\"] = \"d\";\n\nfunction invoke_piechart(nut){\n    function get_sum(response) {\n        compare_piechart(nut, response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/sum_ajax\",\n        data: {\"name\": diction[nut]},\n        success: get_sum\n   });\n}\n\nfunction compare_piechart(name, data) {\ndocument.getElementById(\"name1\").innerHTML=name;\nvar sum = data.reduce(function(a, b){return a + b;}, 0);\nresult = [];\nfor(var i in data){\n    result.push(Math.round(data[i]/sum * 10000) / 100);\n}\n\nvar chart = new CanvasJS.Chart(\"chartContainer2\", {\n    theme: \"light2\",\n\tanimationEnabled: true,\n\ttitle: {\n\t\ttext: \"Total \" + name.charAt(0).toUpperCase() + name.slice(1) + \" Value comparised by Meal\"\n\t},\n\tdata: [{\n\t\ttype: \"pie\",\n\t\tindexLabelFontSize: 18,\n\t\tradius: 120,\n\t\tindexLabel: \"{label} - {y}\",\n\t\tyValueFormatString: \"###0.0\\\"%\\\"\",\n\t\tclick: explodePie,\n\t\tdataPoints: [\n\t\t\t{ y: result[0], label: \"Breakfast\" },\n\t\t\t{ y: result[1], label: \"Lunch\"},\n\t\t\t{ y: result[2], label: \"Dinner\" }\n\t\t]\n\t}]\n});\nchart.render();\n\nfunction explodePie(e) {\n\tfor(var i = 0; i < e.dataSeries.dataPoints.length; i++) {\n\t\tif(i !== e.dataPointIndex)\n\t\t\te.dataSeries.dataPoints[i].exploded = false;\n\t}\n}\n}\n\nfunction nutrients_piechart(data) {\nvar sum = data.reduce(function(a, b){return a + b;}, 0);\nresult = [];\nfor(var i in data){\n    result.push(Math.round(data[i]/sum * 10000) / 100);\n}\n\nvar chart = new CanvasJS.Chart(\"chartContainer\", {\n\ttheme: \"light2\",\n\tanimationEnabled: true,\n\ttitle: {\n\t\ttext: \"Total nutrients in Recipes\"\n\t},\n\tdata: [{\n\t\ttype: \"pie\",\n\t\tindexLabelFontSize: 18,\n\t\tradius: 120,\n\t\tindexLabel: \"{label} - {y}\",\n\t\tyValueFormatString: \"###0.0\\\"%\\\"\",\n\t\tclick: explodePie,\n\t\tdataPoints: [\n\t\t\t{ y: result[0], label: \"Saturated Fat\" },\n\t\t\t{ y: result[1], label: \"Cholesterol\"},\n\t\t\t{ y: result[2], label: \"Fiber\" },\n\t\t\t{ y: result[3], label: \"Sodium\" },\n\t\t\t{ y: result[4], label: \"Sugar\" }\n\t\t]\n\t}]\n});\nchart.render();\n\nfunction explodePie(e) {\n\tfor(var i = 0; i < e.dataSeries.dataPoints.length; i++) {\n\t\tif(i !== e.dataPointIndex)\n\t\t\te.dataSeries.dataPoints[i].exploded = false;\n\t}\n}\n}\n\n$(document).ready(function() {\n\t javascriptCheck();\n\t invokerankAjax(\"calories\", \"desc\", \"All\");\n\t invokelistAjax(\"All\");\n\t invoke_piechart(\"calories\");\n});\n\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\nfunction invokerankAjax(nut, ord, type){\n    function list_rank(response) {\n        response[\"o_name\"] = nut;\n        response[\"name\"] = diction[nut];\n        response[\"order\"] = ord;\n        response[\"type\"] = type;\n        processOK(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/rank_ajax\",\n        data: {\"name\": diction[nut], \"order\": ord, \"type\": diction[type]},\n        success: list_rank\n   });\n}\n\nfunction invokerankAjax_a(nut){\n    var type = document.getElementById(\"view\").innerHTML;\n    var ord = document.getElementById(\"order\").innerHTML;\n    invokerankAjax(nut, ord, type);\n}\n\nfunction invokerankAjax_b(ord){\n    var type = document.getElementById(\"view\").innerHTML;\n    var nut = document.getElementById(\"name\").innerHTML;\n    invokerankAjax(nut, ord, type);\n}\n\nfunction invokerankAjax_c(type){\n    var nut = document.getElementById(\"name\").innerHTML;\n    var ord = document.getElementById(\"order\").innerHTML;\n    invokerankAjax(nut, ord, type);\n}\n\nfunction processOK(response){\n    HTML = \"<tr><th colspan='2'>Ranking by Major Nutrient</th></tr><tr><th>Recipe</th><th>\" + response[\"o_name\"] + \"</th></tr>\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        HTML += \"<tr><td>\" + response[\"recipe\"][i] + \"</td><td>\" + response[\"value\"][i] + \"</td></tr>\";\n    }\n    HTML += \"<tr><td>Total</td><td>\" + response[\"sum\"][0] + \"</td></tr>\";\n    document.getElementById(\"table\").innerHTML=HTML;\n    document.getElementById(\"name\").innerHTML=response[\"o_name\"];\n    document.getElementById(\"order\").innerHTML=response[\"order\"];\n    document.getElementById(\"view\").innerHTML=response[\"type\"];\n}\n\nfunction invokelistAjax(type){\n    function list_rank1(response) {\n        processOK1(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/get_macro\",\n        data: {\"type\": diction[type]},\n        success: list_rank1\n   });\n}\n\nfunction processOK1(response){\n    data = [];\n    HTML1 = \"<tr><th colspan='2'>Total for Other Nutrients</th></tr><tr><th>Nutrient</th><th>Total Value</th></tr>\";\n    for(i=0; i < response[\"nutrients\"].length; i++){\n        HTML1 += \"<tr><td>\" + response[\"nutrients\"][i] + \"</td><td>\" + response[response[\"key\"][i]] + \"</td></tr>\";\n        data.push(response[response[\"key\"][i]]);\n    }\n    HTML1 += \"</tr>\";\n    document.getElementById(\"table1\").innerHTML=HTML1;\n    nutrients_piechart(data);\n}\n\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array1 = \"{{data1}}\"; //\nvar array1 = array1.split(\",\"); \n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML2 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='/recipe/\" + array1[i] + \"'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\n","output":"str","x":970,"y":2820,"wires":[["1e3f9e9e.cb2001"]]},{"id":"fe9ca9f7.6fe9b8","type":"http in","z":"b0827aed.818358","name":"","url":"/menu/instructions","method":"get","upload":false,"swaggerDoc":"","x":200,"y":2960,"wires":[["4149bbdb.71f224"]]},{"id":"90deb7f1.9754e8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":530,"y":4500,"wires":[["90da07ee.2c4ed8"]]},{"id":"241dc563.02074a","type":"function","z":"b0827aed.818358","name":"test","func":"msg.id = msg.payload.id;\nmsg.type = msg.payload.type\n\nvar select=\"SELECT instruction_number, instruction, title, checked from recipes r, menu_ins where id = recipe and r.id = '%s' and username = '%s' and type = '%s' order by instruction_number asc\";\n\nmsg.topic = util.format(select, msg.id, msg.req.cookies.id, msg.type);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":4500,"wires":[["90deb7f1.9754e8"]]},{"id":"421965ee.7280bc","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":4560,"wires":[]},{"id":"90da07ee.2c4ed8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = [];\nmsg.data1 = [];\nmsg.data2 = [];\nmsg.data3 = msg.payload[0]['title'];\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['instruction'].replace(/,/g, \"@\"));\n    msg.data1.push(msg.payload[i]['instruction_number']);\n    msg.data2.push(msg.payload[i]['checked']);\n}\nmsg.payload = {};\nmsg.payload[\"title\"] = msg.data3;\nmsg.payload[\"instruction_number\"] = msg.data1;\nmsg.payload[\"instruction\"] = msg.data;\nmsg.payload[\"checked\"] = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":4500,"wires":[["421965ee.7280bc","c41d9a6e.5bf388"]]},{"id":"8a70ea76.4bb768","type":"http response","z":"b0827aed.818358","name":"","x":1270,"y":2960,"wires":[]},{"id":"b3ff5d68.26fd3","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n</head>\n<body onload='linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n        \n        <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Cooking Instructions</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px; padding-left:0px\">\n            \n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:210px; color:white\">Select Recipe<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\" id = \"drops\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('calories')\"><u>Calories</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('fat')\"><u>Fat</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('carbohydrate')\"><u>Carbohydrate</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('protein')\"><u>Protein</u></a>\n                </div>\n            </div>\n            \n            <p id=\"name\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n            \n            <div style=\"float:right\">\n                <div class=\"dropdown\">\n        \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:100px; color:white\">View<i class=\"fa fa-caret-down\"></i></button>\n        \t\t    <div class=\"dropdown-content\">\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax('calories', 'desc', 'Breakfast');invokelistAjax('Breakfast');invokeinsbar();invokeingrbar();\"><u>Breakfast</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax('calories', 'desc', 'Lunch');invokelistAjax('Lunch');invokeinsbar();invokeingrbar();\"><u>Lunch</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax('calories', 'desc', 'Dinner');invokelistAjax('Dinner');invokeinsbar();invokeingrbar();\"><u>Dinner</u></a>\n                    </div>\n                </div>\n                \n                <p id=\"view\" style=\"font-size:25px; font-weight:bold; margin:0; margin-left:10px; float:right\"></p>\n            </div>\n            <!--<p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>-->\n        </div>\n        <div style=\"width:490px; float:right; padding-top:20px\">\n            <div id=\"app\"></div>\n            <div style=\"height:50px; padding-top:20px\">\n                <input type=\"text\" id=\"hour\" name=\"h\" placeholder=\"Hour\" style=\"width:100px; float:left; border:solid; border-radius:10px; margin-left:8px\"><div style=\"float:left; font-size:40px; margin-left:5px; margin-right:5px\">:</div>\n                <input type=\"text\" id=\"minute\" name=\"m\" placeholder=\"Minute\" style=\"width:100px; float:left; border:solid; border-radius:10px\"><div style=\"float:left; font-size:40px; margin-left:5px; margin-right:5px\">:</div>\n                <input type=\"text\" id=\"second\" name=\"s\" placeholder=\"Second\" style=\"width:100px; float:left; border:solid; border-radius:10px\">\n                <button onclick=\"restart();\" style=\"height:45px; width:80px; border-radius:10px; margin-left:50px; font-size:20px\">Start</button>\n            </div>\n        </div>\n        \n        \n\t\t<!--<table border=\"5px\" style=\"width: 500px; font-size: 30px; float:left\" id = \"table\">\n\t\t</table>-->\n\t\t\n\t\t<div style=\"width: 490px; float:left; margin-right:10px\">\n\t\t    <div style=\"width: 490px;\">\n\t\t        <h2 style=\"text-align:center;margin-bottom:0px\">Ingredient Progress Bar</h2>\n    \t\t</div>\n    \t\t<div style=\"width: 490px;\" id=\"ingrBar\">\n    \t\t</div>\n    \t\t<div style=\"width: 490px;\">\n\t\t        <h2 style=\"text-align:center;margin-bottom:0px\">Instruction Progress Bar</h2>\n    \t\t</div>\n    \t\t<div style=\"width: 490px;\" id=\"insBar\">\n    \t\t</div>\n\t\t</div>\n\t\t\n\t\t<ul style=\"width: 500px; float: left\" id=\"myULb\">\n        </ul>\n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1130,"y":2960,"wires":[["8a70ea76.4bb768"]]},{"id":"6f6947f.eb886b8","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"diction = {};\ndiction[\"calories\"] = \"calories\";\ndiction[\"fat\"] = \"total_fat\";\ndiction[\"carbohydrate\"] = \"total_carbohydrates\";\ndiction[\"protein\"] = \"protein\";\ndiction[\"All\"] = \"a\";\ndiction[\"Breakfast\"] = \"b\";\ndiction[\"Lunch\"] = \"l\";\ndiction[\"Dinner\"] = \"d\";\n\n$(document).ready(function() {\n\t document.getElementById(\"view\").innerHTML = \"Breakfast\";\n\t invokerankAjax(\"calories\", \"desc\", \"Breakfast\");\n\t invokeingrbar();\n\t invokeinsbar();\n});\n\nfunction invokeingrbar(){\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    function list_rank3(response) {\n        ingrbar(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/ingr_bar\",\n        data: {\"type\": type},\n        success: list_rank3\n   });\n}\n\nfunction ingrbar(response) {\n    HTML = \"\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        if(response[\"recipe\"][i] in response[\"percentage\"]) {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:\" + response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%'>\";\n            HTML += response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%</div></div>\";\n        } else {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:0%'>\";\n            HTML += \"0%</div></div>\";\n        }\n    }\n    document.getElementById(\"ingrBar\").innerHTML=HTML;\n}\n\nfunction invokeinsbar(){\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    function list_rank2(response) {\n        insbar(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/ins_bar\",\n        data: {\"type\": type},\n        success: list_rank2\n   });\n}\n\nfunction insbar(response) {\n    HTML = \"\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        if(response[\"recipe\"][i] in response[\"percentage\"]) {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:\" + response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%'>\";\n            HTML += response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%</div></div>\";\n        } else {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:0%'>\";\n            HTML += \"0%</div></div>\";\n        }\n    }\n    document.getElementById(\"insBar\").innerHTML=HTML;\n}\n\nfunction invokelistAjax(view) {\n    document.getElementById(\"view\").innerHTML = view;\n}\n\nfunction invokeinsAjax(id) {\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    function list_rank1(response) {\n        listb(response);\n        document.getElementById(\"name\").innerHTML = response[\"title\"];\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/ins_ajax\",\n        data: {\"id\": id, \"type\": type},\n        success: list_rank1\n   });\n}\n\nfunction listb(response){\n    HTML = \"\";\n    for(i=0; i < response[\"instruction\"].length; i++){\n        if(response[\"checked\"][i] === 0){\n            HTML += \"<li>\" + /*response[\"instruction_number\"][i] + \". \" + */response[\"instruction\"][i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML += \"<li class = 'checked'>\" + /*response[\"instruction_number\"][i] + \". \" + */response[\"instruction\"][i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULb\").innerHTML=HTML;\n}\n\nfunction invokerankAjax(nut, ord, type){\n    function list_rank(response) {\n        response[\"o_name\"] = nut;\n        response[\"name\"] = diction[nut];\n        response[\"order\"] = ord;\n        response[\"type\"] = type;\n        processOK(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/rank_ajax\",\n        data: {\"name\": diction[nut], \"order\": ord, \"type\": diction[type]},\n        success: list_rank\n   });\n}\n\nfunction processOK(response){\n    var HTML = \"\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        HTML += \"<a style = 'font-size:20px; cursor:pointer' onclick='invokeinsAjax(\\\"\"+ response[\"id\"][i] + \"\\\")'><u>\" + response[\"recipe\"][i] + \"</u></a>\";\n    }\n    document.getElementById(\"drops\").innerHTML=HTML;\n    invokeinsAjax(response[\"id\"][0]);\n}\n\nconst FULL_DASH_ARRAY = 283;\nconst WARNING_THRESHOLD = 10;\nconst ALERT_THRESHOLD = 5;\n\nconst COLOR_CODES = {\n  info: {\n    color: \"green\"\n  },\n  warning: {\n    color: \"orange\",\n    threshold: WARNING_THRESHOLD\n  },\n  alert: {\n    color: \"red\",\n    threshold: ALERT_THRESHOLD\n  }\n};\n\nvar TIME_LIMIT = 0;\nvar timePassed = 0;\nvar timeLeft = TIME_LIMIT;\nvar timerInterval = null;\nvar remainingPathColor = COLOR_CODES.info.color;\nvar hours = 0;\nvar minutes = 0;\nvar seconds = 0;\n\ndocument.getElementById(\"app\").innerHTML = `\n<div class=\"base-timer\" style=\"margin:auto\">\n  <svg class=\"base-timer__svg\" viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\">\n    <g class=\"base-timer__circle\">\n      <circle class=\"base-timer__path-elapsed\" cx=\"50\" cy=\"50\" r=\"45\"></circle>\n      <path\n        id=\"base-timer-path-remaining\"\n        stroke-dasharray=\"283\"\n        class=\"base-timer__path-remaining ${remainingPathColor}\"\n        d=\"\n          M 50, 50\n          m -45, 0\n          a 45,45 0 1,0 90,0\n          a 45,45 0 1,0 -90,0\n        \"\n      ></path>\n    </g>\n  </svg>\n  <span id=\"base-timer-label\" class=\"base-timer__label\">${formatTime(\n    timeLeft\n  )}</span>\n</div>\n`;\n\nfunction restart(){\n\nhours = parseInt(document.getElementById(\"hour\").value);\nminutes = parseInt(document.getElementById(\"minute\").value);\nseconds = parseInt(document.getElementById(\"second\").value);\n\nif(isNaN(hours)){\n    hours = 0;\n}\nif(isNaN(minutes)){\n    minutes = 0;\n}\nif(isNaN(seconds)){\n    seconds = 0;\n}\n\ntimePassed = 0;\nTIME_LIMIT = 3600*hours + 60*minutes + seconds;\ntimeLeft = TIME_LIMIT;\ntimerInterval = null;\nremainingPathColor = COLOR_CODES.info.color;\n\ndocument.getElementById(\"app\").innerHTML = `\n<div class=\"base-timer\" style=\"margin:auto\">\n  <svg class=\"base-timer__svg\" viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\">\n    <g class=\"base-timer__circle\">\n      <circle class=\"base-timer__path-elapsed\" cx=\"50\" cy=\"50\" r=\"45\"></circle>\n      <path\n        id=\"base-timer-path-remaining\"\n        stroke-dasharray=\"283\"\n        class=\"base-timer__path-remaining ${remainingPathColor}\"\n        d=\"\n          M 50, 50\n          m -45, 0\n          a 45,45 0 1,0 90,0\n          a 45,45 0 1,0 -90,0\n        \"\n      ></path>\n    </g>\n  </svg>\n  <span id=\"base-timer-label\" class=\"base-timer__label\">${formatTime(\n    timeLeft\n  )}</span>\n</div>\n`;\n\nstartTimer(timeLeft);\n}\n\nfunction onTimesUp() {\n  clearInterval(timerInterval);\n  document.getElementById(\"base-timer-label\").innerHTML = formatTime(\n      0\n    );\n}\n\nfunction startTimer(limit) {\n  timerInterval = setInterval(() => {\n    timePassed = timePassed += 1;\n    timeLeft = limit - timePassed;\n    document.getElementById(\"base-timer-label\").innerHTML = formatTime(\n      timeLeft\n    );\n    setCircleDasharray();\n    setRemainingPathColor(timeLeft);\n\n    if (timeLeft <= 0) {\n      onTimesUp();\n    }\n  }, 1000);\n}\n\nfunction formatTime(time) {\n  const hours = Math.floor(time / 3600);\n  let minutes = Math.floor(time / 60);\n  let seconds = time % 60;\n  \n  if (minutes < 10) {\n    minutes = `0${minutes}`;\n  }\n  \n  if (seconds < 10) {\n    seconds = `0${seconds}`;\n  }\n\n  return `${hours}:${minutes}:${seconds}`;\n}\n\nfunction setRemainingPathColor(timeLeft) {\n  const { alert, warning, info } = COLOR_CODES;\n  if (timeLeft <= alert.threshold) {\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.remove(warning.color);\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.add(alert.color);\n  } else if (timeLeft <= warning.threshold) {\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.remove(info.color);\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.add(warning.color);\n  }\n}\n\nfunction calculateTimeFraction() {\n  const rawTimeFraction = timeLeft / TIME_LIMIT;\n  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);\n}\n\nfunction setCircleDasharray() {\n  const circleDasharray = `${(\n    calculateTimeFraction() * FULL_DASH_ARRAY\n  ).toFixed(0)} 283`;\n  document\n    .getElementById(\"base-timer-path-remaining\")\n    .setAttribute(\"stroke-dasharray\", circleDasharray);\n}\n\nvar array = \"1,2,3,4,5,6,7,8\"; //\nvar array = array.split(\",\"); \nvar array1 = \"1,2,3,4,5,6,7,8\"; //\nvar array1 = array1.split(\",\"); \n\nvar array2 = \"1,2,3,4,5,6,7,8\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td></td><td>Instruction</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction listt(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array1[i] + \"</td><td>\" + array[i].replace(/@/g, \",\") + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array1 = \"{{data1}}\"; //\nvar array1 = array1.split(\",\"); \n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML2 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='/recipe/\" + array1[i] + \"'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\nfunction change(ins){\n    message = ins;\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ins_stat\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nvar myNodelist = document.getElementsByTagName(\"LI\");\nvar i;\nfor (i = 0; i < myNodelist.length; i++) {\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  myNodelist[i].appendChild(span);\n}\n\n// Click on a close button to hide the current list item\nvar close = document.getElementsByClassName(\"close\");\nvar i;\nfor (i = 0; i < close.length; i++) {\n  close[i].onclick = function() {\n    var div = this.parentElement;\n    div.style.display = \"none\";\n  }\n}\n\n// Add a \"checked\" symbol when clicking on a list item\nvar list = document.querySelector('ul');\nlist.addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    change(ev.target.innerHTML);\n    invokeinsbar();\n  }\n}, false);\n\n// Create a new list item when clicking on the \"Add\" button\nfunction newElement() {\n  var li = document.createElement(\"li\");\n  var inputValue = document.getElementById(\"myInput\").value;\n  var t = document.createTextNode(inputValue);\n  li.appendChild(t);\n  if (inputValue === '') {\n    alert(\"You must write something!\");\n  } else {\n    document.getElementById(\"myUL\").appendChild(li);\n  }\n  document.getElementById(\"myInput\").value = \"\";\n\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  li.appendChild(span);\n\n  for (i = 0; i < close.length; i++) {\n    close[i].onclick = function() {\n      var div = this.parentElement;\n      div.style.display = \"none\";\n    }\n  }\n}","output":"str","x":980,"y":2960,"wires":[["b3ff5d68.26fd3"]]},{"id":"1e3f9e9e.cb2001","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n</head>\n<body onload='linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n    \n        <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Menu Nutrients</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px; padding-left:0px\">\n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:150px; color:white\">Rank by<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('calories')\"><u>Calories</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('fat')\"><u>Fat</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('carbohydrate')\"><u>Carbohydrate</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('protein')\"><u>Protein</u></a>\n                </div>\n            </div>\n            \n            <p id=\"name\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n            \n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:150px; color:white\">Order<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_b('asc')\"><u>asc</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_b('desc')\"><u>desc</u></a>\n                </div>\n            </div>\n            \n            <p id=\"order\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:160px\"></p>\n            \n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:200px; color:white\">Compare by<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('calories')\"><u>Calories</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('fat')\"><u>Fat</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('carbohydrate')\"><u>Carbohydrate</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('protein')\"><u>Protein</u></a>\n                </div>\n            </div>\n            \n            <p id=\"name1\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n            \n            <div style=\"float:right\">\n                <div class=\"dropdown\">\n        \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:100px; color:white\">View<i class=\"fa fa-caret-down\"></i></button>\n        \t\t    <div class=\"dropdown-content\">\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('Breakfast');invokelistAjax('Breakfast');\"><u>Breakfast</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('Lunch');invokelistAjax('Lunch');\"><u>Lunch</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('Dinner');invokelistAjax('Dinner');\"><u>Dinner</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('All');invokelistAjax('All');\"><u>All</u></a>\n                    </div>\n                </div>\n                \n                <p id=\"view\" style=\"font-size:25px; font-weight:bold; margin:0; margin-left:10px; float:right\"></p>\n            </div>\n            <!--<p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>-->\n        </div>\n        \n        <div style=\"float:left\">\n    \t\t<table border=\"5px\" style=\"width: 650px; font-size: 30px;\" id = \"table\">\n    \t\t</table>\n    \t\t\n    \t\t<div style=\"padding-top:20px\"></div>\n    \t\t\n    \t\t<table border=\"5px\" style=\"width: 650px; font-size: 30px;\" id = \"table1\">\n    \t\t</table>\n\t\t</div>\n\t\t\n\t\t<div style=\"width:850px\">\n    \t\t<div id=\"chartContainer2\" style=\"height: 370px; width: 100%;\"></div>\n    \t\t<div id=\"chartContainer\" style=\"height: 370px; width: 100%;\"></div>\n        </div>\n        <script src=\"https://canvasjs.com/assets/script/canvasjs.min.js\"></script>\n        \n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1130,"y":2820,"wires":[["566a02bb.3d247c"]]},{"id":"1c91dc42.a3ed14","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n</head>\n<body onload='listb(); listl(); listd(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n\n\t\t<!--<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>-->\n\t\t<div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Ingredient List</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px\">\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>\n        </div>\n\n        <ul style=\"width: 495px; float: left\" id=\"myULb\">\n        </ul>\n        \n        <ul style=\"width: 495px; float: left; margin-left: 4px\" id=\"myULl\">\n        </ul>\n        \n        <ul style=\"width: 495px; float: right\" id=\"myULd\">\n        </ul>\n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1660,"y":2680,"wires":[["4ca7b7c4.91b438"]]},{"id":"d04c4ba5.f3c408","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n  </head>\n<body onload='listb(); listl(); listd(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n    \n        <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Daily Menu</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px\">\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>\n        </div>\n\n\t\t<table border=\"5px\" style=\"float: left; width: 500px; font-size: 30px;\" id = \"tableb\">\n\t\t</table>\n\t\t<table border=\"5px\" style=\"float: left; width: 500px; font-size: 30px;\" id = \"tablel\">\n\t\t</table>\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"tabled\">\n\t\t</table>\n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":2110,"y":2560,"wires":[["1a637a7c.5cd2a6"]]},{"id":"c8752366.1eda2","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":710,"y":2380,"wires":[]},{"id":"54ebd3ec.e8423c","type":"template","z":"b0827aed.818358","name":"template","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n  font-family: \"Lato\", sans-serif;\n}\n\n.container {\n  width: 100%; /* Full width */\n  background-color: #ddd; /* Grey background */\n}\n\n.skills {\n  text-align: right; /* Right-align text */\n  padding-top: 10px; /* Add top padding */\n  padding-bottom: 10px; /* Add bottom padding */\n  color: white; /* White text color */\n}\n\n.html {width: 90%; background-color: #4CAF50;} /* Green */\n.css {width: 80%; background-color: #2196F3;} /* Blue */\n.js {width: 65%; background-color: #f44336;} /* Red */\n.php {width: 60%; background-color: #808080;} /* Dark Grey */\n\n.base-timer {\n  position: relative;\n  width: 300px;\n  height: 300px;\n}\n\n.base-timer__svg {\n  transform: scaleX(-1);\n}\n\n.base-timer__circle {\n  fill: none;\n  stroke: none;\n}\n\n.base-timer__path-elapsed {\n  stroke-width: 7px;\n  stroke: grey;\n}\n\n.base-timer__path-remaining {\n  stroke-width: 7px;\n  stroke-linecap: round;\n  transform: rotate(90deg);\n  transform-origin: center;\n  transition: 1s linear all;\n  fill-rule: nonzero;\n  stroke: currentColor;\n}\n\n.base-timer__path-remaining.green {\n  color: rgb(65, 184, 131);\n}\n\n.base-timer__path-remaining.orange {\n  color: orange;\n}\n\n.base-timer__path-remaining.red {\n  color: red;\n}\n\n.base-timer__label {\n  position: absolute;\n  width: 300px;\n  height: 300px;\n  top: 0;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  font-size: 48px;\n}\n\n* {\n  box-sizing: border-box;\n}\n\n/* Remove margins and padding from the list */\nul {\n  margin: 0;\n  padding: 0;\n}\n\n/* Style the list items */\nul li {\n  cursor: pointer;\n  position: relative;\n  padding: 12px 8px 12px 40px;\n  background: #eee;\n  font-size: 18px;\n  transition: 0.2s;\n  list-style-type: none;\n\n  /* make the list items unselectable */\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n\n/* Set all odd list items to a different color (zebra-stripes) */\nul li:nth-child(odd) {\n  background: #f9f9f9;\n}\n\n/* Darker background-color on hover */\nul li:hover {\n  background: #ddd;\n}\n\n/* When clicked on, add a background color and strike out text */\nul li.checked {\n  background: #888;\n  color: #fff;\n  text-decoration: line-through;\n}\n\n/* Add a \"checked\" mark when clicked on */\nul li.checked::before {\n  content: '';\n  position: absolute;\n  border-color: #fff;\n  border-style: solid;\n  border-width: 0 2px 2px 0;\n  top: 10px;\n  left: 16px;\n  transform: rotate(45deg);\n  height: 15px;\n  width: 7px;\n}\n\n/* Style the close button */\n.close {\n  position: absolute;\n  right: 0;\n  top: 0;\n  padding: 12px 16px 12px 16px;\n}\n\n.close:hover {\n  background-color: #f44336;\n  color: white;\n}\n\n/* Style the header */\n.header {\n  background-color: #f44336;\n  padding: 20px 40px;\n  color: white;\n  text-align: center;\n  width: 1500px;\n}\n\n/* Clear floats after the header */\n.header:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n\n/* Style the input */\ninput {\n  margin: 0;\n  border: none;\n  border-radius: 0;\n  width: 75%;\n  padding: 10px;\n  float: left;\n  font-size: 16px;\n}\n\n/* Style the \"Add\" button */\n.addBtn {\n  padding: 10px;\n  width: 25%;\n  background: #d9d9d9;\n  color: #555;\n  float: left;\n  text-align: center;\n  font-size: 16px;\n  cursor: pointer;\n  transition: 0.3s;\n  border-radius: 0;\n}\n\n.addBtn:hover {\n  background-color: #bbb;\n}\n\n/* The dropdown container */\n.dropdown {\n  float: left;\n  overflow: hidden;\n}\n\n/* Dropdown button */\n.dropdown .dropbtn {\n  font-size: 20px;\n  width: 80px;\n  border: none;\n  outline: none;\n  color: black;\n  padding: 14px 16px;\n  background-color: inherit;\n  font-family: inherit; /* Important for vertical align on mobile phones */\n  margin: 0; /* Important for vertical align on mobile phones */\n  padding: 0;\n}\n\n/* Add a red background color to navbar links on hover */\n.dropdown:hover .dropbtn {\n  background-color: orange;\n}\n\n/* Dropdown content (hidden by default) */\n.dropdown-content {\n  display: none;\n  position: absolute;\n  background-color: #f9f9f9;\n  min-width: 160px;\n  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n  z-index: 1;\n}\n\n/* Links inside the dropdown */\n.dropdown-content a {\n  float: none;\n  color: black;\n  padding: 12px 16px;\n  text-decoration: none;\n  display: block;\n  text-align: left;\n}\n\n/* Add a grey background color to dropdown links on hover */\n.dropdown-content a:hover {\n  background-color: #ddd;\n}\n\n/* Show the dropdown menu on hover */\n.dropdown:hover .dropdown-content {\n  display: block;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}","output":"str","x":400,"y":2380,"wires":[["c8752366.1eda2"]]},{"id":"e9c5c0ea.cd36b","type":"http in","z":"b0827aed.818358","name":"Template","url":"/template.css","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2380,"wires":[["54ebd3ec.e8423c"]]},{"id":"e68dd3f3.c0327","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"DELETE from menu WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar del = \"DELETE from menu_ingr WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar del2 = \"DELETE from menu_ins WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.payload.name, msg.req.cookies.id, msg.payload.type);\ndel = util.format(del, msg.payload.name, msg.req.cookies.id, msg.payload.type);\ndel2 = util.format(del2, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nmsg.topic = select + del + del2;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3120,"wires":[["fa160466.f0e538"]]},{"id":"a9238332.5b48a","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1130,"y":3120,"wires":[]},{"id":"60409e60.7d922","type":"change","z":"b0827aed.818358","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3120,"wires":[["a9238332.5b48a"]]},{"id":"fa160466.f0e538","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":710,"y":3120,"wires":[["60409e60.7d922"]]},{"id":"b1bac858.268428","type":"http in","z":"b0827aed.818358","name":"","url":"/delete_menu","method":"post","upload":false,"swaggerDoc":"","x":210,"y":3120,"wires":[["e68dd3f3.c0327"]]},{"id":"6cfe23fb.8c77ec","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1050,"y":2560,"wires":[["41d76ac6.7b6954"]]},{"id":"4ff7f8cd.3fa058","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT recipe, title from menu join recipes on recipe = id where username = '%s' and type = 'l'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":900,"y":2560,"wires":[["6cfe23fb.8c77ec"]]},{"id":"41d76ac6.7b6954","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.datal = []\nmsg.data2l = []\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] !== \"\"){\n        msg.datal.push(msg.payload[i]['title']);\n        msg.data2l.push(msg.payload[i]['recipe']);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":2560,"wires":[["34199aaa.d293c6"]]},{"id":"20cd965e.b9390a","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1570,"y":2560,"wires":[["1cd98410.fe2b7c"]]},{"id":"34199aaa.d293c6","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT recipe, title from menu join recipes on recipe = id where username = '%s' and type = 'd'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":2560,"wires":[["20cd965e.b9390a"]]},{"id":"1cd98410.fe2b7c","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.datad = []\nmsg.data2d = []\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] !== \"\"){\n        msg.datad.push(msg.payload[i]['title']);\n        msg.data2d.push(msg.payload[i]['recipe']);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":2560,"wires":[["1b6d3e0c.531de2"]]},{"id":"b357eb4d.f24698","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"Update menu set type = 'l' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select2=\"Update menu_ingr set type = 'l' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nselect2 = util.format(select2, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nmsg.topic = select + select2;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3240,"wires":[["32fe1ddf.c6ea22"]]},{"id":"42c7b5c1.99a84c","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1130,"y":3240,"wires":[]},{"id":"9f4532de.0ae3e","type":"change","z":"b0827aed.818358","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3240,"wires":[["42c7b5c1.99a84c"]]},{"id":"32fe1ddf.c6ea22","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":710,"y":3240,"wires":[["9f4532de.0ae3e"]]},{"id":"85c4ee51.796a1","type":"http in","z":"b0827aed.818358","name":"","url":"/move_Lunch","method":"post","upload":false,"swaggerDoc":"","x":210,"y":3240,"wires":[["b357eb4d.f24698"]]},{"id":"abc96847.06bbb8","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"Update menu set type = 'd' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select2=\"Update menu_ingr set type = 'd' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nselect2 = util.format(select2, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nmsg.topic = select + select2;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3300,"wires":[["d6a626bc.7bd278"]]},{"id":"21aa82c4.1771ee","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1130,"y":3300,"wires":[]},{"id":"a925dc46.e3c21","type":"change","z":"b0827aed.818358","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3300,"wires":[["21aa82c4.1771ee"]]},{"id":"d6a626bc.7bd278","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":710,"y":3300,"wires":[["a925dc46.e3c21"]]},{"id":"96f2cdd3.4b1ee","type":"http in","z":"b0827aed.818358","name":"","url":"/move_Dinner","method":"post","upload":false,"swaggerDoc":"","x":210,"y":3300,"wires":[["abc96847.06bbb8"]]},{"id":"4eb8f8d8.e946a8","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"Update menu set type = 'b' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select2=\"Update menu_ingr set type = 'b' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nselect2 = util.format(select2, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nmsg.topic = select + select2;\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3180,"wires":[["94d4b39a.d05fe"]]},{"id":"b1b69b32.25c658","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1130,"y":3180,"wires":[]},{"id":"e8509e2e.d4b43","type":"change","z":"b0827aed.818358","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":910,"y":3180,"wires":[["b1b69b32.25c658"]]},{"id":"94d4b39a.d05fe","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":710,"y":3180,"wires":[["e8509e2e.d4b43"]]},{"id":"c0566979.e49ee8","type":"http in","z":"b0827aed.818358","name":"","url":"/move_Breakfast","method":"post","upload":false,"swaggerDoc":"","x":220,"y":3180,"wires":[["4eb8f8d8.e946a8"]]},{"id":"dde85ef4.ddcfe","type":"function","z":"b0827aed.818358","name":"Delete user","func":"//breakfast\n\nvar select=\"SELECT ingredients from ingredient where id = '%s'\";\n\nmsg.topic = util.format(select, msg.name);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":810,"y":3400,"wires":[["8f1f91b1.6d236"]]},{"id":"1b10fc7a.07a004","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":2190,"y":3400,"wires":[]},{"id":"8f1f91b1.6d236","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":990,"y":3400,"wires":[["1591e4ec.15651b","468266f6.81a548"]]},{"id":"a22d2ec2.e546b","type":"http in","z":"b0827aed.818358","name":"","url":"/addToMenu","method":"post","upload":false,"swaggerDoc":"","x":210,"y":3400,"wires":[["b7310ed6.624e","eaea9995.e20588"]]},{"id":"1591e4ec.15651b","type":"function","z":"b0827aed.818358","name":"format data","func":"var insert = \"\";\nfor(var i in msg.payload){\n    tmp = \"INSERT INTO menu_ingr VALUES ('%s', '%s', '%s', '%s', 0);\";\n    insert += util.format(tmp, msg.req.cookies.id, msg.name, msg.payload[i]['ingredients'], msg.type);\n}\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":3400,"wires":[["2da75422.fcea6c"]]},{"id":"2da75422.fcea6c","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1330,"y":3400,"wires":[["713dfe15.57314","b5f19480.6ed878"]]},{"id":"b7310ed6.624e","type":"function","z":"b0827aed.818358","name":"Delete user","func":"//breakfast\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"INSERT INTO menu VALUES('%s', '%s', '%s')\";\n\nmsg.topic = util.format(insert, msg.req.cookies.id, msg.payload.name, msg.payload.type);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":3400,"wires":[["818faed4.43459"]]},{"id":"818faed4.43459","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":630,"y":3400,"wires":[["dde85ef4.ddcfe"]]},{"id":"eaea9995.e20588","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":390,"y":3520,"wires":[]},{"id":"713dfe15.57314","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1510,"y":3520,"wires":[]},{"id":"468266f6.81a548","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1190,"y":3500,"wires":[]},{"id":"5e70923c.b3959c","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data2 = []\nmsg.data3 = []\nfor(var i in msg.payload){\n    msg.data2.push(msg.payload[i]['title']);\n    msg.data3.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2680,"wires":[["e5e0a31a.e8fe9"]]},{"id":"a610b443.0ae7f8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1100,"y":2680,"wires":[["5e70923c.b3959c"]]},{"id":"e6690567.014648","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT title, id from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2680,"wires":[["a610b443.0ae7f8"]]},{"id":"5bb68fb5.ebd0c","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\nvar select=\"select checked from menu_ingr where username = '%s' and ingredient = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.payload.name, msg.payload.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3640,"wires":[["3ecce96f.46f4e6"]]},{"id":"3f0960cf.8f224","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1750,"y":3640,"wires":[]},{"id":"b6872da4.bb59e","type":"change","z":"b0827aed.818358","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu/ingredients","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":3640,"wires":[["3f0960cf.8f224"]]},{"id":"3ecce96f.46f4e6","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":710,"y":3640,"wires":[["f1bf3067.ca8e8"]]},{"id":"4ea8f58e.7841dc","type":"http in","z":"b0827aed.818358","name":"","url":"/change_ingr_stat","method":"post","upload":false,"swaggerDoc":"","x":220,"y":3640,"wires":[["5bb68fb5.ebd0c","5fcc407f.ff5c4"]]},{"id":"f1bf3067.ca8e8","type":"switch","z":"b0827aed.818358","name":"","property":"payload[0][\"checked\"]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":3640,"wires":[["a64525f3.81d838"],["fa7a41e4.f7b33"]]},{"id":"a64525f3.81d838","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ingr set checked = 1 where username = '%s' and ingredient = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":3580,"wires":[["ae467683.54ba38"]]},{"id":"ae467683.54ba38","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1310,"y":3580,"wires":[["b6872da4.bb59e"]]},{"id":"fa7a41e4.f7b33","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ingr set checked = 0 where username = '%s' and ingredient = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":3700,"wires":[["75ef1244.302eec"]]},{"id":"75ef1244.302eec","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1310,"y":3700,"wires":[["b6872da4.bb59e"]]},{"id":"5fcc407f.ff5c4","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":3720,"wires":[]},{"id":"26b8f7ab.d62aa8","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1410,"y":4060,"wires":[]},{"id":"8d864663.ed95d8","type":"http in","z":"b0827aed.818358","name":"","url":"/rank_ajax","method":"post","upload":false,"swaggerDoc":"","x":200,"y":4060,"wires":[["49181dc1.f58494"]]},{"id":"69ac6d1e.58b0f4","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":550,"y":4060,"wires":[["f2a963d5.98804"]]},{"id":"49181dc1.f58494","type":"function","z":"b0827aed.818358","name":"test","func":"msg.name = msg.payload.name;\nmsg.order = msg.payload.order;\nmsg.type = msg.payload.type;\n\nvar add = \"and type = '%s'\";\nif(msg.payload.type !== \"a\"){\n    add = util.format(add, msg.payload.type);\n} else {\n    add = \"\"\n}\n\nvar select=\"SELECT id, title, %s from menu join recipes on recipe = id where username = '%s' \" + add + \" order by %s %s\";\n\nmsg.topic = util.format(select, msg.payload.name, msg.req.cookies.id, msg.payload.name, msg.payload.order);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":4060,"wires":[["69ac6d1e.58b0f4","5174e6e4.2f97f8"]]},{"id":"5174e6e4.2f97f8","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":570,"y":4120,"wires":[]},{"id":"f2a963d5.98804","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nmsg.data1 = []\nmsg.data3 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i][msg.name]);\n    msg.data1.push(msg.payload[i]['title']);\n    msg.data3.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":4060,"wires":[["e519f91.1d46e08"]]},{"id":"34ed532f.2c223c","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1050,"y":4060,"wires":[["ccfd491c.102a38"]]},{"id":"e519f91.1d46e08","type":"function","z":"b0827aed.818358","name":"test","func":"var add = \" and type = '%s'\";\nif(msg.type !== \"a\"){\n    add = util.format(add, msg.type);\n} else {\n    add = \"\";\n}\n\nvar select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s'\" + add;\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":4060,"wires":[["34ed532f.2c223c"]]},{"id":"ccfd491c.102a38","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data2 = []\n\nfor(var i in msg.payload){\n    msg.data2.push(msg.payload[i]['count']);\n}\n\nmsg.payload = {};\nmsg.payload[\"recipe\"] = msg.data1;\nmsg.payload[\"value\"] = msg.data;\nmsg.payload[\"sum\"] = msg.data2;\nmsg.payload[\"id\"] = msg.data3;\nreturn msg;","outputs":1,"noerr":0,"x":1230,"y":4060,"wires":[["26b8f7ab.d62aa8"]]},{"id":"8a808a6b.355af8","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":910,"y":4220,"wires":[]},{"id":"3ce4c40c.db7f7c","type":"http in","z":"b0827aed.818358","name":"","url":"/get_macro","method":"post","upload":false,"swaggerDoc":"","x":200,"y":4220,"wires":[["58b64aae.8436a4"]]},{"id":"a9b0156d.389428","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":910,"y":4280,"wires":[]},{"id":"3d680550.935f9a","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":550,"y":4220,"wires":[["f6286727.f60c08"]]},{"id":"58b64aae.8436a4","type":"function","z":"b0827aed.818358","name":"test","func":"var add = \" and type = '%s'\";\nif(msg.payload.type !== \"a\"){\n    add = util.format(add, msg.payload.type);\n} else {\n    add = \"\";\n}\n\nvar select=\"SELECT round(sum(cholesterol), 2) cholesterol, round(sum(sodium), 2) sodium, round(sum(saturated_fat), 2) saturated_fat, round(sum(fiber), 2) fiber, round(sum(sugar), 2) sugar from menu join recipes on recipe = id where username = '%s'\" + add;\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":4220,"wires":[["3d680550.935f9a"]]},{"id":"f6286727.f60c08","type":"function","z":"b0827aed.818358","name":"format data","func":"result = {};\nresult[\"cholesterol\"] = msg.payload[0]['cholesterol'];\nresult[\"saturated_fat\"] = msg.payload[0]['saturated_fat'];\nresult[\"sodium\"] = msg.payload[0]['sodium'];\nresult[\"fiber\"] = msg.payload[0]['fiber'];\nresult[\"sugar\"] = msg.payload[0]['sugar'];\nresult[\"key\"] = [\"saturated_fat\", \"cholesterol\", \"fiber\", \"sodium\", \"sugar\"];\nresult[\"nutrients\"] = [\"Saturated Fat\", \"Cholesterol\", \"Fiber\", \"Sodium\", \"Sugar\"];\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":4220,"wires":[["8a808a6b.355af8","a9b0156d.389428"]]},{"id":"bc45fbb3.5465e8","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1930,"y":4380,"wires":[]},{"id":"7cd85072.05bac","type":"http in","z":"b0827aed.818358","name":"","url":"/sum_ajax","method":"post","upload":false,"swaggerDoc":"","x":200,"y":4380,"wires":[["78d641aa.2edeb"]]},{"id":"67bcf563.17e56c","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":550,"y":4380,"wires":[["7a12032.8f957fc"]]},{"id":"78d641aa.2edeb","type":"function","z":"b0827aed.818358","name":"test","func":"msg.name =msg.payload.name;\n\nvar select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s' and type = 'b'\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":4380,"wires":[["67bcf563.17e56c"]]},{"id":"7a12032.8f957fc","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.result = [];\n\nfor(var i in msg.payload){\n    msg.result.push(msg.payload[i]['count']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":4380,"wires":[["33e3621.7af6a9e"]]},{"id":"90bde4da.605f48","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1030,"y":4380,"wires":[["8990737.2c9f09"]]},{"id":"33e3621.7af6a9e","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s' and type = 'l'\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":4380,"wires":[["90bde4da.605f48"]]},{"id":"8990737.2c9f09","type":"function","z":"b0827aed.818358","name":"format data","func":"for(var i in msg.payload){\n    msg.result.push(msg.payload[i]['count']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1210,"y":4380,"wires":[["7c29e95e.eb1ef8"]]},{"id":"db8323a0.6caba","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1570,"y":4380,"wires":[["af795a11.f80ce8"]]},{"id":"7c29e95e.eb1ef8","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s' and type = 'd'\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":4380,"wires":[["db8323a0.6caba"]]},{"id":"af795a11.f80ce8","type":"function","z":"b0827aed.818358","name":"format data","func":"for(var i in msg.payload){\n    msg.result.push(msg.payload[i]['count']);\n}\n\nmsg.payload = msg.result;\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":4380,"wires":[["bc45fbb3.5465e8"]]},{"id":"7b7ff893.3e2378","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":570,"y":2960,"wires":[["efa7fa86.659d18"]]},{"id":"4149bbdb.71f224","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT title, id from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":2960,"wires":[["7b7ff893.3e2378"]]},{"id":"edc4b5af.f81318","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":3020,"wires":[]},{"id":"efa7fa86.659d18","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nmsg.data1 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n    msg.data1.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":760,"y":2960,"wires":[["edc4b5af.f81318","6f6947f.eb886b8"]]},{"id":"49fef282.ece5bc","type":"http in","z":"b0827aed.818358","name":"","url":"/ins_ajax","method":"post","upload":false,"swaggerDoc":"","x":200,"y":4500,"wires":[["241dc563.02074a"]]},{"id":"c41d9a6e.5bf388","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":930,"y":4500,"wires":[]},{"id":"94344fc6.151cc","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":2050,"y":3400,"wires":[["1b10fc7a.07a004"]]},{"id":"8fac94da.061cb8","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":3500,"wires":[]},{"id":"481c34a7.c1a86c","type":"function","z":"b0827aed.818358","name":"format data","func":"var insert = \"\";\nfor(var i in msg.payload){\n    tmp = \"INSERT INTO menu_ins VALUES ('%s', '%s', '%s', '%s', '%s', 0);\";\n    insert += util.format(tmp, msg.req.cookies.id, msg.name, msg.payload[i]['instruction_number'], msg.payload[i]['instruction'], msg.type);\n}\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":3400,"wires":[["94344fc6.151cc","8fac94da.061cb8"]]},{"id":"9cac65bc.181278","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1690,"y":3400,"wires":[["481c34a7.c1a86c"]]},{"id":"b5f19480.6ed878","type":"function","z":"b0827aed.818358","name":"test","func":"msg.id = msg.payload.id;\n\nvar select=\"SELECT distinct instruction_number, instruction, title from recipes r, menu join instructions i on recipe = i.id where r.id = recipe and r.id = '%s' and username = '%s' order by instruction_number asc\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":3400,"wires":[["9cac65bc.181278"]]},{"id":"779648ca.6ae308","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\nvar select=\"select checked from menu_ins where username = '%s' and instruction = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.payload.name, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":3860,"wires":[["3a2f37c4.b9c548"]]},{"id":"e198e53c.b54918","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1750,"y":3860,"wires":[]},{"id":"3a4e4559.46f8da","type":"change","z":"b0827aed.818358","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu/ingredients","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":3860,"wires":[["e198e53c.b54918"]]},{"id":"3a2f37c4.b9c548","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":710,"y":3860,"wires":[["dc982510.8ba058"]]},{"id":"6e8324de.5629cc","type":"http in","z":"b0827aed.818358","name":"","url":"/change_ins_stat","method":"post","upload":false,"swaggerDoc":"","x":220,"y":3860,"wires":[["779648ca.6ae308","d293749.a8cf688"]]},{"id":"dc982510.8ba058","type":"switch","z":"b0827aed.818358","name":"","property":"payload[0][\"checked\"]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":3860,"wires":[["61e1aba8.9404f4"],["d50d115.309e5f"]]},{"id":"61e1aba8.9404f4","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ins set checked = 1 where username = '%s' and instruction = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":3800,"wires":[["e6afceb7.c58d7"]]},{"id":"e6afceb7.c58d7","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1310,"y":3800,"wires":[["3a4e4559.46f8da"]]},{"id":"d50d115.309e5f","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ins set checked = 0 where username = '%s' and instruction = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1110,"y":3920,"wires":[["a4234ea0.14263"]]},{"id":"a4234ea0.14263","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1310,"y":3920,"wires":[["3a4e4559.46f8da"]]},{"id":"d293749.a8cf688","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":490,"y":3940,"wires":[]},{"id":"2f2b942a.278e8c","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\nvar select=\"select title, count(*) count0 from menu_ins, recipes where recipe = id and username = '%s' and type = '%s' and checked = 0 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":4660,"wires":[["4ee30c5d.a5dbd4"]]},{"id":"299eb5ea.82988a","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":2210,"y":4660,"wires":[]},{"id":"4ee30c5d.a5dbd4","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":630,"y":4660,"wires":[["bf1027fb.258b88"]]},{"id":"a677db43.7f8ce8","type":"http in","z":"b0827aed.818358","name":"","url":"/ins_bar","method":"post","upload":false,"swaggerDoc":"","x":190,"y":4660,"wires":[["2f2b942a.278e8c"]]},{"id":"7fdf3de5.02f4c4","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":4740,"wires":[]},{"id":"bf1027fb.258b88","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data1 = {};\nfor(var i in msg.payload){\n    msg.data1[msg.payload[i]['title']] = msg.payload[i]['count0'];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4660,"wires":[["8d759c38.f70dd"]]},{"id":"8d759c38.f70dd","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select title, count(*) count1 from menu_ins, recipes where recipe = id and username = '%s' and type = '%s' and checked = 1 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":4660,"wires":[["a197467f.1013a8"]]},{"id":"a197467f.1013a8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1210,"y":4660,"wires":[["c16db7db.5d89c8","7fdf3de5.02f4c4"]]},{"id":"c16db7db.5d89c8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data2 = {};\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] in msg.data1){\n        msg.data2[msg.payload[i]['title']] = Math.round(100*msg.payload[i]['count1']/(msg.payload[i]['count1']+msg.data1[msg.payload[i]['title']]));\n    } else {\n        msg.data2[msg.payload[i]['title']] = 100;\n    }\n}\n\nmsg.payload = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":1410,"y":4660,"wires":[["18fb4c24.deac14"]]},{"id":"18fb4c24.deac14","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select distinct title from menu_ins, recipes where recipe = id and username = '%s' and type = '%s' order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":4660,"wires":[["1ee64b3.1e3e1b5"]]},{"id":"1ee64b3.1e3e1b5","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1830,"y":4660,"wires":[["cfad99d2.a534d8"]]},{"id":"cfad99d2.a534d8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = [];\nfor(var i in msg.payload){\n    msg.data.push([msg.payload[i]['title']]);\n}\nmsg.payload = {};\nmsg.payload[\"recipe\"] = msg.data;\nmsg.payload[\"percentage\"] = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":2030,"y":4660,"wires":[["299eb5ea.82988a"]]},{"id":"cf7939b2.36c3d8","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\nvar select=\"select title, count(*) count0 from menu_ingr, recipes where recipe = id and username = '%s' and type = '%s' and checked = 0 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":4820,"wires":[["44182c04.8d6d24"]]},{"id":"8a89f5c5.8389d8","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":2150,"y":4820,"wires":[]},{"id":"44182c04.8d6d24","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":630,"y":4820,"wires":[["4e617530.44015c"]]},{"id":"21b579a.13b6a86","type":"http in","z":"b0827aed.818358","name":"","url":"/ingr_bar","method":"post","upload":false,"swaggerDoc":"","x":200,"y":4820,"wires":[["cf7939b2.36c3d8"]]},{"id":"dbb37f3b.849bc","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1390,"y":4880,"wires":[]},{"id":"4e617530.44015c","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data1 = {};\nfor(var i in msg.payload){\n    msg.data1[msg.payload[i]['title']] = msg.payload[i]['count0'];\n}\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":4820,"wires":[["1e9d4317.7f6aad"]]},{"id":"1e9d4317.7f6aad","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select title, count(*) count1 from menu_ingr, recipes where recipe = id and username = '%s' and type = '%s' and checked = 1 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":4820,"wires":[["1ebbd49d.70d9db"]]},{"id":"1ebbd49d.70d9db","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1170,"y":4820,"wires":[["ca7ec394.e6295","dbb37f3b.849bc"]]},{"id":"ca7ec394.e6295","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data2 = {};\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] in msg.data1){\n        msg.data2[msg.payload[i]['title']] = Math.round(100*msg.payload[i]['count1']/(msg.payload[i]['count1']+msg.data1[msg.payload[i]['title']]));\n    } else {\n        msg.data2[msg.payload[i]['title']] = 100;\n    }\n}\n\nmsg.payload = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":4820,"wires":[["2972adfc.462e92"]]},{"id":"2972adfc.462e92","type":"function","z":"b0827aed.818358","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select distinct title from menu_ingr, recipes where recipe = id and username = '%s' and type = '%s' order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1570,"y":4820,"wires":[["e86c7616.d86768"]]},{"id":"e86c7616.d86768","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1770,"y":4820,"wires":[["ba209af6.c222b8"]]},{"id":"ba209af6.c222b8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = [];\nfor(var i in msg.payload){\n    msg.data.push([msg.payload[i]['title']]);\n}\nmsg.payload = {};\nmsg.payload[\"recipe\"] = msg.data;\nmsg.payload[\"percentage\"] = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":4820,"wires":[["8a89f5c5.8389d8"]]},{"id":"9bc36b30.4298c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
