node-red update/menu page update 10-24
[{"id":"b43e2147.296bf","type":"http in","z":"b0827aed.818358","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":160,"y":2560,"wires":[["c66e9de6.b7cb9"]]},{"id":"1a637a7c.5cd2a6","type":"http response","z":"b0827aed.818358","name":"","x":1250,"y":2560,"wires":[]},{"id":"8f99b25e.d5c73","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":510,"y":2560,"wires":[["ddb5463c.fc2ca8"]]},{"id":"c66e9de6.b7cb9","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT title from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":2560,"wires":[["8f99b25e.d5c73"]]},{"id":"d8b4e922.af0fb8","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":880,"y":2620,"wires":[]},{"id":"1b6d3e0c.531de2","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>Recipes</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML2 += \"<a href='#'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\n","output":"str","x":920,"y":2560,"wires":[["d04c4ba5.f3c408"]]},{"id":"ddb5463c.fc2ca8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2560,"wires":[["1b6d3e0c.531de2","d8b4e922.af0fb8"]]},{"id":"3c545df5.dc38d2","type":"comment","z":"b0827aed.818358","name":"menu page","info":"","x":160,"y":2460,"wires":[]},{"id":"6fd482f0.d90c2c","type":"http in","z":"b0827aed.818358","name":"","url":"/menu/ingredients","method":"get","upload":false,"swaggerDoc":"","x":190,"y":2680,"wires":[["b2f5c24f.e446c"]]},{"id":"93b8db40.f775b8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":520,"y":2680,"wires":[["398601cb.4b67de"]]},{"id":"b2f5c24f.e446c","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT ingredients from menu join ingredient on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2680,"wires":[["93b8db40.f775b8"]]},{"id":"e424d98a.ef7b38","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":2740,"wires":[]},{"id":"398601cb.4b67de","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['ingredients'].replace(/,/g, \"@\"));\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":2680,"wires":[["e424d98a.ef7b38","e6690567.014648"]]},{"id":"a610b443.0ae7f8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1100,"y":2680,"wires":[["5e70923c.b3959c"]]},{"id":"e6690567.014648","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT title from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":950,"y":2680,"wires":[["a610b443.0ae7f8"]]},{"id":"5e70923c.b3959c","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data2 = []\nfor(var i in msg.payload){\n    msg.data2.push(msg.payload[i]['title']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1280,"y":2680,"wires":[["e5e0a31a.e8fe9"]]},{"id":"4ca7b7c4.91b438","type":"http response","z":"b0827aed.818358","name":"","x":1500,"y":2840,"wires":[]},{"id":"e5e0a31a.e8fe9","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td>Recipes</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i].replace(/@/g, \",\") + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array2.length; i++){\n        HTML2 += \"<a href='#'>\" + array2[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\n","output":"str","x":1170,"y":2840,"wires":[["1c91dc42.a3ed14"]]},{"id":"352718e.e6cdde8","type":"http in","z":"b0827aed.818358","name":"","url":"/menu/nutrients","method":"get","upload":false,"swaggerDoc":"","x":180,"y":2940,"wires":[["fe960104.7dd61"]]},{"id":"7ffa78c9.f95b48","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":520,"y":2940,"wires":[["e0395199.f9ab7"]]},{"id":"fe960104.7dd61","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT * from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":2940,"wires":[["7ffa78c9.f95b48"]]},{"id":"d243b4a6.8cd808","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":3000,"wires":[]},{"id":"e0395199.f9ab7","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nmsg.data1 = []\nmsg.data2 = []\nmsg.data3 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['calories']);\n    msg.data1.push(msg.payload[i]['total_fat']);\n    msg.data2.push(msg.payload[i]['total_carbohydrates']);\n    msg.data3.push(msg.payload[i]['title']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":2940,"wires":[["27ae2734.d8e268"]]},{"id":"566a02bb.3d247c","type":"http response","z":"b0827aed.818358","name":"","x":1490,"y":3080,"wires":[]},{"id":"2381310.52e39d","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array3 = \"{{data3}}\"; //\nvar array3 = array3.split(\",\"); \n\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array1 = \"{{data}}\"; //\nvar array1 = array1.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n\nvar array4 = \"{{data4}}\"; //\nvar array4 = array4.split(\",\"); \n \nHTML = \"<thread><td>Recipe</td><td>Calories</td><td>Fat</td><td>Carbohydrates</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array3[i] + \"</td><td>\" + array[i] + \"</td><td>\" + array1[i] + \"</td><td>\" + array2[i] + \"</td></tr>\";\n    }\n    HTML += \"<tr><td>Total</td><td>\" + array4[0] + \"</td><td>\" + array4[1] + \"</td><td>\" + array4[2] + \"</td></tr>\";\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML2 += \"<a href='#'>\" + array3[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\n","output":"str","x":1200,"y":3080,"wires":[["1e3f9e9e.cb2001"]]},{"id":"fe9ca9f7.6fe9b8","type":"http in","z":"b0827aed.818358","name":"","url":"/menu/instructions","method":"get","upload":false,"swaggerDoc":"","x":200,"y":3220,"wires":[["241dc563.02074a"]]},{"id":"90deb7f1.9754e8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":530,"y":3220,"wires":[["90da07ee.2c4ed8"]]},{"id":"241dc563.02074a","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT instruction_number, instruction from recipes r, menu join instructions i on recipe = i.id where r.id = recipe and username = '%s' order by title asc, instruction_number asc\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":3220,"wires":[["90deb7f1.9754e8"]]},{"id":"421965ee.7280bc","type":"debug","z":"b0827aed.818358","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":940,"y":3280,"wires":[]},{"id":"90da07ee.2c4ed8","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data = []\nmsg.data1 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['instruction'].replace(/,/g, \"@\"));\n    msg.data1.push(msg.payload[i]['instruction_number']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":3220,"wires":[["421965ee.7280bc","3af96f42.65d2a"]]},{"id":"af343b1.559e9c8","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1110,"y":3220,"wires":[["8a62c975.479848"]]},{"id":"3af96f42.65d2a","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT title from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":960,"y":3220,"wires":[["af343b1.559e9c8"]]},{"id":"8a62c975.479848","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data2 = []\nfor(var i in msg.payload){\n    msg.data2.push(msg.payload[i]['title']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1290,"y":3220,"wires":[["6f6947f.eb886b8"]]},{"id":"8a70ea76.4bb768","type":"http response","z":"b0827aed.818358","name":"","x":1510,"y":3380,"wires":[]},{"id":"b3ff5d68.26fd3","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {\n  font-family: \"Lato\", sans-serif;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}\n</style>\n</head>\n<body onload='list(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Search</a>\n</div>\n\n<div class=\"main\">\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1370,"y":3380,"wires":[["8a70ea76.4bb768"]]},{"id":"6f6947f.eb886b8","type":"template","z":"b0827aed.818358","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \nvar array1 = \"{{data1}}\"; //\nvar array1 = array1.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td></td><td>Instruction</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array1[i] + \"</td><td>\" + array[i].replace(/@/g, \",\") + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array2.length; i++){\n        HTML2 += \"<a href='#'>\" + array2[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\n","output":"str","x":1220,"y":3380,"wires":[["b3ff5d68.26fd3"]]},{"id":"1e3f9e9e.cb2001","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {\n  font-family: \"Lato\", sans-serif;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}\n</style>\n</head>\n<body onload='list(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Search</a>\n</div>\n\n<div class=\"main\">\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1360,"y":3080,"wires":[["566a02bb.3d247c"]]},{"id":"1c91dc42.a3ed14","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {\n  font-family: \"Lato\", sans-serif;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}\n</style>\n</head>\n<body onload='list(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Search</a>\n</div>\n\n<div class=\"main\">\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1350,"y":2840,"wires":[["4ca7b7c4.91b438"]]},{"id":"d04c4ba5.f3c408","type":"template","z":"b0827aed.818358","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n<style>\nbody {\n  font-family: \"Lato\", sans-serif;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}\n</style>\n</head>\n<body onload='list(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Search</a>\n</div>\n\n<div class=\"main\">\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1090,"y":2560,"wires":[["1a637a7c.5cd2a6"]]},{"id":"7045aa8c.910cd4","type":"mysql","z":"b0827aed.818358","mydb":"9bc36b30.4298c8","name":"","x":1170,"y":2940,"wires":[["76452a2.18856d4"]]},{"id":"27ae2734.d8e268","type":"function","z":"b0827aed.818358","name":"test","func":"var select=\"SELECT sum(calories) t_cal, sum(total_fat) t_fat, sum(total_carbohydrates) t_carb from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":2940,"wires":[["7045aa8c.910cd4"]]},{"id":"76452a2.18856d4","type":"function","z":"b0827aed.818358","name":"format data","func":"msg.data4 = []\n\nfor(var i in msg.payload){\n    msg.data4.push(msg.payload[i]['t_cal']);\n    msg.data4.push(msg.payload[i]['t_fat']);\n    msg.data4.push(msg.payload[i]['t_carb']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1390,"y":2940,"wires":[["2381310.52e39d","d243b4a6.8cd808"]]},{"id":"9bc36b30.4298c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
