node-red update/menuPage_Ruisi_12.5
[{"id":"2c16ebac.f30834","type":"tab","label":"Menu Page","disabled":false,"info":""},{"id":"8dff6622.792758","type":"http in","z":"2c16ebac.f30834","name":"","url":"/menu","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["cd788521.8da608"]]},{"id":"2c07a70f.0feb38","type":"http response","z":"2c16ebac.f30834","name":"","x":2910,"y":100,"wires":[]},{"id":"5879b9f3.a9d698","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1190,"y":100,"wires":[["68303e42.39168"]]},{"id":"a950b7ba.b3d618","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT recipe, title from menu join recipes on recipe = id where username = '%s' and type = 'b'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1040,"y":100,"wires":[["5879b9f3.a9d698"]]},{"id":"a45f26ab.484188","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":160,"wires":[]},{"id":"ecbf9fc3.73515","type":"template","z":"2c16ebac.f30834","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"/*var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n \nHTML = \"<thread><td>Recipes</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}*/\n\nvar arrayb = \"{{datab}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar arrayb = arrayb.split(\",\");\nvar array2b = \"{{data2b}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array2b = array2b.split(\",\");\nfunction listb(){\n    HTML1 = \"\";\n    if(arrayb[0] !== \"\"){\n        for(i=0; i < arrayb.length; i++){\n            HTML1 += \"<tr><td>\" + arrayb[i] + \"</td>\";\n            HTML1 += \"<td><a  style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"myFunction(array2b, \" + i +\", 'b');\\\"><u>Delete</u></a></td>\";\n            HTML1 += \"<td><div class=\\\"dropdown\\\"><button class=\\\"dropbtn\\\">Move to<i class=\\\"fa fa-caret-down\\\"></i></button><div class=\\\"dropdown-content\\\"><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoLunchAjax(array2b, \" + i +\", 'b');\\\"><u>Lunch</u></a><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoDinnerAjax(array2b, \" + i +\", 'b');\\\"><u>Dinner</u></a></div></div></td></tr>\"\n        }\n    }\n    document.getElementById(\"tableb\").innerHTML=HTML1;\n}\n\nvar arrayl = \"{{datal}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar arrayl = arrayl.split(\",\");\nvar array2l = \"{{data2l}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array2l = array2l.split(\",\");\nfunction listl(){\n    HTML2 = \"\";\n    if(arrayl[0] !== \"\"){\n        for(i=0; i < arrayl.length; i++){\n            HTML2 += \"<tr><td>\" + arrayl[i] + \"</td>\";\n            HTML2 += \"<td><a  style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"myFunction(array2l, \" + i +\", 'l');\\\"><u>Delete</u></a></td>\";\n            HTML2 += \"<td><div class=\\\"dropdown\\\"><button class=\\\"dropbtn\\\">Move to<i class=\\\"fa fa-caret-down\\\"></i></button><div class=\\\"dropdown-content\\\"><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoBreakfastAjax(array2l, \" + i +\", 'l');\\\"><u>Breakfast</u></a><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoDinnerAjax(array2l, \" + i +\", 'l');\\\"><u>Dinner</u></a></div></div></td></tr>\"\n            \n        }\n    }\n    document.getElementById(\"tablel\").innerHTML=HTML2;\n}\n\nvar arrayd = \"{{datad}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar arrayd = arrayd.split(\",\");\nvar array2d = \"{{data2d}}\"; //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nvar array2d = array2d.split(\",\");\nfunction listd(){\n    HTML = \"\";\n    if(arrayd[0] !== \"\"){\n        for(i=0; i < arrayd.length; i++){\n            HTML += \"<tr><td>\" + arrayd[i] + \"</td>\";\n            HTML += \"<td><a  style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"myFunction(array2d, \" + i +\", 'd');\\\"><u>Delete</u></a></td>\";\n            HTML += \"<td><div class=\\\"dropdown\\\"><button class=\\\"dropbtn\\\">Move to<i class=\\\"fa fa-caret-down\\\"></i></button><div class=\\\"dropdown-content\\\"><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoBreakfastAjax(array2d, \" + i +\", 'd');\\\"><u>Breakfast</u></a><a style = \\\"font-size:20px; cursor:pointer\\\" onclick=\\\"movetoLunchAjax(array2d, \" + i +\", 'd');\\\"><u>Lunch</u></a></div></div></td></tr>\"\n        }\n    }\n    document.getElementById(\"tabled\").innerHTML=HTML;\n}\n\nfunction deleteAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/delete_menu\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction movetoBreakfastAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/move_Breakfast\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction movetoLunchAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/move_Lunch\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction movetoDinnerAjax(array, i, type) {\n    message = array[i];\n    $.ajax({\n        type: 'POST',\n        url: \"/move_Dinner\",\n        data: {\"name\": message, \"type\": type},\n        success: function(returnhtml){\n            window.location = \"/menu\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n    \n}\n\nfunction myFunction(array, i, type) {\n    var txt;\n    var r = confirm(\"Are you sure you want to delete this recipe from menu？\");\n    if (r === true) {\n        deleteAjax(array, i, type);\n    } else {\n        window.location = \"/menu\";\n    }\n}\n\narray = arrayb.concat(arrayl.concat(arrayd));\narray2 = array2b.concat(array2l.concat(array2d));\nHTML3 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML3 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='recipe/\" + array2[i] + \"'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML3;\n}\n","output":"str","x":2620,"y":100,"wires":[["5018d4f6.0b5e0c"]]},{"id":"68303e42.39168","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.datab = []\nmsg.data2b = []\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] !== \"\"){\n        msg.datab.push(msg.payload[i]['title']);\n        msg.data2b.push(msg.payload[i]['recipe']);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1370,"y":100,"wires":[["48d5865e.afdc88","a45f26ab.484188"]]},{"id":"e7bdf8c6.7c7838","type":"http in","z":"2c16ebac.f30834","name":"","url":"/menu/ingredients","method":"get","upload":false,"swaggerDoc":"","x":170,"y":220,"wires":[["7c7a644d.8bb0fc"]]},{"id":"9fc2d820.feefd8","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1250,"y":220,"wires":[["6cdc10a7.f500a"]]},{"id":"752b3a1b.332284","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT ingredient, type, checked from menu_ingr where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1070,"y":220,"wires":[["9fc2d820.feefd8"]]},{"id":"4a47db42.125044","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1610,"y":280,"wires":[]},{"id":"6cdc10a7.f500a","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.datab = [];\nmsg.data2b = [];\nmsg.datal = [];\nmsg.data2l = [];\nmsg.datad = [];\nmsg.data2d = [];\n\nfor(var i in msg.payload){\n    if(msg.payload[i]['type']  == \"b\"){\n        msg.datab.push(msg.payload[i]['ingredient'].replace(/@/g, \"'\").replace(/,/g, \"@\"));\n        msg.data2b.push(msg.payload[i]['checked']);\n    } else if(msg.payload[i]['type']  == \"l\"){\n        msg.datal.push(msg.payload[i]['ingredient'].replace(/@/g, \"'\").replace(/,/g, \"@\"));\n        msg.data2l.push(msg.payload[i]['checked']);\n    } else {\n        msg.datad.push(msg.payload[i]['ingredient'].replace(/@/g, \"'\").replace(/,/g, \"@\"));\n        msg.data2d.push(msg.payload[i]['checked']);\n    }\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1420,"y":220,"wires":[["4a47db42.125044","23971572.983d4a"]]},{"id":"4d1594d7.cf832c","type":"http response","z":"2c16ebac.f30834","name":"","x":2490,"y":220,"wires":[]},{"id":"cecda5de.399508","type":"template","z":"2c16ebac.f30834","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var arrayb = \"{{datab}}\"; //\nvar arrayb = arrayb.split(\",\"); \nvar arrayl = \"{{datal}}\"; //\nvar arrayl = arrayl.split(\",\"); \nvar arrayd = \"{{datad}}\"; //\nvar arrayd = arrayd.split(\",\"); \n\nvar array2b = \"{{data2b}}\"; //\nvar array2b = array2b.split(\",\"); \nvar array2l = \"{{data2l}}\"; //\nvar array2l = array2l.split(\",\"); \nvar array2d = \"{{data2d}}\"; //\nvar array2d = array2d.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \nvar array3 = \"{{data3}}\"; //\nvar array3 = array3.split(\",\"); \n\nfunction listb(){\n    HTML = \"\";\n    for(i=0; i < arrayb.length; i++){\n        if(array2b[i] == 0){\n            HTML += \"<li>\" + arrayb[i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML += \"<li class = 'checked'>\" + arrayb[i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULb\").innerHTML=HTML;\n}\n\nfunction listl(){\n    HTML1 = \"\";\n    for(i=0; i < arrayl.length; i++){\n        if(array2l[i] == 0){\n            HTML1 += \"<li>\" + arrayl[i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML1 += \"<li class = 'checked'>\" + arrayl[i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULl\").innerHTML=HTML1;\n}\n\nfunction listd(){\n    HTML3 = \"\";\n    for(i=0; i < arrayd.length; i++){\n        if(array2d[i] == 0){\n            HTML3 += \"<li>\" + arrayd[i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML3 += \"<li class = 'checked'>\" + arrayd[i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULd\").innerHTML=HTML3;\n}\n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array2.length; i++){\n        HTML2 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='/recipe/\" + array3[i] + \"'>\" + array2[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\nfunction changeb(ingr){\n    message = ingr;\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ingr_stat\",\n        data: {\"name\": message, \"type\": \"b\"},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction changel(ingr){\n    message = ingr;\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ingr_stat\",\n        data: {\"name\": message, \"type\": \"l\"},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction changed(ingr){\n    message = ingr;\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ingr_stat\",\n        data: {\"name\": message, \"type\": \"d\"},\n        success: function(returnhtml){\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nvar myNodelist = document.getElementsByTagName(\"LI\");\nvar i;\nfor (i = 0; i < myNodelist.length; i++) {\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  myNodelist[i].appendChild(span);\n}\n\n// Click on a close button to hide the current list item\nvar close = document.getElementsByClassName(\"close\");\nvar i;\nfor (i = 0; i < close.length; i++) {\n  close[i].onclick = function() {\n    var div = this.parentElement;\n    div.style.display = \"none\";\n  }\n}\n\n// Add a \"checked\" symbol when clicking on a list item\nvar list = document.querySelectorAll('ul');\nlist[0].addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    changeb(ev.target.innerHTML);\n  }\n}, false);\n\nlist[1].addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    changel(ev.target.innerHTML);\n  }\n}, false);\n\nlist[2].addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    changed(ev.target.innerHTML);\n  }\n}, false);\n\n// Create a new list item when clicking on the \"Add\" button\nfunction newElement() {\n  var li = document.createElement(\"li\");\n  var inputValue = document.getElementById(\"myInput\").value;\n  var t = document.createTextNode(inputValue);\n  li.appendChild(t);\n  if (inputValue === '') {\n    alert(\"You must write something!\");\n  } else {\n    document.getElementById(\"myUL\").appendChild(li);\n  }\n  document.getElementById(\"myInput\").value = \"\";\n\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  li.appendChild(span);\n\n  for (i = 0; i < close.length; i++) {\n    close[i].onclick = function() {\n      var div = this.parentElement;\n      div.style.display = \"none\";\n    }\n  }\n}","output":"str","x":2160,"y":220,"wires":[["24a6678e.220368"]]},{"id":"f9884cf4.a6eff","type":"http in","z":"2c16ebac.f30834","name":"","url":"/menu/nutrients","method":"get","upload":false,"swaggerDoc":"","x":170,"y":360,"wires":[["d34f0a07.840748"]]},{"id":"d89edbdf.ddb3f8","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1240,"y":360,"wires":[["d0b98bed.7ec4b8"]]},{"id":"3c436c3b.6f93e4","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT title, id from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1080,"y":360,"wires":[["d89edbdf.ddb3f8"]]},{"id":"1a5d4bfd.e6bfa4","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1620,"y":420,"wires":[]},{"id":"d0b98bed.7ec4b8","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data = []\nmsg.data1 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n    msg.data1.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1430,"y":360,"wires":[["1a5d4bfd.e6bfa4","4214524d.e3220c"]]},{"id":"b43f70fe.036be","type":"http response","z":"2c16ebac.f30834","name":"","x":1940,"y":360,"wires":[]},{"id":"4214524d.e3220c","type":"template","z":"2c16ebac.f30834","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"diction = {};\ndiction[\"calories\"] = \"calories\";\ndiction[\"fat\"] = \"total_fat\";\ndiction[\"carbohydrate\"] = \"total_carbohydrates\";\ndiction[\"protein\"] = \"protein\";\ndiction[\"All\"] = \"a\";\ndiction[\"Breakfast\"] = \"b\";\ndiction[\"Lunch\"] = \"l\";\ndiction[\"Dinner\"] = \"d\";\n\nfunction invoke_piechart(nut){\n    function get_sum(response) {\n        compare_piechart(nut, response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/sum_ajax\",\n        data: {\"name\": diction[nut]},\n        success: get_sum\n   });\n}\n\nfunction compare_piechart(name, data) {\ndocument.getElementById(\"name1\").innerHTML=name;\nvar sum = data.reduce(function(a, b){return a + b;}, 0);\nresult = [];\nfor(var i in data){\n    result.push(Math.round(data[i]/sum * 10000) / 100);\n}\n\nvar chart = new CanvasJS.Chart(\"chartContainer2\", {\n    theme: \"light2\",\n\tanimationEnabled: true,\n\ttitle: {\n\t\ttext: \"Total \" + name.charAt(0).toUpperCase() + name.slice(1) + \" Value compared by Meal\"\n\t},\n\tdata: [{\n\t\ttype: \"pie\",\n\t\tindexLabelFontSize: 18,\n\t\tradius: 120,\n\t\tindexLabel: \"{label} - {y}\",\n\t\tyValueFormatString: \"###0.0\\\"%\\\"\",\n\t\tclick: explodePie,\n\t\tdataPoints: [\n\t\t\t{ y: result[0], label: \"Breakfast\" },\n\t\t\t{ y: result[1], label: \"Lunch\"},\n\t\t\t{ y: result[2], label: \"Dinner\" }\n\t\t]\n\t}]\n});\nchart.render();\n\nfunction explodePie(e) {\n\tfor(var i = 0; i < e.dataSeries.dataPoints.length; i++) {\n\t\tif(i !== e.dataPointIndex)\n\t\t\te.dataSeries.dataPoints[i].exploded = false;\n\t}\n}\n}\n\nfunction nutrients_piechart(data) {\nvar sum = data.reduce(function(a, b){return a + b;}, 0);\nresult = [];\nfor(var i in data){\n    result.push(Math.round(data[i]/sum * 10000) / 100);\n}\n\nvar chart = new CanvasJS.Chart(\"chartContainer\", {\n\ttheme: \"light2\",\n\tanimationEnabled: true,\n\ttitle: {\n\t\ttext: \"Total nutrients in Recipes\"\n\t},\n\tdata: [{\n\t\ttype: \"pie\",\n\t\tindexLabelFontSize: 18,\n\t\tradius: 120,\n\t\tindexLabel: \"{label} - {y}\",\n\t\tyValueFormatString: \"###0.0\\\"%\\\"\",\n\t\tclick: explodePie,\n\t\tdataPoints: [\n\t\t\t{ y: result[0], label: \"Saturated Fat\" },\n\t\t\t{ y: result[1], label: \"Cholesterol\"},\n\t\t\t{ y: result[2], label: \"Fiber\" },\n\t\t\t{ y: result[3], label: \"Sodium\" },\n\t\t\t{ y: result[4], label: \"Sugar\" }\n\t\t]\n\t}]\n});\nchart.render();\n\nfunction explodePie(e) {\n\tfor(var i = 0; i < e.dataSeries.dataPoints.length; i++) {\n\t\tif(i !== e.dataPointIndex)\n\t\t\te.dataSeries.dataPoints[i].exploded = false;\n\t}\n}\n}\n\n$(document).ready(function() {\n\t javascriptCheck();\n\t invokerankAjax(\"calories\", \"desc\", \"All\");\n\t invokelistAjax(\"All\");\n\t invoke_piechart(\"calories\");\n});\n\nfunction javascriptCheck() {\n    $('#no-script').remove();\n}\n\nfunction invokerankAjax(nut, ord, type){\n    function list_rank(response) {\n        response[\"o_name\"] = nut;\n        response[\"name\"] = diction[nut];\n        response[\"order\"] = ord;\n        response[\"type\"] = type;\n        processOK(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/rank_ajax\",\n        data: {\"name\": diction[nut], \"order\": ord, \"type\": diction[type]},\n        success: list_rank\n   });\n}\n\nfunction invokerankAjax_a(nut){\n    var type = document.getElementById(\"view\").innerHTML;\n    var ord = document.getElementById(\"order\").innerHTML;\n    invokerankAjax(nut, ord, type);\n}\n\nfunction invokerankAjax_b(ord){\n    var type = document.getElementById(\"view\").innerHTML;\n    var nut = document.getElementById(\"name\").innerHTML;\n    invokerankAjax(nut, ord, type);\n}\n\nfunction invokerankAjax_c(type){\n    var nut = document.getElementById(\"name\").innerHTML;\n    var ord = document.getElementById(\"order\").innerHTML;\n    invokerankAjax(nut, ord, type);\n}\n\nfunction processOK(response){\n    HTML = \"<tr><th colspan='2'>Ranking by Major Nutrient</th></tr><tr><th>Recipe</th><th>\" + response[\"o_name\"] + \"</th></tr>\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        if(response[\"value\"][i] !== null) {\n            HTML += \"<tr><td>\" + response[\"recipe\"][i] + \"</td><td>\" + response[\"value\"][i] + \"</td></tr>\";\n        }\n    }\n    if(response[\"sum\"][i] !== null) {\n        HTML += \"<tr><td>Total</td><td>\" + response[\"sum\"][0] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n    document.getElementById(\"name\").innerHTML=response[\"o_name\"];\n    document.getElementById(\"order\").innerHTML=response[\"order\"];\n    document.getElementById(\"view\").innerHTML=response[\"type\"];\n}\n\nfunction invokelistAjax(type){\n    function list_rank1(response) {\n        processOK1(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/get_macro\",\n        data: {\"type\": diction[type]},\n        success: list_rank1\n   });\n}\n\nfunction processOK1(response){\n    data = [];\n    HTML1 = \"<tr><th colspan='2'>Total for Other Nutrients</th></tr><tr><th>Nutrient</th><th>Total Value</th></tr>\";\n    for(i=0; i < response[\"nutrients\"].length; i++){\n        if(response[response[\"key\"][i]] !== null) {\n            HTML1 += \"<tr><td>\" + response[\"nutrients\"][i] + \"</td><td>\" + response[response[\"key\"][i]] + \"</td></tr>\";\n        }\n        data.push(response[response[\"key\"][i]]);\n    }\n    HTML1 += \"</tr>\";\n    document.getElementById(\"table1\").innerHTML=HTML1;\n    nutrients_piechart(data);\n}\n\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array1 = \"{{data1}}\"; //\nvar array1 = array1.split(\",\"); \n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML2 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='/recipe/\" + array1[i] + \"'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\n","output":"str","x":1650,"y":360,"wires":[["e131d60.3372f28"]]},{"id":"85d21847.489228","type":"http in","z":"2c16ebac.f30834","name":"","url":"/menu/instructions","method":"get","upload":false,"swaggerDoc":"","x":180,"y":500,"wires":[["be6f80cf.1bebb"]]},{"id":"ecf8b896.46c078","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1290,"y":2040,"wires":[["b7cf3fa8.88ff3","336d5b1e.fbb244"]]},{"id":"50823274.00c9dc","type":"function","z":"2c16ebac.f30834","name":"test","func":"\nvar select=\"SELECT instruction_number, instruction, title, checked from recipes r, menu_ins where id = recipe and r.id = '%s' and username = '%s' and type = '%s' order by instruction_number asc\";\n\nmsg.topic = util.format(select, msg.id, msg.req.cookies.id, msg.type);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":2040,"wires":[["ecf8b896.46c078"]]},{"id":"336d5b1e.fbb244","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1470,"y":2100,"wires":[]},{"id":"b7cf3fa8.88ff3","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data = [];\nmsg.data1 = [];\nmsg.data2 = [];\nmsg.data3 = msg.payload[0]['title'];\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['instruction'].replace(/@/g, \"'\").replace(/,/g, \"@\"));\n    msg.data1.push(msg.payload[i]['instruction_number']);\n    msg.data2.push(msg.payload[i]['checked']);\n}\nmsg.payload = {};\nmsg.payload[\"title\"] = msg.data3;\nmsg.payload[\"instruction_number\"] = msg.data1;\nmsg.payload[\"instruction\"] = msg.data;\nmsg.payload[\"checked\"] = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":2040,"wires":[["52d14fe6.c1874"]]},{"id":"3ca99b70.dad1d4","type":"http response","z":"2c16ebac.f30834","name":"","x":1950,"y":500,"wires":[]},{"id":"4da5d18e.38bc","type":"template","z":"2c16ebac.f30834","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n</head>\n<body onload='linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n        \n        <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Cooking Instructions</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px; padding-left:0px\">\n            \n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:210px; color:white\">Select Recipe<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\" id = \"drops\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('calories')\"><u>Calories</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('fat')\"><u>Fat</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('carbohydrate')\"><u>Carbohydrate</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('protein')\"><u>Protein</u></a>\n                </div>\n            </div>\n            \n            <p id=\"name\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n            \n            <div style=\"float:right\">\n                <div class=\"dropdown\">\n        \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:100px; color:white\">View<i class=\"fa fa-caret-down\"></i></button>\n        \t\t    <div class=\"dropdown-content\">\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax('calories', 'desc', 'Breakfast');invokelistAjax('Breakfast');invokeinsbar();invokeingrbar();\"><u>Breakfast</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax('calories', 'desc', 'Lunch');invokelistAjax('Lunch');invokeinsbar();invokeingrbar();\"><u>Lunch</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax('calories', 'desc', 'Dinner');invokelistAjax('Dinner');invokeinsbar();invokeingrbar();\"><u>Dinner</u></a>\n                    </div>\n                </div>\n                \n                <p id=\"view\" style=\"font-size:25px; font-weight:bold; margin:0; margin-left:10px; float:right\"></p>\n            </div>\n            <!--<p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>-->\n        </div>\n        <div style=\"width:490px; float:right; padding-top:20px\">\n            <div id=\"app\"></div>\n            <div style=\"height:50px; padding-top:20px\">\n                <input type=\"text\" id=\"hour\" name=\"h\" placeholder=\"Hour\" style=\"width:100px; float:left; border:solid; border-radius:10px; margin-left:8px\"><div style=\"float:left; font-size:40px; margin-left:5px; margin-right:5px\">:</div>\n                <input type=\"text\" id=\"minute\" name=\"m\" placeholder=\"Minute\" style=\"width:100px; float:left; border:solid; border-radius:10px\"><div style=\"float:left; font-size:40px; margin-left:5px; margin-right:5px\">:</div>\n                <input type=\"text\" id=\"second\" name=\"s\" placeholder=\"Second\" style=\"width:100px; float:left; border:solid; border-radius:10px\">\n                <button onclick=\"restart();\" id=\"id_enter\" style=\"height:45px; width:80px; border-radius:10px; margin-left:50px; font-size:20px\">Start</button>\n            </div>\n        </div>\n        \n        \n\t\t<!--<table border=\"5px\" style=\"width: 500px; font-size: 30px; float:left\" id = \"table\">\n\t\t</table>-->\n\t\t\n\t\t<div style=\"width: 490px; float:left; margin-right:10px\">\n\t\t    <div style=\"width: 490px;\">\n\t\t        <h2 style=\"text-align:center;margin-bottom:0px\">Ingredient Progress Bar</h2>\n    \t\t</div>\n    \t\t<div style=\"width: 490px;\" id=\"ingrBar\">\n    \t\t</div>\n    \t\t<div style=\"width: 490px;\">\n\t\t        <h2 style=\"text-align:center;margin-bottom:0px\">Instruction Progress Bar</h2>\n    \t\t</div>\n    \t\t<div style=\"width: 490px;\" id=\"insBar\">\n    \t\t</div>\n\t\t</div>\n\t\t\n\t\t<ul style=\"width: 500px; float: left\" id=\"myULb\">\n        </ul>\n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1810,"y":500,"wires":[["3ca99b70.dad1d4"]]},{"id":"ec165f3a.48444","type":"template","z":"2c16ebac.f30834","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"diction = {};\ndiction[\"calories\"] = \"calories\";\ndiction[\"fat\"] = \"total_fat\";\ndiction[\"carbohydrate\"] = \"total_carbohydrates\";\ndiction[\"protein\"] = \"protein\";\ndiction[\"All\"] = \"a\";\ndiction[\"Breakfast\"] = \"b\";\ndiction[\"Lunch\"] = \"l\";\ndiction[\"Dinner\"] = \"d\";\n\n$(document).ready(function() {\n\t document.getElementById(\"view\").innerHTML = \"Breakfast\";\n\t invokerankAjax(\"calories\", \"desc\", \"Breakfast\");\n\t invokeingrbar();\n\t invokeinsbar();\n\t enterbutton();\n});\n\nfunction enterbutton(){\n\n    $(function() {\n        $(\"input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n       return true;\n\t }\n     });\n    });\n\n}\n\nfunction invokeingrbar(){\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    function list_rank3(response) {\n        ingrbar(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/ingr_bar\",\n        data: {\"type\": type},\n        success: list_rank3\n   });\n}\n\nfunction ingrbar(response) {\n    HTML = \"\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        if(response[\"recipe\"][i] in response[\"percentage\"]) {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:\" + response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%'>\";\n            HTML += response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%</div></div>\";\n        } else {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:0%'>\";\n            HTML += \"0%</div></div>\";\n        }\n    }\n    document.getElementById(\"ingrBar\").innerHTML=HTML;\n}\n\nfunction invokeinsbar(){\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    function list_rank2(response) {\n        insbar(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/ins_bar\",\n        data: {\"type\": type},\n        success: list_rank2\n   });\n}\n\nfunction insbar(response) {\n    HTML = \"\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        if(response[\"recipe\"][i] in response[\"percentage\"]) {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:\" + response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%'>\";\n            HTML += response[\"percentage\"][response[\"recipe\"][i]].toString() + \"%</div></div>\";\n        } else {\n            HTML += \"<p style='margin-left:15px;margin-bottom:3px;margin-top:10px'>\" + response[\"recipe\"][i] + \"</p>\";\n            HTML += \"<div class='container'><div class='skills css' style='background-color:#4CAF50; width:0%'>\";\n            HTML += \"0%</div></div>\";\n        }\n    }\n    document.getElementById(\"insBar\").innerHTML=HTML;\n}\n\nfunction invokelistAjax(view) {\n    document.getElementById(\"view\").innerHTML = view;\n}\n\nfunction invokeinsAjax(id) {\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    function list_rank1(response) {\n        listb(response);\n        document.getElementById(\"name\").innerHTML = response[\"title\"];\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/ins_ajax\",\n        data: {\"id\": id, \"type\": type},\n        success: list_rank1\n   });\n}\n\nfunction listb(response){\n    HTML = \"\";\n    for(i=0; i < response[\"instruction\"].length; i++){\n        if(response[\"checked\"][i] === 0){\n            HTML += \"<li>\" + response[\"instruction_number\"][i] + \". \" + response[\"instruction\"][i].replace(/@/g, \",\") + \"</li>\";\n        } else {\n            HTML += \"<li class = 'checked'>\" + response[\"instruction_number\"][i] + \". \" + response[\"instruction\"][i].replace(/@/g, \",\") + \"</li>\";\n        }\n    }\n    document.getElementById(\"myULb\").innerHTML=HTML;\n}\n\nfunction invokerankAjax(nut, ord, type){\n    function list_rank(response) {\n        response[\"o_name\"] = nut;\n        response[\"name\"] = diction[nut];\n        response[\"order\"] = ord;\n        response[\"type\"] = type;\n        processOK(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/rank_ajax\",\n        data: {\"name\": diction[nut], \"order\": ord, \"type\": diction[type]},\n        success: list_rank\n   });\n}\n\nfunction processOK(response){\n    var HTML = \"\";\n    for(i=0; i < response[\"recipe\"].length; i++){\n        HTML += \"<a style = 'font-size:20px; cursor:pointer' onclick='invokeinsAjax(\\\"\"+ response[\"id\"][i] + \"\\\")'><u>\" + response[\"recipe\"][i] + \"</u></a>\";\n    }\n    document.getElementById(\"drops\").innerHTML=HTML;\n    invokeinsAjax(response[\"id\"][0]);\n}\n\nconst FULL_DASH_ARRAY = 283;\nconst WARNING_THRESHOLD = 10;\nconst ALERT_THRESHOLD = 5;\n\nconst COLOR_CODES = {\n  info: {\n    color: \"green\"\n  },\n  warning: {\n    color: \"orange\",\n    threshold: WARNING_THRESHOLD\n  },\n  alert: {\n    color: \"red\",\n    threshold: ALERT_THRESHOLD\n  }\n};\n\nvar TIME_LIMIT = 0;\nvar timePassed = 0;\nvar timeLeft = TIME_LIMIT;\nvar timerInterval = null;\nvar remainingPathColor = COLOR_CODES.info.color;\nvar hours = 0;\nvar minutes = 0;\nvar seconds = 0;\n\ndocument.getElementById(\"app\").innerHTML = `\n<div class=\"base-timer\" style=\"margin:auto\">\n  <svg class=\"base-timer__svg\" viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\">\n    <g class=\"base-timer__circle\">\n      <circle class=\"base-timer__path-elapsed\" cx=\"50\" cy=\"50\" r=\"45\"></circle>\n      <path\n        id=\"base-timer-path-remaining\"\n        stroke-dasharray=\"283\"\n        class=\"base-timer__path-remaining ${remainingPathColor}\"\n        d=\"\n          M 50, 50\n          m -45, 0\n          a 45,45 0 1,0 90,0\n          a 45,45 0 1,0 -90,0\n        \"\n      ></path>\n    </g>\n  </svg>\n  <span id=\"base-timer-label\" class=\"base-timer__label\">${formatTime(\n    timeLeft\n  )}</span>\n</div>\n`;\n\nfunction restart(){\n\nhours = parseInt(document.getElementById(\"hour\").value);\nminutes = parseInt(document.getElementById(\"minute\").value);\nseconds = parseInt(document.getElementById(\"second\").value);\n\nif(isNaN(hours)){\n    hours = 0;\n}\nif(isNaN(minutes)){\n    minutes = 0;\n}\nif(isNaN(seconds)){\n    seconds = 0;\n}\n\ntimePassed = 0;\nTIME_LIMIT = 3600*hours + 60*minutes + seconds;\ntimeLeft = TIME_LIMIT;\ntimerInterval = null;\nremainingPathColor = COLOR_CODES.info.color;\n\ndocument.getElementById(\"app\").innerHTML = `\n<div class=\"base-timer\" style=\"margin:auto\">\n  <svg class=\"base-timer__svg\" viewBox=\"0 0 100 100\" xmlns=\"http://www.w3.org/2000/svg\">\n    <g class=\"base-timer__circle\">\n      <circle class=\"base-timer__path-elapsed\" cx=\"50\" cy=\"50\" r=\"45\"></circle>\n      <path\n        id=\"base-timer-path-remaining\"\n        stroke-dasharray=\"283\"\n        class=\"base-timer__path-remaining ${remainingPathColor}\"\n        d=\"\n          M 50, 50\n          m -45, 0\n          a 45,45 0 1,0 90,0\n          a 45,45 0 1,0 -90,0\n        \"\n      ></path>\n    </g>\n  </svg>\n  <span id=\"base-timer-label\" class=\"base-timer__label\">${formatTime(\n    timeLeft\n  )}</span>\n</div>\n`;\n\nstartTimer(timeLeft);\n}\n\nfunction onTimesUp() {\n  clearInterval(timerInterval);\n  document.getElementById(\"base-timer-label\").innerHTML = formatTime(\n      0\n    );\n}\n\nfunction startTimer(limit) {\n  timerInterval = setInterval(() => {\n    timePassed = timePassed += 1;\n    timeLeft = limit - timePassed;\n    document.getElementById(\"base-timer-label\").innerHTML = formatTime(\n      timeLeft\n    );\n    setCircleDasharray();\n    setRemainingPathColor(timeLeft);\n\n    if (timeLeft <= 0) {\n      onTimesUp();\n    }\n  }, 1000);\n}\n\nfunction formatTime(time) {\n  const hours = Math.floor(time / 3600);\n  let minutes = Math.floor(time / 60);\n  let seconds = time % 60;\n  \n  if (minutes < 10) {\n    minutes = `0${minutes}`;\n  }\n  \n  if (seconds < 10) {\n    seconds = `0${seconds}`;\n  }\n\n  return `${hours}:${minutes}:${seconds}`;\n}\n\nfunction setRemainingPathColor(timeLeft) {\n  const { alert, warning, info } = COLOR_CODES;\n  if (timeLeft <= alert.threshold) {\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.remove(warning.color);\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.add(alert.color);\n  } else if (timeLeft <= warning.threshold) {\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.remove(info.color);\n    document\n      .getElementById(\"base-timer-path-remaining\")\n      .classList.add(warning.color);\n  }\n}\n\nfunction calculateTimeFraction() {\n  const rawTimeFraction = timeLeft / TIME_LIMIT;\n  return rawTimeFraction - (1 / TIME_LIMIT) * (1 - rawTimeFraction);\n}\n\nfunction setCircleDasharray() {\n  const circleDasharray = `${(\n    calculateTimeFraction() * FULL_DASH_ARRAY\n  ).toFixed(0)} 283`;\n  document\n    .getElementById(\"base-timer-path-remaining\")\n    .setAttribute(\"stroke-dasharray\", circleDasharray);\n}\n\nvar array = \"1,2,3,4,5,6,7,8\"; //\nvar array = array.split(\",\"); \nvar array1 = \"1,2,3,4,5,6,7,8\"; //\nvar array1 = array1.split(\",\"); \n\nvar array2 = \"1,2,3,4,5,6,7,8\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td></td><td>Instruction</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction listt(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array1[i] + \"</td><td>\" + array[i].replace(/@/g, \",\") + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array1 = \"{{data1}}\"; //\nvar array1 = array1.split(\",\"); \n\nHTML2 = \"\";\nfunction linklist(){\n    for(i=0; i < array.length; i++){\n        HTML2 += \"<a style = \\\"padding: 6px 0px 6px 0px;\\\" href='/recipe/\" + array1[i] + \"'>\" + array[i] + \"</a>\";\n    }\n    document.getElementById(\"recipes-dropdown\").innerHTML=HTML2;\n}\n\nfunction change(ins, num){\n    message = ins;\n    var type = diction[document.getElementById(\"view\").innerHTML];\n    $.ajax({\n        type: 'POST',\n        url: \"/change_ins_stat\",\n        data: {\"name\": message, \"type\": type, \"number\": num},\n        success: function(returnhtml){\n            invokeinsbar();\n            //window.location = \"/menu/ingredients\";\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nvar myNodelist = document.getElementsByTagName(\"LI\");\nvar i;\nfor (i = 0; i < myNodelist.length; i++) {\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  myNodelist[i].appendChild(span);\n}\n\n// Click on a close button to hide the current list item\nvar close = document.getElementsByClassName(\"close\");\nvar i;\nfor (i = 0; i < close.length; i++) {\n  close[i].onclick = function() {\n    var div = this.parentElement;\n    div.style.display = \"none\";\n  }\n}\n\n// Add a \"checked\" symbol when clicking on a list item\nvar list = document.querySelector('ul');\nlist.addEventListener('click', function(ev) {\n  if (ev.target.tagName === 'LI') {\n    ev.target.classList.toggle('checked');\n    var num = ev.target.innerHTML.substr(0,ev.target.innerHTML.indexOf('. ')); // \"72\"\n    var ins = ev.target.innerHTML.substr(ev.target.innerHTML.indexOf('. ')+2); \n    change(ins, num);\n  }\n}, false);\n\n// Create a new list item when clicking on the \"Add\" button\nfunction newElement() {\n  var li = document.createElement(\"li\");\n  var inputValue = document.getElementById(\"myInput\").value;\n  var t = document.createTextNode(inputValue);\n  li.appendChild(t);\n  if (inputValue === '') {\n    alert(\"You must write something!\");\n  } else {\n    document.getElementById(\"myUL\").appendChild(li);\n  }\n  document.getElementById(\"myInput\").value = \"\";\n\n  var span = document.createElement(\"SPAN\");\n  var txt = document.createTextNode(\"\\u00D7\");\n  span.className = \"close\";\n  span.appendChild(txt);\n  li.appendChild(span);\n\n  for (i = 0; i < close.length; i++) {\n    close[i].onclick = function() {\n      var div = this.parentElement;\n      div.style.display = \"none\";\n    }\n  }\n}","output":"str","x":1660,"y":500,"wires":[["4da5d18e.38bc"]]},{"id":"e131d60.3372f28","type":"template","z":"2c16ebac.f30834","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n</head>\n<body onload='linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n    \n        <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Menu Nutrients</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px; padding-left:0px\">\n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:150px; color:white\">Rank by<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('calories')\"><u>Calories</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('fat')\"><u>Fat</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('carbohydrate')\"><u>Carbohydrate</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_a('protein')\"><u>Protein</u></a>\n                </div>\n            </div>\n            \n            <p id=\"name\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n            \n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:150px; color:white\">Order<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_b('asc')\"><u>asc</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_b('desc')\"><u>desc</u></a>\n                </div>\n            </div>\n            \n            <p id=\"order\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:160px\"></p>\n            \n            <div class=\"dropdown\">\n    \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:200px; color:white\">Compare by<i class=\"fa fa-caret-down\"></i></button>\n    \t\t    <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('calories')\"><u>Calories</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('fat')\"><u>Fat</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('carbohydrate')\"><u>Carbohydrate</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"invoke_piechart('protein')\"><u>Protein</u></a>\n                </div>\n            </div>\n            \n            <p id=\"name1\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n            \n            <div style=\"float:right\">\n                <div class=\"dropdown\">\n        \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:100px; color:white\">View<i class=\"fa fa-caret-down\"></i></button>\n        \t\t    <div class=\"dropdown-content\">\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('Breakfast');invokelistAjax('Breakfast');\"><u>Breakfast</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('Lunch');invokelistAjax('Lunch');\"><u>Lunch</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('Dinner');invokelistAjax('Dinner');\"><u>Dinner</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"invokerankAjax_c('All');invokelistAjax('All');\"><u>All</u></a>\n                    </div>\n                </div>\n                \n                <p id=\"view\" style=\"font-size:25px; font-weight:bold; margin:0; margin-left:10px; float:right\"></p>\n            </div>\n            <!--<p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>-->\n        </div>\n        \n        <div style=\"float:left; min-height:500px\">\n    \t\t<table border=\"5px\" style=\"width: 650px; font-size: 30px;\" id = \"table\">\n    \t\t</table>\n    \t\t\n    \t\t<div style=\"padding-top:20px\"></div>\n    \t\t\n    \t\t<table border=\"5px\" style=\"width: 650px; font-size: 30px;\" id = \"table1\">\n    \t\t</table>\n\t\t</div>\n\t\t\n\t\t<div style=\"width:850px\">\n    \t\t<div id=\"chartContainer2\" style=\"height: 370px; width: 100%;\"></div>\n    \t\t<div id=\"chartContainer\" style=\"height: 370px; width: 100%;\"></div>\n        </div>\n        <script src=\"https://canvasjs.com/assets/script/canvasjs.min.js\"></script>\n        \n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":1810,"y":360,"wires":[["b43f70fe.036be"]]},{"id":"24a6678e.220368","type":"template","z":"2c16ebac.f30834","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n</head>\n<body onload='listb(); listl(); listd(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n\n\t\t<!--<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>-->\n\t\t<div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Ingredient List</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px\">\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>\n        </div>\n\n        <ul style=\"width: 495px; float: left\" id=\"myULb\">\n        </ul>\n        \n        <ul style=\"width: 495px; float: left; margin-left: 4px\" id=\"myULl\">\n        </ul>\n        \n        <ul style=\"width: 495px; float: right\" id=\"myULd\">\n        </ul>\n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":2340,"y":220,"wires":[["4d1594d7.cf832c"]]},{"id":"5018d4f6.0b5e0c","type":"template","z":"2c16ebac.f30834","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!--<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>-->\n<!DOCTYPE html>\n<html>\n<head>\n    <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n    <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n    <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n  </head>\n<body onload='listb(); listl(); listd(); linklist()'>\n\n<div class=\"sidenav\">\n  <a href=\"/menu\">Daily Menu</a>\n  <a href=\"/menu/ingredients\">Ingredient List</a>\n  <a href=\"/menu/nutrients\">Nutrients</a>\n  <a href=\"/menu/instructions\">Instructions</a>\n  <button class=\"dropdown-btn\">Recipes \n    <i class=\"fa fa-caret-down\"></i>\n  </button>\n  <div class=\"dropdown-container\" id=\"recipes-dropdown\">\n  </div>\n  <a href=\"/landin\">Recipe Search</a>\n  <a href=\"/farmers_market\">Market Search</a>\n</div>\n\n<div class=\"main\">\n    \n        <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">Daily Menu</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px\">\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10%\">Breakfast</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:30%\">Lunch</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:13%\">Dinner</p>\n        </div>\n        <div style=\"float: left; width: 500px; font-size: 30px; min-height:500px\">\n    \t\t<table border=\"5px\" style=\"float: left; width: 500px; font-size: 30px\" id = \"tableb\">\n    \t\t</table>\n    \t</div>\n    \t<div style=\"float: left; width: 500px; font-size: 30px; min-height:300px\">\n    \t\t<table border=\"5px\" style=\"float: left; width: 500px; font-size: 30px\" id = \"tablel\">\n    \t\t</table>\n    \t</div>\n    \t<div style=\"float: left; width: 500px; font-size: 30px\">\n    \t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"tabled\">\n    \t\t</table>\n\t\t</div>\n\t\t\n\t\t<script>{{{payload.script}}}</script>\n</div>\n\n<script>\n/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */\nvar dropdown = document.getElementsByClassName(\"dropdown-btn\");\nvar i;\n\nfor (i = 0; i < dropdown.length; i++) {\n  dropdown[i].addEventListener(\"click\", function() {\n  this.classList.toggle(\"active\");\n  var dropdownContent = this.nextElementSibling;\n  if (dropdownContent.style.display === \"block\") {\n  dropdownContent.style.display = \"none\";\n  } else {\n  dropdownContent.style.display = \"block\";\n  }\n  });\n}\n</script>\n\n</body>\n</html> ","x":2770,"y":100,"wires":[["2c07a70f.0feb38"]]},{"id":"75cf0e8.bd96af","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"DELETE from menu WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar del = \"DELETE from menu_ingr WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar del2 = \"DELETE from menu_ins WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.payload.name, msg.req.cookies.id, msg.payload.type);\ndel = util.format(del, msg.payload.name, msg.req.cookies.id, msg.payload.type);\ndel2 = util.format(del2, msg.payload.name, msg.req.cookies.id, msg.payload.type);\nmsg.topic = select + del + del2;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":660,"wires":[["b8204a27.ffdf48"]]},{"id":"f85f3f5e.3e029","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1110,"y":660,"wires":[]},{"id":"53a4df59.fb39d","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":890,"y":660,"wires":[["f85f3f5e.3e029"]]},{"id":"b8204a27.ffdf48","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":690,"y":660,"wires":[["53a4df59.fb39d"]]},{"id":"1bd7dde1.8aa302","type":"http in","z":"2c16ebac.f30834","name":"","url":"/delete_menu","method":"post","upload":false,"swaggerDoc":"","x":190,"y":660,"wires":[["75cf0e8.bd96af"]]},{"id":"7dfe31bc.95f0d","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1730,"y":100,"wires":[["64856aa3.f90a14"]]},{"id":"48d5865e.afdc88","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT recipe, title from menu join recipes on recipe = id where username = '%s' and type = 'l'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1580,"y":100,"wires":[["7dfe31bc.95f0d"]]},{"id":"64856aa3.f90a14","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.datal = []\nmsg.data2l = []\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] !== \"\"){\n        msg.datal.push(msg.payload[i]['title']);\n        msg.data2l.push(msg.payload[i]['recipe']);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":100,"wires":[["745f14d3.db355c"]]},{"id":"797dbaaa.e10304","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2250,"y":100,"wires":[["be85fd67.90252"]]},{"id":"745f14d3.db355c","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT recipe, title from menu join recipes on recipe = id where username = '%s' and type = 'd'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":2100,"y":100,"wires":[["797dbaaa.e10304"]]},{"id":"be85fd67.90252","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.datad = []\nmsg.data2d = []\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] !== \"\"){\n        msg.datad.push(msg.payload[i]['title']);\n        msg.data2d.push(msg.payload[i]['recipe']);\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"x":2430,"y":100,"wires":[["ecbf9fc3.73515"]]},{"id":"6e2a514a.73912","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"Update menu set type = 'l' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select2=\"Update menu_ingr set type = 'l' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select3=\"Update menu_ins set type = 'l' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.name, msg.req.cookies.id, msg.type);\nselect2 = util.format(select2, msg.name, msg.req.cookies.id, msg.type);\nselect3 = util.format(select3, msg.name, msg.req.cookies.id, msg.type);\nmsg.topic = select + select2 + select3;\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":780,"wires":[["4fa6cd88.41fa84"]]},{"id":"bb2b5ed7.4e0a","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1750,"y":780,"wires":[]},{"id":"374505c5.517cda","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":780,"wires":[["bb2b5ed7.4e0a"]]},{"id":"4fa6cd88.41fa84","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1330,"y":780,"wires":[["374505c5.517cda"]]},{"id":"bc2c1589.e39738","type":"http in","z":"2c16ebac.f30834","name":"","url":"/move_Lunch","method":"post","upload":false,"swaggerDoc":"","x":190,"y":780,"wires":[["90a11b6.8c7cee8"]]},{"id":"50a66b47.08eed4","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"Update menu set type = 'd' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select2=\"Update menu_ingr set type = 'd' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select3=\"Update menu_ins set type = 'd' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.name, msg.req.cookies.id, msg.type);\nselect2 = util.format(select2, msg.name, msg.req.cookies.id, msg.type);\nselect3 = util.format(select3, msg.name, msg.req.cookies.id, msg.type);\nmsg.topic = select + select2 + select3;\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":860,"wires":[["2fbc6bd8.f1e424"]]},{"id":"4fa68947.095d28","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1750,"y":860,"wires":[]},{"id":"8c0a5326.89731","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":860,"wires":[["4fa68947.095d28"]]},{"id":"2fbc6bd8.f1e424","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1330,"y":860,"wires":[["8c0a5326.89731"]]},{"id":"28f5c117.5e5aae","type":"http in","z":"2c16ebac.f30834","name":"","url":"/move_Dinner","method":"post","upload":false,"swaggerDoc":"","x":190,"y":840,"wires":[["f1ef2502.2b1f98"]]},{"id":"954d3124.73e35","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"Update menu set type = 'b' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select2=\"Update menu_ingr set type = 'b' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nvar select3=\"Update menu_ins set type = 'b' WHERE recipe = '%s' and username = '%s' and type = '%s';\";\nselect = util.format(select, msg.name, msg.req.cookies.id, msg.type);\nselect2 = util.format(select2, msg.name, msg.req.cookies.id, msg.type);\nselect3 = util.format(select3, msg.name, msg.req.cookies.id, msg.type);\nmsg.topic = select + select2 + select3;\n\nreturn msg;","outputs":1,"noerr":0,"x":1130,"y":700,"wires":[["3792e36a.97aa2c"]]},{"id":"85630a72.31e668","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1750,"y":700,"wires":[]},{"id":"616362d.69f459c","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":700,"wires":[["85630a72.31e668"]]},{"id":"3792e36a.97aa2c","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1330,"y":700,"wires":[["616362d.69f459c","fc8f39d8.e86418"]]},{"id":"65f1e8a9.845858","type":"http in","z":"2c16ebac.f30834","name":"","url":"/move_Breakfast","method":"post","upload":false,"swaggerDoc":"","x":200,"y":720,"wires":[["29a3d291.1dbdae"]]},{"id":"43f49e23.eb84f","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar select=\"SELECT distinct ingredients from ingredient where id = '%s'\";\n\nmsg.topic = util.format(select, msg.name);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":940,"wires":[["97a4c034.2bfce"]]},{"id":"cdb1c9d7.9ba6c8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2910,"y":940,"wires":[]},{"id":"97a4c034.2bfce","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1710,"y":940,"wires":[["ff1e12c4.20bfa","4d3fc289.56100c"]]},{"id":"ab572a2.35f75d8","type":"http in","z":"2c16ebac.f30834","name":"","url":"/addToMenu","method":"post","upload":false,"swaggerDoc":"","x":190,"y":940,"wires":[["fd29f0e3.42ebe"]]},{"id":"ff1e12c4.20bfa","type":"function","z":"2c16ebac.f30834","name":"format data","func":"var insert = \"\";\nfor(var i in msg.payload){\n    tmp = \"INSERT INTO menu_ingr VALUES ('%s', '%s', '%s', '%s', 0);\";\n    insert += util.format(tmp, msg.req.cookies.id, msg.name, msg.payload[i]['ingredients'].replace(/'/g, \"@\"), msg.type);\n}\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":1870,"y":940,"wires":[["27f903a5.7c394c","252fdbae.3bdd14"]]},{"id":"27f903a5.7c394c","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2050,"y":940,"wires":[["3b029131.c0febe"]]},{"id":"cb0bec28.0e168","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar insert = \"INSERT INTO menu VALUES('%s', '%s', '%s')\";\n\nmsg.topic = util.format(insert, msg.req.cookies.id, msg.name, msg.type);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":940,"wires":[["dfde9e66.7830b"]]},{"id":"dfde9e66.7830b","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1350,"y":940,"wires":[["43f49e23.eb84f"]]},{"id":"2c41ba71.fd4316","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":1120,"wires":[]},{"id":"252fdbae.3bdd14","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2170,"y":1000,"wires":[]},{"id":"4d3fc289.56100c","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1910,"y":1000,"wires":[]},{"id":"c6ac7b5d.b20048","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data2 = []\nmsg.data3 = []\nfor(var i in msg.payload){\n    msg.data2.push(msg.payload[i]['title']);\n    msg.data3.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1960,"y":220,"wires":[["cecda5de.399508"]]},{"id":"5de6c9ad.8c8438","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1780,"y":220,"wires":[["c6ac7b5d.b20048"]]},{"id":"23971572.983d4a","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT title, id from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1630,"y":220,"wires":[["5de6c9ad.8c8438"]]},{"id":"aedce5a1.ab2fa8","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select checked from menu_ingr where username = '%s' and ingredient = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name.replace(/'/g, \"@\"), msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1140,"wires":[["5c932240.239fac"]]},{"id":"16b95138.cf157f","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2390,"y":1140,"wires":[]},{"id":"55ea4bdb.c95ca4","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu/ingredients","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1140,"wires":[["16b95138.cf157f"]]},{"id":"5c932240.239fac","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1350,"y":1140,"wires":[["cff301eb.1e49a"]]},{"id":"661720df.7684","type":"http in","z":"2c16ebac.f30834","name":"","url":"/change_ingr_stat","method":"post","upload":false,"swaggerDoc":"","x":200,"y":1180,"wires":[["b9f33021.b20eb","9a5e63e3.6fa08"]]},{"id":"cff301eb.1e49a","type":"switch","z":"2c16ebac.f30834","name":"","property":"payload[0][\"checked\"]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":1140,"wires":[["13d7fb75.534505"],["84b561ac.b71fe"]]},{"id":"13d7fb75.534505","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ingr set checked = 1 where username = '%s' and ingredient = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name.replace(/'/g, \"@\"), msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1080,"wires":[["417f593b.761c08"]]},{"id":"417f593b.761c08","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1950,"y":1080,"wires":[["55ea4bdb.c95ca4"]]},{"id":"84b561ac.b71fe","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ingr set checked = 0 where username = '%s' and ingredient = '%s' and type = '%s'\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name.replace(/'/g, \"@\"), msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1200,"wires":[["2df005d1.46cefa"]]},{"id":"2df005d1.46cefa","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1950,"y":1200,"wires":[["55ea4bdb.c95ca4"]]},{"id":"b9f33021.b20eb","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":470,"y":1260,"wires":[]},{"id":"1914311b.15894f","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2170,"y":1600,"wires":[]},{"id":"dbedcaf6.3949a8","type":"http in","z":"2c16ebac.f30834","name":"","url":"/rank_ajax","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1600,"wires":[["88266d30.a093b"]]},{"id":"7eb04480.09a15c","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1310,"y":1600,"wires":[["21a8e789.66b8d8"]]},{"id":"f1d840af.f6c9","type":"function","z":"2c16ebac.f30834","name":"test","func":"\nvar add = \"and type = '%s'\";\nif(msg.type !== \"a\"){\n    add = util.format(add, msg.type);\n} else {\n    add = \"\"\n}\n\nvar select=\"SELECT id, title, %s from menu join recipes on recipe = id where username = '%s' \" + add + \" order by %s %s\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id, msg.name, msg.order);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1600,"wires":[["7eb04480.09a15c","1434e537.a517eb"]]},{"id":"1434e537.a517eb","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1330,"y":1660,"wires":[]},{"id":"21a8e789.66b8d8","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data = []\nmsg.data1 = []\nmsg.data3 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i][msg.name]);\n    msg.data1.push(msg.payload[i]['title']);\n    msg.data3.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1500,"y":1600,"wires":[["797f838.f3a327c"]]},{"id":"3dc28c11.7f6644","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1810,"y":1600,"wires":[["437f1cf3.116cd4"]]},{"id":"797f838.f3a327c","type":"function","z":"2c16ebac.f30834","name":"test","func":"var add = \" and type = '%s'\";\nif(msg.type !== \"a\"){\n    add = util.format(add, msg.type);\n} else {\n    add = \"\";\n}\n\nvar select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s'\" + add;\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1670,"y":1600,"wires":[["3dc28c11.7f6644"]]},{"id":"437f1cf3.116cd4","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data2 = []\n\nfor(var i in msg.payload){\n    msg.data2.push(msg.payload[i]['count']);\n}\n\nmsg.payload = {};\nmsg.payload[\"recipe\"] = msg.data1;\nmsg.payload[\"value\"] = msg.data;\nmsg.payload[\"sum\"] = msg.data2;\nmsg.payload[\"id\"] = msg.data3;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":1600,"wires":[["1914311b.15894f"]]},{"id":"cccb2510.7afc38","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1710,"y":1760,"wires":[]},{"id":"9f68ce22.19f78","type":"http in","z":"2c16ebac.f30834","name":"","url":"/get_macro","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1760,"wires":[["a22f7ee2.4b734"]]},{"id":"e71df969.955958","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1430,"y":1820,"wires":[]},{"id":"f9d7ad03.4b74e","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1290,"y":1760,"wires":[["9188fdc2.79261"]]},{"id":"895a3f2f.976df","type":"function","z":"2c16ebac.f30834","name":"test","func":"var add = \" and type = '%s'\";\nif(msg.type !== \"a\"){\n    add = util.format(add, msg.type);\n} else {\n    add = \"\";\n}\n\nvar select=\"SELECT round(sum(cholesterol), 2) cholesterol, round(sum(sodium), 2) sodium, round(sum(saturated_fat), 2) saturated_fat, round(sum(fiber), 2) fiber, round(sum(sugar), 2) sugar from menu join recipes on recipe = id where username = '%s'\" + add;\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1760,"wires":[["f9d7ad03.4b74e","e71df969.955958"]]},{"id":"9188fdc2.79261","type":"function","z":"2c16ebac.f30834","name":"format data","func":"result = {};\nresult[\"cholesterol\"] = msg.payload[0]['cholesterol'];\nresult[\"saturated_fat\"] = msg.payload[0]['saturated_fat'];\nresult[\"sodium\"] = msg.payload[0]['sodium'];\nresult[\"fiber\"] = msg.payload[0]['fiber'];\nresult[\"sugar\"] = msg.payload[0]['sugar'];\nresult[\"key\"] = [\"saturated_fat\", \"cholesterol\", \"fiber\", \"sodium\", \"sugar\"];\nresult[\"nutrients\"] = [\"Saturated Fat\", \"Cholesterol\", \"Fiber\", \"Sodium\", \"Sugar\"];\nmsg.payload = result;\nreturn msg;","outputs":1,"noerr":0,"x":1470,"y":1760,"wires":[["cccb2510.7afc38"]]},{"id":"5b524a87.a5b5f4","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2690,"y":1920,"wires":[]},{"id":"7dd5c76e.a054d8","type":"http in","z":"2c16ebac.f30834","name":"","url":"/sum_ajax","method":"post","upload":false,"swaggerDoc":"","x":180,"y":1920,"wires":[["27783adc.923bb6"]]},{"id":"5d6da47.9cb305c","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1310,"y":1920,"wires":[["29a6737e.7be06c"]]},{"id":"92a221d5.af5fd","type":"function","z":"2c16ebac.f30834","name":"test","func":"msg.name =msg.name;\n\nvar select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s' and type = 'b'\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1920,"wires":[["5d6da47.9cb305c"]]},{"id":"29a6737e.7be06c","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.result = [];\n\nfor(var i in msg.payload){\n    msg.result.push(msg.payload[i]['count']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1490,"y":1920,"wires":[["282f6796.c32f38"]]},{"id":"cb7ccae1.260eb8","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1790,"y":1920,"wires":[["65202f0d.82c78"]]},{"id":"282f6796.c32f38","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s' and type = 'l'\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":1920,"wires":[["cb7ccae1.260eb8"]]},{"id":"65202f0d.82c78","type":"function","z":"2c16ebac.f30834","name":"format data","func":"for(var i in msg.payload){\n    msg.result.push(msg.payload[i]['count']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1920,"wires":[["c964cf55.3f69a"]]},{"id":"6c0b698.98f0698","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2330,"y":1920,"wires":[["a443f0d8.2b99f"]]},{"id":"c964cf55.3f69a","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT round(sum(%s), 2) count from menu join recipes on recipe = id where username = '%s' and type = 'd'\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":2170,"y":1920,"wires":[["6c0b698.98f0698"]]},{"id":"a443f0d8.2b99f","type":"function","z":"2c16ebac.f30834","name":"format data","func":"for(var i in msg.payload){\n    msg.result.push(msg.payload[i]['count']);\n}\n\nmsg.payload = msg.result;\n\nreturn msg;","outputs":1,"noerr":0,"x":2510,"y":1920,"wires":[["5b524a87.a5b5f4"]]},{"id":"135130fd.d9224f","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1250,"y":500,"wires":[["3421e434.ca091c"]]},{"id":"241f8326.f6117c","type":"function","z":"2c16ebac.f30834","name":"test","func":"var select=\"SELECT title, id from menu join recipes on recipe = id where username = '%s'\";\n\nmsg.topic = util.format(select, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":1090,"y":500,"wires":[["135130fd.d9224f"]]},{"id":"9c1647e.15d6ab8","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1630,"y":560,"wires":[]},{"id":"3421e434.ca091c","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data = []\nmsg.data1 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i]['title']);\n    msg.data1.push(msg.payload[i]['id']);\n\n}\nreturn msg;","outputs":1,"noerr":0,"x":1440,"y":500,"wires":[["9c1647e.15d6ab8","ec165f3a.48444"]]},{"id":"95fad750.9e98e8","type":"http in","z":"2c16ebac.f30834","name":"","url":"/ins_ajax","method":"post","upload":false,"swaggerDoc":"","x":180,"y":2040,"wires":[["77797d1a.7f7154"]]},{"id":"52d14fe6.c1874","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1690,"y":2040,"wires":[]},{"id":"989fbabf.cfe358","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2770,"y":940,"wires":[["cdb1c9d7.9ba6c8"]]},{"id":"ad5a9cce.7abe8","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2590,"y":1080,"wires":[]},{"id":"3b72cc1e.346e74","type":"function","z":"2c16ebac.f30834","name":"format data","func":"var insert = \"\";\nfor(var i in msg.payload){\n    tmp = \"INSERT INTO menu_ins VALUES ('%s', '%s', '%s', '%s', '%s', 0);\";\n    insert += util.format(tmp, msg.req.cookies.id, msg.name, msg.payload[i]['instruction_number'], msg.payload[i]['instruction'].replace(/'/g, \"@\"), msg.type);\n}\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":2590,"y":940,"wires":[["989fbabf.cfe358"]]},{"id":"980e0c1c.b4219","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2410,"y":940,"wires":[["3b72cc1e.346e74","ad5a9cce.7abe8"]]},{"id":"3b029131.c0febe","type":"function","z":"2c16ebac.f30834","name":"test","func":"msg.id = msg.payload.id;\n\nvar select=\"SELECT distinct instruction_number, instruction, title from recipes r, menu join instructions i on recipe = i.id where r.id = recipe and r.id = '%s' and username = '%s' order by instruction_number asc\";\n\nmsg.topic = util.format(select, msg.name, msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":2250,"y":940,"wires":[["980e0c1c.b4219"]]},{"id":"def460fc.12645","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select checked from menu_ins where username = '%s' and instruction = '%s' and type = '%s' and instruction_number = %s\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name.replace(/'/g, \"@\"), msg.type, parseInt(msg.number));\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":1420,"wires":[["f5ec52a1.ff4d6","30f6f603.d4c41a"]]},{"id":"ecb0a212.9f918","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2390,"y":1420,"wires":[]},{"id":"49a63ef8.7c23c","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/menu/ingredients","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":2170,"y":1420,"wires":[["ecb0a212.9f918"]]},{"id":"f5ec52a1.ff4d6","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1350,"y":1420,"wires":[["7543f62d.e6ca18"]]},{"id":"96019255.013ea","type":"http in","z":"2c16ebac.f30834","name":"","url":"/change_ins_stat","method":"post","upload":false,"swaggerDoc":"","x":200,"y":1400,"wires":[["1d3c6907.910ae7"]]},{"id":"7543f62d.e6ca18","type":"switch","z":"2c16ebac.f30834","name":"","property":"payload[0][\"checked\"]","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1570,"y":1420,"wires":[["59b4fd76.941c64"],["eec9684.06ebc98"]]},{"id":"59b4fd76.941c64","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ins set checked = 1 where username = '%s' and instruction = '%s' and type = '%s' and instruction_number = %s\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name.replace(/'/g, \"@\"), msg.type, parseInt(msg.number));\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1360,"wires":[["16d2a075.34a7e","113525c0.397aba"]]},{"id":"16d2a075.34a7e","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1950,"y":1360,"wires":[["49a63ef8.7c23c"]]},{"id":"eec9684.06ebc98","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"update menu_ins set checked = 0 where username = '%s' and instruction = '%s' and type = '%s' and instruction_number = %s\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.name.replace(/'/g, \"@\"), msg.type, parseInt(msg.number));\n\nreturn msg;","outputs":1,"noerr":0,"x":1750,"y":1480,"wires":[["c07c83b0.c4f63"]]},{"id":"c07c83b0.c4f63","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1950,"y":1480,"wires":[["49a63ef8.7c23c"]]},{"id":"113525c0.397aba","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2010,"y":1300,"wires":[]},{"id":"66772f6f.174c5","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select title, count(*) count0 from menu_ins, recipes where recipe = id and username = '%s' and type = '%s' and checked = 0 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":2200,"wires":[["e42b4d37.3d9f6"]]},{"id":"19ccb8de.0346a7","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2930,"y":2200,"wires":[]},{"id":"e42b4d37.3d9f6","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1350,"y":2200,"wires":[["6f2250c7.12383"]]},{"id":"d53b8651.e2df58","type":"http in","z":"2c16ebac.f30834","name":"","url":"/ins_bar","method":"post","upload":false,"swaggerDoc":"","x":170,"y":2200,"wires":[["e170005a.7d64e"]]},{"id":"d9597dd0.ba029","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2930,"y":2280,"wires":[]},{"id":"6f2250c7.12383","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data1 = {};\nfor(var i in msg.payload){\n    msg.data1[msg.payload[i]['title']] = msg.payload[i]['count0'];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":2200,"wires":[["bc5737c.70451c8"]]},{"id":"bc5737c.70451c8","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select title, count(*) count1 from menu_ins, recipes where recipe = id and username = '%s' and type = '%s' and checked = 1 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1730,"y":2200,"wires":[["2040648a.2eaa1c"]]},{"id":"2040648a.2eaa1c","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1930,"y":2200,"wires":[["6c577090.388df"]]},{"id":"6c577090.388df","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data2 = {};\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] in msg.data1){\n        msg.data2[msg.payload[i]['title']] = Math.round(100*msg.payload[i]['count1']/(msg.payload[i]['count1']+msg.data1[msg.payload[i]['title']]));\n    } else {\n        msg.data2[msg.payload[i]['title']] = 100;\n    }\n}\n\nmsg.payload = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":2130,"y":2200,"wires":[["7a639e6d.6ef55"]]},{"id":"7a639e6d.6ef55","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select distinct title from menu_ins, recipes where recipe = id and username = '%s' and type = '%s' order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":2350,"y":2200,"wires":[["9118f10e.c710e"]]},{"id":"9118f10e.c710e","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2550,"y":2200,"wires":[["a0dd8297.ac535"]]},{"id":"a0dd8297.ac535","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data = [];\nfor(var i in msg.payload){\n    msg.data.push([msg.payload[i]['title']]);\n}\nmsg.payload = {};\nmsg.payload[\"recipe\"] = msg.data;\nmsg.payload[\"percentage\"] = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":2750,"y":2200,"wires":[["19ccb8de.0346a7","d9597dd0.ba029"]]},{"id":"81640361.c16c6","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select title, count(*) count0 from menu_ingr, recipes where recipe = id and username = '%s' and type = '%s' and checked = 0 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":2340,"wires":[["bb373fa8.5d1aa"]]},{"id":"ee5f239f.df06","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":2870,"y":2340,"wires":[]},{"id":"bb373fa8.5d1aa","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1350,"y":2340,"wires":[["22332f9b.672a7"]]},{"id":"6bf1a07d.c73c","type":"http in","z":"2c16ebac.f30834","name":"","url":"/ingr_bar","method":"post","upload":false,"swaggerDoc":"","x":180,"y":2360,"wires":[["99e84b5d.63fa98"]]},{"id":"848656a8.fcbba8","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2110,"y":2400,"wires":[]},{"id":"22332f9b.672a7","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data1 = {};\nfor(var i in msg.payload){\n    msg.data1[msg.payload[i]['title']] = msg.payload[i]['count0'];\n}\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":2340,"wires":[["acc7a4f3.0c0568"]]},{"id":"acc7a4f3.0c0568","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select title, count(*) count1 from menu_ingr, recipes where recipe = id and username = '%s' and type = '%s' and checked = 1 group by title order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":1710,"y":2340,"wires":[["7eca196d.f60d98"]]},{"id":"7eca196d.f60d98","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":1890,"y":2340,"wires":[["7ed3fb5a.3d8bb4","848656a8.fcbba8"]]},{"id":"7ed3fb5a.3d8bb4","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data2 = {};\nfor(var i in msg.payload){\n    if(msg.payload[i]['title'] in msg.data1){\n        msg.data2[msg.payload[i]['title']] = Math.round(100*msg.payload[i]['count1']/(msg.payload[i]['count1']+msg.data1[msg.payload[i]['title']]));\n    } else {\n        msg.data2[msg.payload[i]['title']] = 100;\n    }\n}\n\nmsg.payload = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":2090,"y":2340,"wires":[["562150ad.1b43c"]]},{"id":"562150ad.1b43c","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"// Find demo cookies and clear them\nvar select=\"select distinct title from menu_ingr, recipes where recipe = id and username = '%s' and type = '%s' order by title asc\";\nmsg.topic = util.format(select, msg.req.cookies.id, msg.type);\n\nreturn msg;","outputs":1,"noerr":0,"x":2290,"y":2340,"wires":[["6786ee9f.811b1"]]},{"id":"6786ee9f.811b1","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":2490,"y":2340,"wires":[["777ba68e.408538"]]},{"id":"777ba68e.408538","type":"function","z":"2c16ebac.f30834","name":"format data","func":"msg.data = [];\nfor(var i in msg.payload){\n    msg.data.push([msg.payload[i]['title']]);\n}\nmsg.payload = {};\nmsg.payload[\"recipe\"] = msg.data;\nmsg.payload[\"percentage\"] = msg.data2;\nreturn msg;","outputs":1,"noerr":0,"x":2690,"y":2340,"wires":[["ee5f239f.df06"]]},{"id":"fc8f39d8.e86418","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1550,"y":640,"wires":[]},{"id":"b2d1e072.97a3e","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":940,"wires":[["9434abb5.407588"]]},{"id":"9434abb5.407588","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":940,"wires":[["d34c658.9608b98"]]},{"id":"d34c658.9608b98","type":"function","z":"2c16ebac.f30834","name":"check user","func":"var assert = 0;\nfor(var i in msg.payload){\n    if(msg.req.cookies.id == msg.payload[i]['username']) {\n        assert = 1;\n        break;\n    }\n}\nif(!(['b', 'l', 'd'].includes(msg.type))) {\n    assert = 0;\n}\nmsg.assert = assert;\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":940,"wires":[["a4bb2a7b.d15b08","32958931.4b85e6"]]},{"id":"a4bb2a7b.d15b08","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":940,"wires":[["cb0bec28.0e168"],["c53b78d9.a444b8"]]},{"id":"c53b78d9.a444b8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1130,"y":980,"wires":[]},{"id":"29a3d291.1dbdae","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":720,"wires":[["4b3e5550.01d42c"]]},{"id":"4b3e5550.01d42c","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":720,"wires":[["d593e56e.4713e8"]]},{"id":"d593e56e.4713e8","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":720,"wires":[["66c749f1.6ea618"]]},{"id":"66c749f1.6ea618","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":720,"wires":[["954d3124.73e35"],["b507f20c.f1065"]]},{"id":"b507f20c.f1065","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1110,"y":740,"wires":[]},{"id":"90a11b6.8c7cee8","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":780,"wires":[["9ecc1445.e487d8"]]},{"id":"9ecc1445.e487d8","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":780,"wires":[["67f72be0.fad474"]]},{"id":"67f72be0.fad474","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":780,"wires":[["f63da21e.1784d"]]},{"id":"f63da21e.1784d","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":780,"wires":[["6e2a514a.73912"],["86dc382e.a715d8"]]},{"id":"86dc382e.a715d8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1110,"y":820,"wires":[]},{"id":"f1ef2502.2b1f98","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":840,"wires":[["6d0bde35.04e59"]]},{"id":"6d0bde35.04e59","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":840,"wires":[["d1f4669a.4fb318"]]},{"id":"d1f4669a.4fb318","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":840,"wires":[["a00b383a.49b278"]]},{"id":"a00b383a.49b278","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":840,"wires":[["50a66b47.08eed4"],["cbd19174.921c7"]]},{"id":"cbd19174.921c7","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1110,"y":900,"wires":[]},{"id":"9a5e63e3.6fa08","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1180,"wires":[["a9ef83f1.16c38"]]},{"id":"a9ef83f1.16c38","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":1180,"wires":[["ae25973b.7ab818"]]},{"id":"ae25973b.7ab818","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1180,"wires":[["f5d893e4.2f313"]]},{"id":"f5d893e4.2f313","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1180,"wires":[["aedce5a1.ab2fa8"],["6bb39661.31cb58"]]},{"id":"6bb39661.31cb58","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":1240,"wires":[]},{"id":"1d3c6907.910ae7","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\nmsg.number = msg.payload.number;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1400,"wires":[["4efadc71.9b35c4"]]},{"id":"4efadc71.9b35c4","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":1400,"wires":[["fc97dd5e.a5ebd"]]},{"id":"fc97dd5e.a5ebd","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1400,"wires":[["4b7c33f2.d75b6c"]]},{"id":"4b7c33f2.d75b6c","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1400,"wires":[["def460fc.12645"],["5b4e0bd9.f02f14"]]},{"id":"5b4e0bd9.f02f14","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":1460,"wires":[]},{"id":"88266d30.a093b","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1600,"wires":[["91423e84.c321b"]]},{"id":"91423e84.c321b","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":1600,"wires":[["5781bc9e.7445b4"]]},{"id":"5781bc9e.7445b4","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1600,"wires":[["2a4f9fd9.eeadc"]]},{"id":"2a4f9fd9.eeadc","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1600,"wires":[["f1d840af.f6c9"],["f896590a.b7f2e8"]]},{"id":"f896590a.b7f2e8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":1660,"wires":[]},{"id":"a22f7ee2.4b734","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1760,"wires":[["f0ddd754.d8ddb8"]]},{"id":"f0ddd754.d8ddb8","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":1760,"wires":[["63caa6.2230d55c"]]},{"id":"63caa6.2230d55c","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1760,"wires":[["9ad860d5.31329"]]},{"id":"9ad860d5.31329","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1760,"wires":[["895a3f2f.976df"],["d07ca695.be0688"]]},{"id":"d07ca695.be0688","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":1820,"wires":[]},{"id":"27783adc.923bb6","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1920,"wires":[["3af1899c.afeb26"]]},{"id":"3af1899c.afeb26","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":1920,"wires":[["d6641998.04e418"]]},{"id":"d6641998.04e418","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1920,"wires":[["6fdb3d5.c9ad8c4"]]},{"id":"6fdb3d5.c9ad8c4","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":1920,"wires":[["92a221d5.af5fd"],["fd7fc65b.ce88d8"]]},{"id":"fd7fc65b.ce88d8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":1980,"wires":[]},{"id":"77797d1a.7f7154","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2040,"wires":[["783237e4.f16138"]]},{"id":"783237e4.f16138","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":2040,"wires":[["7c9c66e8.31bad8"]]},{"id":"7c9c66e8.31bad8","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2040,"wires":[["baabaf7c.514cb"]]},{"id":"baabaf7c.514cb","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":2040,"wires":[["50823274.00c9dc"],["76f4a362.0f1eec"]]},{"id":"76f4a362.0f1eec","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":2100,"wires":[]},{"id":"e170005a.7d64e","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2200,"wires":[["118e3b0d.041955"]]},{"id":"118e3b0d.041955","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":2200,"wires":[["ab89f6b7.43e138"]]},{"id":"ab89f6b7.43e138","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2200,"wires":[["c99face7.66d93"]]},{"id":"c99face7.66d93","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":2200,"wires":[["66772f6f.174c5"],["fe090d38.40c39"]]},{"id":"fe090d38.40c39","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":2260,"wires":[]},{"id":"99e84b5d.63fa98","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":2360,"wires":[["d89c077f.224988"]]},{"id":"d89c077f.224988","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":2360,"wires":[["160420cb.a3df3f"]]},{"id":"160420cb.a3df3f","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":2360,"wires":[["8996c820.b4afc8"]]},{"id":"8996c820.b4afc8","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":950,"y":2360,"wires":[["81640361.c16c6"],["d443ec97.ce533"]]},{"id":"d443ec97.ce533","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":950,"y":2420,"wires":[]},{"id":"cd788521.8da608","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":100,"wires":[["aa207766.8c0478"]]},{"id":"aa207766.8c0478","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":470,"y":100,"wires":[["5af9227b.e8ce4c"]]},{"id":"5af9227b.e8ce4c","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":100,"wires":[["6d12213c.29069"]]},{"id":"6d12213c.29069","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":100,"wires":[["a950b7ba.b3d618"],["19040470.bfd1ac"]]},{"id":"43fa58e8.de8628","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":930,"y":160,"wires":[]},{"id":"19040470.bfd1ac","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":160,"wires":[["43fa58e8.de8628"]]},{"id":"7c7a644d.8bb0fc","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":220,"wires":[["89ae81da.17f83"]]},{"id":"89ae81da.17f83","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":570,"y":220,"wires":[["a3de9eac.70254"]]},{"id":"a3de9eac.70254","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":220,"wires":[["f1b524b.c794fd8"]]},{"id":"f1b524b.c794fd8","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":220,"wires":[["752b3a1b.332284"],["dc801c0.f21c6e8"]]},{"id":"dd2cc8e3.f577f8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1030,"y":280,"wires":[]},{"id":"dc801c0.f21c6e8","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":280,"wires":[["dd2cc8e3.f577f8"]]},{"id":"d34f0a07.840748","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":360,"wires":[["683caf6e.0f5a9"]]},{"id":"683caf6e.0f5a9","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":550,"y":360,"wires":[["574fbfd9.213e6"]]},{"id":"574fbfd9.213e6","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":360,"wires":[["3cbcb208.62bd7e"]]},{"id":"3cbcb208.62bd7e","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":360,"wires":[["3c436c3b.6f93e4"],["ab0c5fcb.d19d1"]]},{"id":"720e9e34.893d9","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1010,"y":420,"wires":[]},{"id":"ab0c5fcb.d19d1","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":830,"y":420,"wires":[["720e9e34.893d9"]]},{"id":"be6f80cf.1bebb","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":500,"wires":[["3d353a51.70aa56"]]},{"id":"3d353a51.70aa56","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":570,"y":500,"wires":[["1bc01132.1a13ff"]]},{"id":"1bc01132.1a13ff","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":500,"wires":[["66983881.7368f8"]]},{"id":"66983881.7368f8","type":"switch","z":"2c16ebac.f30834","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":500,"wires":[["241f8326.f6117c"],["3b9847d4.e84008"]]},{"id":"b711fb94.dcc728","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1030,"y":560,"wires":[]},{"id":"3b9847d4.e84008","type":"change","z":"2c16ebac.f30834","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":560,"wires":[["b711fb94.dcc728"]]},{"id":"fd29f0e3.42ebe","type":"function","z":"2c16ebac.f30834","name":"Delete user","func":"//breakfast\nmsg.order = msg.payload.order;\nmsg.id = msg.payload.id;\nmsg.name = msg.payload.name;\nmsg.type = msg.payload.type;\n\nvar insert = \"SELECT count(*) count from recipes where id = '%s'\";\n\nmsg.topic = util.format(insert, msg.name);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":1040,"wires":[["7af810b8.5cb49"]]},{"id":"98df58bd.443a78","type":"switch","z":"2c16ebac.f30834","name":"","property":"payload[0][\"count\"]","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":910,"y":1060,"wires":[["b2d1e072.97a3e"],["f1411729.7dda38"]]},{"id":"f1411729.7dda38","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{},"x":1090,"y":1080,"wires":[]},{"id":"d052c173.c9216","type":"function","z":"2c16ebac.f30834","name":"check user","func":"msg.count = msg.payload[0][\"count\"];\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":1080,"wires":[["98df58bd.443a78","2c41ba71.fd4316"]]},{"id":"7af810b8.5cb49","type":"mysql","z":"2c16ebac.f30834","mydb":"9bc36b30.4298c8","name":"","x":590,"y":1040,"wires":[["d052c173.c9216"]]},{"id":"32958931.4b85e6","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":890,"y":980,"wires":[]},{"id":"484f7800.fd3bf8","type":"http response","z":"2c16ebac.f30834","name":"","statusCode":"","headers":{"content-type":"text/css"},"x":690,"y":40,"wires":[]},{"id":"3599389f.525068","type":"template","z":"2c16ebac.f30834","name":"template","field":"payload","fieldType":"msg","format":"css","syntax":"mustache","template":"body {\n  font-family: \"Lato\", sans-serif;\n}\n\n.comment{\n    font-size: 12px;\n    display: inline-block;\n    box-sizing: border-box;\n    background-color: #f4f5f7;\n    border: 1px solid #e5e9ef;\n    overflow: auto;\n    border-radius: 4px;\n    color: #555;\n    height: 65px;\n    transition: 0s;\n    padding: 5px 10px;\n    line-height: normal;\n}\n\n.comment_submit{\n    width: 95px;\n    height: 64px;\n    right: -80px;\n    top: 0;\n    padding: 4px 15px;\n    font-size: 14px;\n    color: #fff;\n    border-radius: 4px;\n    text-align: center;\n    min-width: 60px;\n    vertical-align: top;\n    cursor: pointer;\n    background-color: #00a1d6;\n    border: 1px solid #00a1d6;\n    transition: 0.1s;\n    user-select: none;\n    outline: none;\n}\n\n.tag{\n  float: left;\n  margin: 0 10px 8px 0;\n  background: #f4f4f4;\n  border-radius: 100px;\n  padding: 0 12px;\n  position: relative;\n  height: 22px;\n  line-height: 22px;\n  transition: all .3s;\n  font-size: 12px;\n  border: 1px solid #f4f4f4;\n  color:black;\n  font-weight:bold;\n}\n\n.container {\n  width: 100%; /* Full width */\n  background-color: #ddd; /* Grey background */\n}\n\n.skills {\n  text-align: right; /* Right-align text */\n  padding-top: 10px; /* Add top padding */\n  padding-bottom: 10px; /* Add bottom padding */\n  color: white; /* White text color */\n}\n\n.html {width: 90%; background-color: #4CAF50;} /* Green */\n.css {width: 80%; background-color: #2196F3;} /* Blue */\n.js {width: 65%; background-color: #f44336;} /* Red */\n.php {width: 60%; background-color: #808080;} /* Dark Grey */\n\n.base-timer {\n  position: relative;\n  width: 300px;\n  height: 300px;\n}\n\n.base-timer__svg {\n  transform: scaleX(-1);\n}\n\n.base-timer__circle {\n  fill: none;\n  stroke: none;\n}\n\n.base-timer__path-elapsed {\n  stroke-width: 7px;\n  stroke: grey;\n}\n\n.base-timer__path-remaining {\n  stroke-width: 7px;\n  stroke-linecap: round;\n  transform: rotate(90deg);\n  transform-origin: center;\n  transition: 1s linear all;\n  fill-rule: nonzero;\n  stroke: currentColor;\n}\n\n.base-timer__path-remaining.green {\n  color: rgb(65, 184, 131);\n}\n\n.base-timer__path-remaining.orange {\n  color: orange;\n}\n\n.base-timer__path-remaining.red {\n  color: red;\n}\n\n.base-timer__label {\n  position: absolute;\n  width: 300px;\n  height: 300px;\n  top: 0;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  font-size: 48px;\n}\n\n* {\n  box-sizing: border-box;\n}\n\n/* Remove margins and padding from the list */\nul {\n  margin: 0;\n  padding: 0;\n}\n\n/* Style the list items */\nul li {\n  cursor: pointer;\n  position: relative;\n  padding: 12px 8px 12px 40px;\n  background: #eee;\n  font-size: 18px;\n  transition: 0.2s;\n  list-style-type: none;\n\n  /* make the list items unselectable */\n  -webkit-user-select: none;\n  -moz-user-select: none;\n  -ms-user-select: none;\n  user-select: none;\n}\n\n/* Set all odd list items to a different color (zebra-stripes) */\nul li:nth-child(odd) {\n  background: #f9f9f9;\n}\n\n/* Darker background-color on hover */\nul li:hover {\n  background: #ddd;\n}\n\n/* When clicked on, add a background color and strike out text */\nul li.checked {\n  background: #888;\n  color: #fff;\n  text-decoration: line-through;\n}\n\n/* Add a \"checked\" mark when clicked on */\nul li.checked::before {\n  content: '';\n  position: absolute;\n  border-color: #fff;\n  border-style: solid;\n  border-width: 0 2px 2px 0;\n  top: 10px;\n  left: 16px;\n  transform: rotate(45deg);\n  height: 15px;\n  width: 7px;\n}\n\n/* Style the close button */\n.close {\n  position: absolute;\n  right: 0;\n  top: 0;\n  padding: 12px 16px 12px 16px;\n}\n\n.close:hover {\n  background-color: #f44336;\n  color: white;\n}\n\n/* Style the header */\n.header {\n  background-color: #f44336;\n  padding: 20px 40px;\n  color: white;\n  text-align: center;\n  width: 1500px;\n}\n\n/* Clear floats after the header */\n.header:after {\n  content: \"\";\n  display: table;\n  clear: both;\n}\n\n/* Style the input */\ninput {\n  margin: 0;\n  border: none;\n  border-radius: 0;\n  width: 75%;\n  padding: 10px;\n  float: left;\n  font-size: 16px;\n}\n\n/* Style the \"Add\" button */\n.addBtn {\n  padding: 10px;\n  width: 25%;\n  background: #d9d9d9;\n  color: #555;\n  float: left;\n  text-align: center;\n  font-size: 16px;\n  cursor: pointer;\n  transition: 0.3s;\n  border-radius: 0;\n}\n\n.addBtn:hover {\n  background-color: #bbb;\n}\n\n/* The dropdown container */\n.dropdown {\n  float: left;\n  overflow: hidden;\n}\n\n/* Dropdown button */\n.dropdown .dropbtn {\n  font-size: 20px;\n  width: 80px;\n  border: none;\n  outline: none;\n  color: black;\n  padding: 14px 16px;\n  background-color: inherit;\n  font-family: inherit; /* Important for vertical align on mobile phones */\n  margin: 0; /* Important for vertical align on mobile phones */\n  padding: 0;\n}\n\n/* Add a red background color to navbar links on hover */\n.dropdown:hover .dropbtn {\n  background-color: orange;\n}\n\n/* Dropdown content (hidden by default) */\n.dropdown-content {\n  display: none;\n  position: absolute;\n  background-color: #f9f9f9;\n  min-width: 160px;\n  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);\n  z-index: 1;\n}\n\n/* Links inside the dropdown */\n.dropdown-content a {\n  float: none;\n  color: black;\n  padding: 12px 16px;\n  text-decoration: none;\n  display: block;\n  text-align: left;\n}\n\n/* Add a grey background color to dropdown links on hover */\n.dropdown-content a:hover {\n  background-color: #ddd;\n}\n\n/* Show the dropdown menu on hover */\n.dropdown:hover .dropdown-content {\n  display: block;\n}\n\n/* Fixed sidenav, full height */\n.sidenav {\n  height: 100%;\n  width: 200px;\n  position: fixed;\n  z-index: 1;\n  top: 0;\n  left: 0;\n  background-color: #111;\n  overflow-x: hidden;\n  padding-top: 20px;\n}\n\n/* Style the sidenav links and the dropdown button */\n.sidenav a, .dropdown-btn {\n  padding: 6px 8px 6px 16px;\n  text-decoration: none;\n  font-size: 20px;\n  color: #818181;\n  display: block;\n  border: none;\n  background: none;\n  width: 100%;\n  text-align: left;\n  cursor: pointer;\n  outline: none;\n}\n\n/* On mouse-over */\n.sidenav a:hover, .dropdown-btn:hover {\n  color: #f1f1f1;\n}\n\n/* Main content */\n.main {\n  margin-left: 200px; /* Same as the width of the sidenav */\n  font-size: 20px; /* Increased text to enable scrolling */\n  padding: 0px 10px;\n}\n\n/* Add an active class to the active dropdown button */\n.active {\n  background-color: green;\n  color: white;\n}\n\n/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */\n.dropdown-container {\n  display: none;\n  background-color: #262626;\n  padding-left: 8px;\n}\n\n/* Optional: Style the caret down icon */\n.fa-caret-down {\n  float: right;\n  padding-right: 8px;\n}\n\n/* Some media queries for responsiveness */\n@media screen and (max-height: 450px) {\n  .sidenav {padding-top: 15px;}\n  .sidenav a {font-size: 18px;}\n}","output":"str","x":380,"y":40,"wires":[["484f7800.fd3bf8"]]},{"id":"6d3eb622.6451f8","type":"http in","z":"2c16ebac.f30834","name":"Template","url":"/template.css","method":"get","upload":false,"swaggerDoc":"","x":140,"y":40,"wires":[["3599389f.525068"]]},{"id":"30f6f603.d4c41a","type":"debug","z":"2c16ebac.f30834","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1350,"y":1480,"wires":[]},{"id":"9bc36b30.4298c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
