node-red update/recipe
[{"id":"b8ee419.a198ac","type":"http in","z":"b0827aed.818358","name":"","url":"/receipe","method":"get","upload":false,"swaggerDoc":"","x":170,"y":560,"wires":[["13bfb9ab.d89016"]]},{"id":"1fa82397.699eec","type":"template","z":"b0827aed.818358","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":660,"y":560,"wires":[["96339f04.94719"]]},{"id":"96339f04.94719","type":"http response","z":"b0827aed.818358","name":"","statusCode":"","headers":{},"x":1110,"y":560,"wires":[]},{"id":"13bfb9ab.d89016","type":"function","z":"b0827aed.818358","name":"","func":"\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":560,"wires":[["1fa82397.699eec"]]}]
