node-red update/RecipePage_Ruisi_12.5
[{"id":"93ec9735.931308","type":"http in","z":"88fe0220.27285","name":"","url":"/recipe/:id","method":"get","upload":false,"swaggerDoc":"","x":200,"y":200,"wires":[["67d0a12f.51673"]]},{"id":"6154070f.9a8838","type":"http response","z":"88fe0220.27285","name":"","statusCode":"","headers":{},"x":1410,"y":200,"wires":[]},{"id":"38162796.2587a8","type":"template","z":"88fe0220.27285","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n    </head>\n\t\n\t<title>Recipe</title>\n\t\n\t\n\t<body onload='tag_l(); ing_l(); pr(); barChart();'>\n\t    <div class=\"sidenav\">\n            <!--<a href=\"/menu\">Daily Menu</a>\n            <a href=\"/menu/ingredients\">Ingredient List</a>\n            <a href=\"/menu/nutrients\">Nutrients</a>\n            <a href=\"/menu/instructions\">Instructions</a>-->\n            <a href=\"/menu\">Menu</a>\n            <a href=\"/landin\">Recipe Search</a>\n            <a href=\"/farmers_market\">Market Search</a>\n        </div>\n        \n        <div class=\"main\">\n\n    \t\t<!--<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n    \t\t</table>-->\n    \t\t<div id=\"myDIV\" class=\"header\">\n                <h2 style=\"font-size:35px;margin:5px\">{{rTitle}}</h2>\n            </div>\n            \n            <div id=\"myDIV\" class=\"header\" style=\"margin:0px;padding:0px;padding-bottom:10px\">\n                <div style=\"width:70%;margin:auto\">\n                    <ul id = \"tagl\" style=\"display:inline-block\">\n                    </ul>\n                </div>\n            </div>\n            \n            <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px;padding-left:0px\">\n                <div class=\"dropdown\">\n        \t\t    <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:120px; color:white\">View<i class=\"fa fa-caret-down\"></i></button>\n        \t\t    <div class=\"dropdown-content\" id = \"drops\">\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"ing_l()\"><u>Ingredients</u></a>\n                        <a style = \"font-size:20px; cursor:pointer\" onclick=\"list()\"><u>Instructions</u></a>\n                    </div>\n                </div>\n                <p id=\"name\" style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\"></p>\n                <div style=\"display:inline-block\">\n                    <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:10px; margin-right:15px\">Serving per Recipe: {{ser_p}}</p>\n                </div>\n                <div class=\"dropdown\" style=\"float:right\">\n                <button class=\"dropbtn\" style=\"font-size:25px; font-weight:bold; width:200px; color:white\">Add to Menu\n                    <i class=\"fa fa-caret-down\"></i>\n                </button>\n                <div class=\"dropdown-content\">\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"addtomenub('{{req.params.id}}');\"><u>Breakfast</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"addtomenul('{{req.params.id}}');\"><u>Lunch</u></a>\n                    <a style = \"font-size:20px; cursor:pointer\" onclick=\"addtomenud('{{req.params.id}}');\"><u>Dinner</u></a>\n                </div>\n        </div>\t\n            </div>\n            <div>\n                <div style=\"float:left; min-height:500px\">\n            \t\t<table border=\"5px\" style=\"width: 700px; font-size: 30px\" id = \"table\">\n        \t\t    </table>\n            \t\t\n            \t\t<div style=\"padding-top:20px\"></div>\n            \t\t\n            \t\t<table border=\"5px\" style=\"width: 700px; font-size: 30px;\" id = \"p1\">\n        \t\t    </table>\n        \t\t    \n        \t\t    <div style=\"padding-top:20px\"></div>\n        \t\t</div>\n        \n        \t\t\n        \t\t<div style=\"width:750px\">\n        \t\t    <div id=\"chartContainer\" style=\"height: 400px; width: 750px;\"></div>\n        \t\t    <div id=\"chartContainer1\" style=\"height: 360px; width: 100%;\"></div>\n        \t\t    <div style=\"padding-top:20px\"></div>\n        \t\t</div>\n                <script src=\"https://canvasjs.com/assets/script/canvasjs.min.js\"></script>\n            </div>\n            \n            <div style=\"padding-left:20px;display:inline-block;width:100%\">\n                <textarea style=\"width:90%;float:left\" class=\"comment\" cols=\"80\" id=\"msg\" rows=\"5\" placeholder=\"Comment on this Recipe\" class=\"ipt-txt\"></textarea>\n                <div style=\"padding-right:20px\"></div>\n                <button style=\"margin-left:10px\" id=\"id_enter\" onclick=\"submit()\" class=\"comment_submit\">Comment</button>\n            </div>\n            \n            <table border=\"5px\" style=\"width: 100%; font-size: 30px; margin-top:20px\" id = \"comment\">\n        \t</table>\n    \t\t\n    \t\t<script>{{{payload.script}}}</script>\n\t\t</div>\n\t</body>\n\t\n</html>","x":1270,"y":200,"wires":[["6154070f.9a8838"]]},{"id":"c89a6523.e837b8","type":"mysql","z":"88fe0220.27285","mydb":"9bc36b30.4298c8","name":"","x":710,"y":200,"wires":[["7a1cabf0.441734"]]},{"id":"67d0a12f.51673","type":"function","z":"88fe0220.27285","name":"test","func":"msg.select=\"SELECT  distinct instructions.instruction, instructions.instruction_number, recipes.title, recipes.url, ingredient.ingredients, tags.tags, recipes.calories, recipes.cholesterol, recipes.fat_cals, recipes.fat_per100g, recipes.fiber, recipes.protein, recipes.salt_per100g, recipes.saturated_fat, recipes.saturates_per100g,recipes.serving_size, recipes.servings_per_recipe, recipes.sodium, recipes.sugar, recipes.sugar_per100g, recipes.total_carbohydrates, recipes.total_fat FROM sdd.instructions, sdd.recipes, sdd.ingredient, sdd.tags Where instructions.id = '\"\nvar recipeid = msg.req.params.id;\nmsg.select += String(recipeid)\nmsg.select += \"' AND instructions.id = recipes.id AND ingredient.id = recipes.id AND tags.id = instructions.id Order by instructions.instruction_number asc;\"\n\nmsg.topic = util.format(msg.select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":200,"wires":[["c89a6523.e837b8","7681bacc.bd6664"]]},{"id":"2e44d902.ee5086","type":"debug","z":"88fe0220.27285","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":930,"y":280,"wires":[]},{"id":"a3872dd4.835b4","type":"template","z":"88fe0220.27285","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n\nvar tags = \"{{tag1}}\";\nvar tags = tags.split(\",\");\n\nvar ings = \"{{ing1}}\";\nvar ings = ings.split(\",\");\n\nvar recipe = \"{{req.params.id}}\";\n\nvar cal = Number(\"{{cal}}\");\nvar fat_c = Number(\"{{fat_c}}\");\nvar to_cal = Number(\"{{to_car}}\");\nvar fiber = Number(\"{{fiber}}\");\nvar to_fat = Number(\"{{to_fat}}\");\nvar sat_f = Number(\"{{sat_f}}\");\nvar cho = Number(\"{{cho}}\");\nvar protein = Number(\"{{protein}}\");\nvar sod = Number(\"{{sod}}\");\nvar sug_p = Number(\"{{sug_p}}\");\nvar sat_p = Number(\"{{sat_p}}\");\nvar salt_p = Number(\"{{salt_p}}\");\nvar fat_p = Number(\"{{fat_p}}\");\nvar data = [sug_p, sat_p, salt_p, fat_p];\n \n//HTML = \"<thread><td>\" + \"{{rTitle}}\" +  \"</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\n$(document).ready(function() {\n\t nutrients_piechart(data);\n\t load_comment(recipe);\n\t enterbutton();\n});\n\nfunction enterbutton(){\n\n    $(function() {\n        $(\"input\").keypress(function (e) {\n        if ((e.which && e.which == 13) || (e.keyCode && e.keyCode == 13)) {\n             $('#id_enter').click();\n             return false;\n        } else {\n       return true;\n\t }\n     });\n    });\n\n}\n\nfunction listb(response){\n    HTML2 = \"<tr><th colspan='3'>Comments</th></tr>\";\n    for(i=0; i < response[\"time\"].length; i++){\n        HTML2 += \"<tr><td>\" + response[\"username\"][i] + \"</td>\";\n        HTML2 += \"<td>\" + response[\"comment\"][i] + \"</td>\";\n        HTML2 += \"<td>\" + response[\"time\"][i] + \"</td></tr>\"\n    }\n    document.getElementById(\"comment\").innerHTML=HTML2;\n}\n\nfunction load_comment(id) {\n    function list_comment(response) {\n        listb(response);\n    }\n    $.ajax({\n        type: 'POST',\n        url: \"/load\",\n        data: {\"recipe\": recipe},\n        success: list_comment\n   });\n}\n\nfunction submit(){\n    if(\"{{req.cookies.id}}\" == \"\"){\n        confirm(\"Please login to comment!\");\n    }else{\n    message = document.getElementById(\"msg\").value;\n        $.ajax({\n            type: 'POST',\n            url: \"/insert_comment\",\n            data: {\"comment\": message, \"recipe\": recipe},\n            success: function(returnhtml){\n                load_comment(recipe);\n                //window.location = \"/recipe/\" + recipe;\n                //$(\"#result\").html(returnhtml);\n                //$(\"#loadingimg\").hide();\n            }\n       });\n    }\n}\n\n\nfunction list(){\n    HTML = \"<tr><th colspan='2'>Recipe Instructions</th></tr>\";\n    for(i=0; i < array2.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    HTML += \"</tr>\";\n    document.getElementById(\"table\").innerHTML=HTML;\n    document.getElementById(\"name\").innerHTML=\"Instructions\";\n}\n\nHTML2 = \"\";\nfunction tag_l(){\n    /*for(j=0; j< (tags.length)/4; j++){\n        HTML2 += \"<tr><td>\" + tags[4*j] + \"</td>\";\n        HTML2 += \"<td>\" + tags[4*j+1] +\"</td>\";\n        HTML2 += \"<td>\" + tags[4*j+2] +\"</td>\";\n        HTML2 += \"<td>\" + tags[4*j+3] +\"</td></tr>\";\n    }*/\n    for(j=0; j< (tags.length)/4; j++){\n        HTML2 += \"<li class='tag'>\" + tags[4*j] + \"</li>\";\n        HTML2 += \"<li class='tag'>\" + tags[4*j+1] +\"</li>\";\n        HTML2 += \"<li class='tag'>\" + tags[4*j+2] +\"</li>\";\n        HTML2 += \"<li class='tag'>\" + tags[4*j+3] +\"</li>\";\n    }\n    document.getElementById(\"tagl\").innerHTML = HTML2;\n}\n\n\nfunction ing_l(){\n    HTML3 = \"<tr><th>Recipe Ingredients</th></tr>\";\n    for(k=0; k< ings.length; k++){\n        HTML3 += \"<tr><td>\" + ings[k] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML = HTML3;\n    document.getElementById(\"name\").innerHTML=\"Ingredients\";\n}\n\nfunction pr(){\n    HTML4 = \"<tr><th colspan='2'>Recipe Nutrition Info</th></tr>\";\n    HTML4 += \"<tr><td>\"+\"calories\" +\"</td><td>\"+ \"{{cal}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"fat calories\" +\"</td><td>\"+ \"{{fat_c}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"total carbohydrates\" +\"</td><td>\"+ \"{{to_car}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"fiber\" +\"</td><td>\"+ \"{{fiber}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"total fat\" +\"</td><td>\"+ \"{{to_fat}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"saturated fat\" +\"</td><td>\"+ \"{{sat_f}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"cholesterol\" +\"</td><td>\"+ \"{{cho}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"protein\" +\"</td><td>\"+ \"{{protein}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"sodium\" +\"</td><td>\"+ \"{{sod}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+ \"sugar per 100g\"+\"</td><td>\" + \"{{sug_p}}\"+\"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"saturated fat per 100g\" +\"</td><td>\"+ \"{{sat_p}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"salt per 100g\" +\"</td><td>\"+ \"{{salt_p}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"fat per 100g\" +\"</td><td>\"+ \"{{fat_p}}\"+ \"</td></tr>\";\n    document.getElementById(\"p1\").innerHTML = HTML4;\n}\n\nfunction addtomenub(id){\n    message = id;\n    $.ajax({\n        type: 'POST',\n        url: \"/addToMenu\",\n        data: {\"name\": message, \"type\": \"b\"},\n        success: function(returnhtml){\n            window.location = \"/recipe/\"+id;\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction addtomenul(id){\n    message = id;\n    $.ajax({\n        type: 'POST',\n        url: \"/addToMenu\",\n        data: {\"name\": message, \"type\": \"l\"},\n        success: function(returnhtml){\n            window.location = \"/recipe/\"+id;\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\nfunction addtomenud(id){\n    message = id;\n    $.ajax({\n        type: 'POST',\n        url: \"/addToMenu\",\n        data: {\"name\": message, \"type\": \"d\"},\n        success: function(returnhtml){\n            window.location = \"/recipe/\"+id;\n            //$(\"#result\").html(returnhtml);\n            //$(\"#loadingimg\").hide();\n        }\n   });\n}\n\n\n\nfunction barChart() {\n\t\nvar chart = new CanvasJS.Chart(\"chartContainer\", {\n    theme: \"light2\",\n\tanimationEnabled: true,\n\ttitle: {\n\t\ttext: \"Recipe Nutrition Info\",\n\t\tfontSize: 25\n\t},\n\taxisX: {\n\t\tinterval: 1,\n\t\tlabelFontSize: 15\n\t},\n\taxisY: {\n\t\ttitle: \"Values\",\n\t\ttitleFontSize: 15,\n\t\tincludeZero: true,\n\t\tlabelFontSize: 15,\n\t\tminimum: 0,\n\t\tscaleBreaks: {\n\t\t\ttype: \"wavy\",\n\t\t\tcustomBreaks: [{\n\t\t\t\tstartValue: 25,\n\t\t\t\tendValue: 35\n\t\t\t\t},\n\t\t\t\t{\n\t\t\t\t\tstartValue: 40,\n\t\t\t\t\tendValue: 600\n\t\t\t\t}\n\t\t]}\n\t},\n\tdataPointWidth: 20,\n\theight:400,\n\tdata: [{\n\t\ttype: \"bar\",\n\t\tdataPoints: [\n\t\t\t{ label: \"Sodium\", y: sod, gdp: 2.5},\n\t\t\t{ label: \"Protein\", y: protein, gdp: 1.9},\n\t\t\t{ label: \"Cholesterol\", y: cho, gdp: 1.2},\n\t\t\t{ label: \"Saturated Fat\", y: sat_f, gdp: 2.7},\n\t\t\t{ label: \"Total Fat\", y: to_fat, gdp: 2.0},\n\t\t\t{ label: \"Fiber\", y: fiber, gdp: 1.0},\n\t\t\t{ label: \"Total Carbohydrate\", y: to_cal, gdp: 1.3},\n\t\t\t{ label: \"Fat Calories\", y: fat_c, gdp: 5.7},\n\t\t\t{ label: \"Calories\", y: cal, gdp: 5.8},\n\t\t]\n\t}]\n});\nchart.render();\n}\n\nfunction nutrients_piechart(data) {\nvar sum = data.reduce(function(a, b){return a + b;}, 0);\nresult = [];\nfor(var i in data){\n    result.push(Math.round(data[i]/sum * 10000) / 100);\n}\n\nvar chart = new CanvasJS.Chart(\"chartContainer1\", {\n\ttheme: \"light2\",\n\tanimationEnabled: true,\n\ttitle: {\n\t\ttext: \"Major Nutrients per 100g\",\n\t\tfontSize: 25\n\t},\n\tdata: [{\n\t\ttype: \"pie\",\n\t\tindexLabelFontSize: 18,\n\t\tradius: 120,\n\t\tindexLabel: \"{label} - {y}\",\n\t\tyValueFormatString: \"###0.0\\\"%\\\"\",\n\t\tclick: explodePie,\n\t\tdataPoints: [\n\t\t\t{ y: result[0], label: \"Sugar\" },\n\t\t\t{ y: result[1], label: \"Saturated Fat\"},\n\t\t\t{ y: result[2], label: \"Salt\" },\n\t\t\t{ y: result[3], label: \"Fat\" },\n\t\t]\n\t}]\n});\nchart.render();\n\nfunction explodePie(e) {\n\tfor(var i = 0; i < e.dataSeries.dataPoints.length; i++) {\n\t\tif(i !== e.dataPointIndex)\n\t\t\te.dataSeries.dataPoints[i].exploded = false;\n\t}\n}\n}","output":"str","x":1080,"y":200,"wires":[["38162796.2587a8","6a84ed66.d38a24"]]},{"id":"7a1cabf0.441734","type":"function","z":"88fe0220.27285","name":"format data","func":"msg.data = []\nmsg.data2 = []\nmsg.tag1 = []\nmsg.ing1 = []\nmsg.rTitle = msg.payload[1]['title'];\nmsg.URL = msg.payload[1]['url']\nmsg.cal = String(msg.payload[1]['calories']);\nmsg.cho = String(msg.payload[1]['cholesterol']);\nmsg.fat_c = String(msg.payload[1]['fat_cals']);\nmsg.fat_p = String(msg.payload[1]['fat_per100g']);\nmsg.fiber = String(msg.payload[1]['fiber']);\nmsg.protein = String(msg.payload[1]['protein']);\nmsg.sat_f = String(msg.payload[1][\"saturated_fat\"])\nmsg.sat_p = String(msg.payload[1]['saturates_per100g']);\nmsg.ser_z = String(msg.payload[1]['serving_size']);\nmsg.ser_p = String(msg.payload[1]['servings_per_recipe']);\nmsg.sod = String(msg.payload[1]['sodium']);\nmsg.salt_p = String(msg.payload[1]['salt_per100g']);\nmsg.sug = String(msg.payload[1]['sugar']);\nmsg.sug_p = String(msg.payload[1]['sugar_per100g']);\nmsg.to_car = String(msg.payload[1]['total_carbohydrates']);\nmsg.to_fat = String(msg.payload[1]['total_fat']);\n\n \nfor(var i in msg.payload){\n        itr1 = true;\n        for (var j in msg.data2){\n        if(msg.payload[i]['instruction']==msg.data2[j]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){\n            msg.data2.push(msg.payload[i]['instruction']);\n            msg.data.push(msg.payload[i]['instruction_number']);\n        }\n        \n        itr1 = true;\n        for (var l in msg.tag1){\n        if(msg.payload[i]['tags']==msg.tag1[l]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){msg.tag1.push(msg.payload[i]['tags'])}\n        \n        itr1 = true;\n        for (var m in msg.ing1){\n        if(msg.payload[i]['ingredients']==msg.ing1[m]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){msg.ing1.push(msg.payload[i]['ingredients'])}\n        \n}\n\nfor (var h in msg.data2){\n    msg.data2[h] = msg.data2[h].replace(/,/g, \" \");\n}\n\nfor (var h1 in msg.ing1){\n    msg.ing1[h1] = msg.ing1[h1].replace(/,/g, \" \");\n}\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":200,"wires":[["2e44d902.ee5086","a3872dd4.835b4"]]},{"id":"6a84ed66.d38a24","type":"debug","z":"88fe0220.27285","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1190,"y":280,"wires":[]},{"id":"7681bacc.bd6664","type":"debug","z":"88fe0220.27285","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"select","targetType":"msg","x":570,"y":300,"wires":[]},{"id":"49c3032.2e36cfc","type":"http in","z":"88fe0220.27285","name":"","url":"/recipe","method":"get","upload":false,"swaggerDoc":"","x":230,"y":440,"wires":[["c9d0c75d.e1dcc8"]]},{"id":"1c0b94dd.1042bb","type":"http response","z":"88fe0220.27285","name":"","x":1350,"y":440,"wires":[]},{"id":"69c47ce3.3de404","type":"template","z":"88fe0220.27285","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1210,"y":440,"wires":[["1c0b94dd.1042bb"]]},{"id":"ec15ef7.0e5701","type":"mysql","z":"88fe0220.27285","mydb":"9bc36b30.4298c8","name":"","x":610,"y":440,"wires":[["7af761a8.6e781"]]},{"id":"c9d0c75d.e1dcc8","type":"function","z":"88fe0220.27285","name":"test","func":"var select=\"SELECT instruction from instructions order by instruction_number asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":440,"wires":[["ec15ef7.0e5701"]]},{"id":"e336bc48.6b55f","type":"debug","z":"88fe0220.27285","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":770,"y":520,"wires":[]},{"id":"4a353ec2.5c6bf","type":"template","z":"88fe0220.27285","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\"Cheese,Bread,Chocolate,Coconut\";\nvar array = array.split(\",\"); //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nHTML = \"<thread><td>Instructions</td></thread>\";\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":1020,"y":440,"wires":[["69c47ce3.3de404"]]},{"id":"7af761a8.6e781","type":"function","z":"88fe0220.27285","name":"format data","func":"msg.data = []\n\nreturn msg;","outputs":1,"noerr":0,"x":790,"y":440,"wires":[["4a353ec2.5c6bf","e336bc48.6b55f"]]},{"id":"1ad4b720.f59f59","type":"http in","z":"88fe0220.27285","name":"","url":"/insert_comment","method":"post","upload":false,"swaggerDoc":"","x":240,"y":640,"wires":[["ccb55cc.fd60ea"]]},{"id":"f01a8194.c9f57","type":"http response","z":"88fe0220.27285","name":"","statusCode":"","headers":{},"x":810,"y":640,"wires":[]},{"id":"ccb55cc.fd60ea","type":"function","z":"88fe0220.27285","name":"Delete user","func":"//breakfast\nmsg.recipe = msg.payload.recipe;\nmsg.comment = msg.payload.comment;\n\n\nvar insert = \"INSERT INTO comment(username, recipe, comment) VALUES('%s', '%s', '%s')\";\n\nmsg.topic = util.format(insert, msg.req.cookies.id, msg.recipe, msg.comment);\n\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":640,"wires":[["3f935d87.465c02"]]},{"id":"3f935d87.465c02","type":"mysql","z":"88fe0220.27285","mydb":"9bc36b30.4298c8","name":"","x":630,"y":640,"wires":[["f01a8194.c9f57"]]},{"id":"6056e0e2.1c465","type":"http in","z":"88fe0220.27285","name":"","url":"/load","method":"post","upload":false,"swaggerDoc":"","x":220,"y":760,"wires":[["33dec66d.86683a"]]},{"id":"65d507d1.b59aa8","type":"http response","z":"88fe0220.27285","name":"","statusCode":"","headers":{},"x":1030,"y":760,"wires":[]},{"id":"33dec66d.86683a","type":"function","z":"88fe0220.27285","name":"Delete user","func":"//breakfast\nmsg.recipe = msg.payload.recipe;\n\nvar insert = \"SELECT username, comment, time FROM comment WHERE recipe = '%s' ORDER BY time desc\";\n\nmsg.topic = util.format(insert, msg.recipe);\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":760,"wires":[["d0054b0c.4d3e28"]]},{"id":"d0054b0c.4d3e28","type":"mysql","z":"88fe0220.27285","mydb":"9bc36b30.4298c8","name":"","x":650,"y":760,"wires":[["45e01885.b3b6f8"]]},{"id":"45e01885.b3b6f8","type":"function","z":"88fe0220.27285","name":"format data","func":"msg.data = []\nmsg.data1 = []\nmsg.data2 = []\nfor(var i in msg.payload){\n    msg.data.push(msg.payload[i][\"username\"]);\n    msg.data1.push(msg.payload[i]['comment']);\n    msg.data2.push(msg.payload[i]['time']);\n}\nmsg.payload = {};\nmsg.payload[\"username\"] = msg.data;\nmsg.payload[\"comment\"] = msg.data1;\nmsg.payload[\"time\"] = msg.data2;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":760,"wires":[["65d507d1.b59aa8","d3b81a70.e88908"]]},{"id":"d3b81a70.e88908","type":"debug","z":"88fe0220.27285","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":850,"y":840,"wires":[]},{"id":"9bc36b30.4298c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
