node-red update/Recipe_page_Yuchen_11-30_V1.json
[{"id":"16f4fe62.cc0822","type":"http in","z":"8709a473.bfba48","name":"","url":"/recipe/:id","method":"get","upload":false,"swaggerDoc":"","x":80,"y":2340,"wires":[["a02f3ab7.1628d8"]]},{"id":"64c22adf.31e414","type":"http response","z":"8709a473.bfba48","name":"","statusCode":"","headers":{},"x":1290,"y":2340,"wires":[]},{"id":"7f9a2a1b.d9f514","type":"template","z":"8709a473.bfba48","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t\n\t<title>Recipe</title>\n\t<style>\n        hr {\n        width:100%;\n        margin:0 auto;\n        border: 0;\n        height: 6px;\n        background: #333;\n        background-image: linear-gradient(to left, red, #333, rgb(9, 206, 91));\n        }\n        </style>\n    </head>\n\t\n\t<body onload='list(); tag_l(); ing_l(); pr()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 1000px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<table border=\"5px\" style=\"width: 1000px; font-size: 30px;\" id = \"tag\">\n\t\t</table>\n\t\t<table border=\"5px\" style=\"width: 1000px; font-size: 30px;\" id = \"ing\">\n\t\t</table>\n\t\t<table border=\"5px\" style=\"width: 1000px; font-size: 30px;\" id = \"p1\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n\t\n</html>","x":1150,"y":2340,"wires":[["64c22adf.31e414"]]},{"id":"84ee413f.e7aa5","type":"mysql","z":"8709a473.bfba48","mydb":"5616f4dc.ba308c","name":"","x":590,"y":2340,"wires":[["71a584bc.2e687c"]]},{"id":"a02f3ab7.1628d8","type":"function","z":"8709a473.bfba48","name":"test","func":"msg.select=\"SELECT  distinct instructions.instruction, instructions.instruction_number, recipes.title, recipes.url, ingredient.ingredients, tags.tags, recipes.calories, recipes.cholesterol, recipes.fat_cals, recipes.fat_per100g, recipes.fiber, recipes.protein, recipes.salt_per100g, recipes.saturated_fat, recipes.saturates_per100g,recipes.serving_size, recipes.servings_per_recipe, recipes.sodium, recipes.sugar, recipes.sugar_per100g, recipes.total_carbohydrates, recipes.total_fat FROM sdd.instructions, sdd.recipes, sdd.ingredient, sdd.tags Where instructions.id = '\"\nvar recipeid = msg.req.params.id;\nmsg.select += String(recipeid)\nmsg.select += \"' AND instructions.id = recipes.id AND ingredient.id = recipes.id AND tags.id = instructions.id Order by instructions.instruction_number asc;\"\n\nmsg.topic = util.format(msg.select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":2340,"wires":[["84ee413f.e7aa5","59bc7bdd.a776f4"]]},{"id":"63dd1e8e.d5117","type":"debug","z":"8709a473.bfba48","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":810,"y":2420,"wires":[]},{"id":"4fa88b19.65f4f4","type":"template","z":"8709a473.bfba48","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n\nvar tags = \"{{tag1}}\";\nvar tags = tags.split(\",\");\n\nvar ings = \"{{ing1}}\";\nvar ings = ings.split(\",\");\n \nHTML = \"<thread><td>\" + \"{{rTitle}}\" +  \"</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array2.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    HTML += \"<tr><td>\" + \"{{URL}}\" + \"</td></tr>\";\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nHTML2 = \"\";\nfunction tag_l(){\n    for(j=0; j< (tags.length)/4; j++){\n        HTML2 += \"<tr><td>\" + tags[4*j] + \"</td>\";\n        HTML2 += \"<td>\" + tags[4*j+1] +\"</td>\";\n        HTML2 += \"<td>\" + tags[4*j+2] +\"</td>\";\n        HTML2 += \"<td>\" + tags[4*j+3] +\"</td></tr>\";\n    }\n    document.getElementById(\"tag\").innerHTML = HTML2;\n}\n\nHTML3 = \"\";\nfunction ing_l(){\n    for(k=0; k< ings.length; k++){\n        HTML3 += \"<tr><td>\" + ings[k] + \"</td></tr>\";\n    }\n    document.getElementById(\"ing\").innerHTML = HTML3;\n}\n\nHTML4 = \"\";\nfunction pr(){\n    HTML4 += \"<tr><td>\"+\"serving size\"+\"</td><td>\"+\"{{ser_z}}\"+\"</td></tr>\";\n    HTML4 += \"<tr><td>\"+ \"serving per recipe\"+\"</td><td>\"+\"{{ser_p}}\"+\"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"calories\" +\"</td><td>\"+ \"{{cal}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+ \"sugar per 100g\"+\"</td><td>\" + \"{{sug_p}}\"+\"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"total carbohydrates\" +\"</td><td>\"+ \"{{to_car}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"total fat\" +\"</td><td>\"+ \"{{to_fat}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"fat calories\" +\"</td><td>\"+ \"{{fat_c}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"fat per 100g\" +\"</td><td>\"+ \"{{fat_p}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"saturated fat\" +\"</td><td>\"+ \"{{sat_f}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"saturated fat per 100g\" +\"</td><td>\"+ \"{{sat_p}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"sodium\" +\"</td><td>\"+ \"{{sod}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"cholesterol\" +\"</td><td>\"+ \"{{cho}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"salt per 100g\" +\"</td><td>\"+ \"{{salt_p}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"fiber\" +\"</td><td>\"+ \"{{fiber}}\"+ \"</td></tr>\";\n    HTML4 += \"<tr><td>\"+\"protein\" +\"</td><td>\"+ \"{{protein}}\"+ \"</td></tr>\";\n    document.getElementById(\"p1\").innerHTML = HTML4;\n}\n\n","output":"str","x":960,"y":2340,"wires":[["7f9a2a1b.d9f514","312efe02.b42a32"]]},{"id":"71a584bc.2e687c","type":"function","z":"8709a473.bfba48","name":"format data","func":"msg.data = []\nmsg.data2 = []\nmsg.tag1 = []\nmsg.ing1 = []\nmsg.rTitle = msg.payload[1]['title'];\nmsg.URL = msg.payload[1]['url']\nmsg.cal = String(msg.payload[1]['calories']);\nmsg.cho = String(msg.payload[1]['cholesterol']);\nmsg.fat_c = String(msg.payload[1]['fat_cals']);\nmsg.fat_p = String(msg.payload[1]['fat_per100g']);\nmsg.fiber = String(msg.payload[1]['fiber']);\nmsg.protein = String(msg.payload[1]['protein']);\nmsg.sat_f = String(msg.payload[1][\"saturated_fat\"])\nmsg.sat_p = String(msg.payload[1]['saturates_per100g']);\nmsg.ser_z = String(msg.payload[1]['serving_size']);\nmsg.ser_p = String(msg.payload[1]['servings_per_recipe']);\nmsg.sod = String(msg.payload[1]['sodium']);\nmsg.salt_p = String(msg.payload[1]['salt_per100g']);\nmsg.sug = String(msg.payload[1]['sugar']);\nmsg.sug_p = String(msg.payload[1]['sugar_per100g']);\nmsg.to_car = String(msg.payload[1]['total_carbohydrates']);\nmsg.to_fat = String(msg.payload[1]['total_fat']);\n\n \nfor(var i in msg.payload){\n        itr1 = true;\n        for (var j in msg.data2){\n        if(msg.payload[i]['instruction']==msg.data2[j]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){\n            msg.data2.push(msg.payload[i]['instruction']);\n            msg.data.push(msg.payload[i]['instruction_number']);\n        }\n        \n        itr1 = true;\n        for (var l in msg.tag1){\n        if(msg.payload[i]['tags']==msg.tag1[l]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){msg.tag1.push(msg.payload[i]['tags'])}\n        \n        itr1 = true;\n        for (var m in msg.ing1){\n        if(msg.payload[i]['ingredients']==msg.ing1[m]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){msg.ing1.push(msg.payload[i]['ingredients'])}\n        \n}\n\nfor (var h in msg.data2){\n    msg.data2[h] = msg.data2[h].replace(/,/g, \" \");\n}\n\nfor (var h1 in msg.ing1){\n    msg.ing1[h1] = msg.ing1[h1].replace(/,/g, \" \");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":750,"y":2340,"wires":[["63dd1e8e.d5117","4fa88b19.65f4f4"]]},{"id":"312efe02.b42a32","type":"debug","z":"8709a473.bfba48","name":"","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":2420,"wires":[]},{"id":"59bc7bdd.a776f4","type":"debug","z":"8709a473.bfba48","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"select","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":2520,"wires":[]},{"id":"1e1d1c2c.f3fea4","type":"http in","z":"8709a473.bfba48","name":"","url":"/recipe","method":"get","upload":false,"swaggerDoc":"","x":110,"y":2580,"wires":[["7eb1bc38.e28674"]]},{"id":"bd7ed3e6.a48d3","type":"http response","z":"8709a473.bfba48","name":"","x":1230,"y":2580,"wires":[]},{"id":"dabc1af3.e44d28","type":"template","z":"8709a473.bfba48","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1090,"y":2580,"wires":[["bd7ed3e6.a48d3"]]},{"id":"b83d0bc0.47a5e8","type":"mysql","z":"8709a473.bfba48","mydb":"1b3e4478.ef54ec","name":"","x":490,"y":2580,"wires":[["ebf6a8a6.a86b38"]]},{"id":"7eb1bc38.e28674","type":"function","z":"8709a473.bfba48","name":"test","func":"var select=\"SELECT instruction from instructions order by instruction_number asc\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":2580,"wires":[["b83d0bc0.47a5e8"]]},{"id":"129af9a9.19bfe6","type":"debug","z":"8709a473.bfba48","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":650,"y":2660,"wires":[]},{"id":"aa263d8c.7075d","type":"template","z":"8709a473.bfba48","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\"Cheese,Bread,Chocolate,Coconut\";\nvar array = array.split(\",\"); //[\"Cheese\", \"Bread\", \"Chocolate\", \"Coconut\"];\nHTML = \"<thread><td>Instructions</td></thread>\";\nfunction list(){\n    for(i=0; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n","output":"str","x":900,"y":2580,"wires":[["dabc1af3.e44d28"]]},{"id":"ebf6a8a6.a86b38","type":"function","z":"8709a473.bfba48","name":"format data","func":"msg.data = []\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":2580,"wires":[["aa263d8c.7075d","129af9a9.19bfe6"]]},{"id":"5616f4dc.ba308c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""},{"id":"1b3e4478.ef54ec","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]