node-red update/UserProfile_Yifan_11.16.json
[{"id":"39f7673c.f3a9b8","type":"http in","z":"82647df6.622fc","name":"","url":"/user_profile","method":"get","upload":false,"swaggerDoc":"","x":840,"y":2180,"wires":[["a4e88d91.0e7f2"]]},{"id":"db33e5d2.a724d8","type":"http response","z":"82647df6.622fc","name":"","statusCode":"","headers":{},"x":1910,"y":2180,"wires":[]},{"id":"5b3a1d74.a2a374","type":"template","z":"82647df6.622fc","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='userdata();preferences();allergies()'>\n\t\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table1\">\n\t\t</table>\n\t\t\n\t\t{{!-- add by preference and allergy --}}\n\t\t<div>\n        <input align = \"center\" type=\"text\" id=\"preferenceText\" placeholder=\"Add a preference\" class = \"preferenceAdd\" style=\"display: inline;\">\n        <button id=\"addPreferenceBtn\" onclick=\"inputBox('preference')\" class = \"searchBtn\"> Add a preference </button>\n        <br/>\n        \n        \n        <input align = \"center\" type=\"text\" id=\"allergyText\" placeholder=\"Add an allergy\" class = \"allergyAdd\" style=\"display: inline;\">\n        <button id=\"addAllergyBtn\" onclick=\"inputBox('allergy')\" class = \"searchBtn\"> Add an allergy </button>\n        <br/>\n        </div>\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table2\">\n\t\t</table>\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table3\">\n\t\t</table>\n\t\t\n    \t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n    \t<script>{{{payload.script}}}</script>\n\t\t\n\t\t\n\t</body>\n\t\n\t\n</html>","output":"str","x":1770,"y":2180,"wires":[["db33e5d2.a724d8"]]},{"id":"378b156f.cdd09a","type":"mysql","z":"82647df6.622fc","mydb":"b85b7ba.0573788","name":"","x":1170,"y":2180,"wires":[["b377f868.8c2168"]]},{"id":"a4e88d91.0e7f2","type":"function","z":"82647df6.622fc","name":"test","func":"var select=\"SELECT username, password FROM users\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2180,"wires":[["378b156f.cdd09a"]]},{"id":"17e00709.efccc9","type":"debug","z":"82647df6.622fc","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1320,"y":2260,"wires":[]},{"id":"90887047.70be4","type":"template","z":"82647df6.622fc","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n \n\n\nfunction userdata(){\n    HTML = \"<thread><td>\" + \"USERNAME\" +  \n        \"</td>\"+\"<td>\"+\"PASSWORD\"+\"</td></thread>\";\n    for(i=1; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table1\").innerHTML=HTML;\n}\n\nfunction inputBox(btnName){\n    console.log(\"\\ninputBox\");\n    if(btnName == \"none\") return; // init the page\n    var search_info;\n    // determine which add bar user used\n    switch(btnName){\n        case \"preference\":\n            search_info = document.getElementById(\"preferenceText\").value;\n            break;\n        case \"allergy\":\n            search_info = document.getElementById(\"allergyText\").value;\n            break;\n    }\n    if(search_info === \"\" || search_info === null) return;\n    // Add input into dietary preference database\n    \n    \n}   \n\nfunction preferences(){\n    HTML = \"<thread><td>\" + \"PREFERENCES\" + \"</td></thread>\";\n    for(i=2; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table2\").innerHTML=HTML;\n}\n\nfunction allergies(){\n    HTML = \"<thread><td>\"+\"ALLERGIES\"+\"</td></thread>\";\n    for(i=2; i < array.length; i++){\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table3\").innerHTML=HTML;\n}","output":"str","x":1580,"y":2180,"wires":[["5b3a1d74.a2a374"]]},{"id":"b377f868.8c2168","type":"function","z":"82647df6.622fc","name":"format data","func":"\nmsg.data = []\nmsg.data2 = []\n\nfor(var i in msg.payload){\n        msg.data.push(msg.payload[i]['username']);\n        msg.data2.push(msg.payload[i]['password']);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1350,"y":2180,"wires":[["90887047.70be4","17e00709.efccc9"]]},{"id":"b85b7ba.0573788","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]