node-red update/UserProfile_Yifan_12.5.json
[{"id":"6c2a6f1.38ea19","type":"comment","z":"82647df6.622fc","name":"User profile page","info":"","x":520,"y":2020,"wires":[]},{"id":"89a72765.ceedc8","type":"http in","z":"82647df6.622fc","name":"","url":"/user_profile","method":"get","upload":false,"swaggerDoc":"","x":520,"y":2200,"wires":[["6a7af0d0.d243d"]]},{"id":"1bcd60e4.7dd0cf","type":"http response","z":"82647df6.622fc","name":"","statusCode":"","headers":{},"x":1590,"y":2200,"wires":[]},{"id":"d0244a84.cc6418","type":"template","z":"82647df6.622fc","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='userdata();preferences();allergies()'>\n\t\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table1\">\n\t\t</table>\n\t\t\n\t\t{{!-- add by preference and allergy --}}\n\t\t<div>\n        <input align = \"center\" type=\"text\" id=\"preferenceText\" name=\"preference\" placeholder=\"Add a preference\" class = \"preferenceAdd\" style=\"display: inline;\">\n        <button id=\"addPreferenceBtn\" onclick=\"inputBox('preference')\" class = \"searchBtn\"> Add a preference </button>\n        <br/>\n        \n        \n        <input align = \"center\" type=\"text\" id=\"allergyText\" name=\"allergy\" placeholder=\"Add an allergy\" class = \"allergyAdd\" style=\"display: inline;\">\n        <button id=\"addAllergyBtn\" onclick=\"inputBox('allergy')\" class = \"searchBtn\"> Add an allergy </button>\n        <br/>\n        </div>\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table2\">\n\t\t</table>\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table3\">\n\t\t</table>\n\t\t\n    \t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n    \t<script>{{{payload.script}}}</script>\n\t\t\n\t\t\n\t</body>\n\t\n\t\n</html>","output":"str","x":1450,"y":2200,"wires":[["1bcd60e4.7dd0cf"]]},{"id":"d240e433.811638","type":"mysql","z":"82647df6.622fc","mydb":"e6af7137.601c5","name":"","x":850,"y":2200,"wires":[["4f696e04.b55d3"]]},{"id":"6a7af0d0.d243d","type":"function","z":"82647df6.622fc","name":"test","func":"var select=\"SELECT username, password FROM users\";\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":2200,"wires":[["d240e433.811638"]]},{"id":"2711db3f.3015d4","type":"template","z":"82647df6.622fc","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \nvar loginname=\"{{name}}\";\n\nvar arrayP = \"{{dataP}}\"; //\nvar arrayP = arrayP.split(\",\");\nvar arrayA = \"{{dataA}}\"; //\nvar arrayA = arrayA.split(\",\");\n\nfunction userdata(){\n    HTML = \"<thread><td>\" + \"USERNAME\" +  \n        \"</td></thread>\";\n    for(i=0; i < array.length; i++){\n        if (loginname==array[i]){\n            HTML += \"<tr><td>\" + array[i] + \"</td>\";\n            \n        }\n    }\n    document.getElementById(\"table1\").innerHTML=HTML;\n}\n\nfunction inputBox(btnName){\n    console.log(\"\\ninputBox\");\n    if(btnName == \"none\") return; // init the page\n    var search_info;\n    // determine which add bar user used\n    switch(btnName){\n        case \"preference\":\n            search_info = document.getElementById(\"preferenceText\").value;\n            break;\n        case \"allergy\":\n            search_info = document.getElementById(\"allergyText\").value;\n            break;\n    }\n    if(search_info === \"\" || search_info === null) return;\n    // Add input into dietary preference database\n    $.ajax({\n            url: \"/create_preference\", \n            type: \"post\",      \n            data: {\"ingredient\":search_info,\"cases\":btnName},     \n            cache: false,\n            success: function(returnhtml){   \n                window.location=\"/user_profile\";\n                //location.reload();\n\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n    });   \n    \n}   \n\nfunction preferences(){\n    HTML = \"<thread><td>\" + \"PREFERENCES\" + \"</td></thread>\";\n    for(i=0; i < arrayP.length; i++){\n        HTML += \"<tr><td>\" + arrayP[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table2\").innerHTML=HTML;\n}\n\nfunction allergies(){\n    HTML = \"<thread><td>\"+\"ALLERGIES\"+\"</td></thread>\";\n    for(i=0; i < arrayA.length; i++){\n        HTML += \"<tr><td>\" + arrayA[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table3\").innerHTML=HTML;\n}","output":"str","x":1260,"y":2200,"wires":[["d0244a84.cc6418"]]},{"id":"4f696e04.b55d3","type":"function","z":"82647df6.622fc","name":"format data","func":"\nmsg.data = []\nmsg.data2 = []\nmsg.dataP = []\nmsg.dataA = []\nmsg.name=[]\nfor(var i in msg.payload){\n        msg.data.push(msg.payload[i]['username']);\n        msg.data2.push(msg.payload[i]['password']);\n}\nmsg.name.push(msg.req.cookies.id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2200,"wires":[["5ebb4002.1d00d"]]},{"id":"fdad992b.ac82d8","type":"http in","z":"82647df6.622fc","name":"","url":"/create_preference","method":"post","upload":false,"swaggerDoc":"","x":650,"y":2340,"wires":[["d81037b6.191a58","ff453a9b.03e498"]]},{"id":"ff453a9b.03e498","type":"function","z":"82647df6.622fc","name":"return msg.payload to client","func":"var insert1=\"INSERT INTO preferences VALUES ('%s', '%s')\";\nvar insert2=\"INSERT INTO allergies VALUES ('%s', '%s')\";\n\nif (msg.payload.cases==\"preference\"){\n    msg.topic = util.format(insert1, msg.req.cookies.id, msg.payload.ingredient);\n}\nelse if (msg.payload.cases==\"allergy\"){\n    msg.topic = util.format(insert2, msg.req.cookies.id, msg.payload.ingredient);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1020,"y":2340,"wires":[["99b8b57e.419ed8"]]},{"id":"d81037b6.191a58","type":"debug","z":"82647df6.622fc","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":890,"y":2280,"wires":[]},{"id":"99b8b57e.419ed8","type":"mysql","z":"82647df6.622fc","mydb":"d8adcd1d.075dd","name":"","x":1230,"y":2340,"wires":[["96b0492.7de24b8"]]},{"id":"96b0492.7de24b8","type":"http response","z":"82647df6.622fc","name":"","statusCode":"","headers":{},"x":1370,"y":2340,"wires":[]},{"id":"576db590.252a5c","type":"mysql","z":"82647df6.622fc","mydb":"e6af7137.601c5","name":"","x":850,"y":2140,"wires":[["ea4917c7.558448"]]},{"id":"5ebb4002.1d00d","type":"function","z":"82647df6.622fc","name":"test","func":"\nvar select1=\"SELECT ingredient FROM preferences WHERE username='%s'\";\nmsg.topic = util.format(select1,msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":2140,"wires":[["576db590.252a5c"]]},{"id":"ea4917c7.558448","type":"function","z":"82647df6.622fc","name":"format data","func":"\n\nmsg.dataP = []\n\n\nfor(var j in msg.payload){\n        msg.dataP.push(msg.payload[j]['ingredient']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2140,"wires":[["205220d.89fd9e"]]},{"id":"ee0a36b6.026c28","type":"mysql","z":"82647df6.622fc","mydb":"e6af7137.601c5","name":"","x":850,"y":2080,"wires":[["7055d339.450d2c"]]},{"id":"205220d.89fd9e","type":"function","z":"82647df6.622fc","name":"test","func":"\nvar select2=\"SELECT ingredient FROM allergies WHERE username='%s'\";\nmsg.topic = util.format(select2,msg.req.cookies.id);\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":690,"y":2080,"wires":[["ee0a36b6.026c28"]]},{"id":"7055d339.450d2c","type":"function","z":"82647df6.622fc","name":"format data","func":"\n\nmsg.dataA = []\n\n\nfor(var k in msg.payload){\n        msg.dataA.push(msg.payload[k]['ingredient']);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1030,"y":2080,"wires":[["2711db3f.3015d4"]]},{"id":"e6af7137.601c5","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""},{"id":"d8adcd1d.075dd","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]