node-red update/UserProfile_Yifan_10_29.json
[{"id":"d27e1245.992ef","type":"http in","z":"cdfea766.e4e218","name":"","url":"/user_profile","method":"get","upload":false,"swaggerDoc":"","x":610,"y":1420,"wires":[["559893f0.39b334"]]},{"id":"4dc8bb21.9506bc","type":"http response","z":"cdfea766.e4e218","name":"","statusCode":"","headers":{},"x":1680,"y":1420,"wires":[]},{"id":"4855fd1a.e01504","type":"template","z":"cdfea766.e4e218","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list();list2()'>\n\t\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t\n\t\t<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table2\">\n\t\t</table>\n\t\t\n    \t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n    \t<script>{{{payload.script}}}</script>\n\t\t\n\t\t\n\t</body>\n\t\n\t\n</html>","output":"str","x":1540,"y":1420,"wires":[["4dc8bb21.9506bc"]]},{"id":"29e0ea7b.f9ccae","type":"mysql","z":"cdfea766.e4e218","mydb":"40c13bd4.0f0904","name":"","x":940,"y":1420,"wires":[["cfb6b449.2ac1c8"]]},{"id":"559893f0.39b334","type":"function","z":"cdfea766.e4e218","name":"test","func":"var select=\"SELECT username,password from users\";\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1420,"wires":[["29e0ea7b.f9ccae"]]},{"id":"eb665bfb.8801c8","type":"debug","z":"cdfea766.e4e218","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1090,"y":1500,"wires":[]},{"id":"bc9e9adb.8717c8","type":"template","z":"cdfea766.e4e218","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td>\" + \"USERNAME\" +  \n        \"</td>\"+\"<td>\"+\"PASSWORD\"+\"</td>\"+\n        \"<td>\"+\"PREFERENCES\"+\"</td>\"+\n        \"<td>\"+\"ALLERGIES\"+\"</thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\n\nfunction list(){\n    for(i=1; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nfunction list2(){\n    for(i=2; i < array.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table2\").innerHTML=HTML;\n}","output":"str","x":1350,"y":1420,"wires":[["4855fd1a.e01504"]]},{"id":"cfb6b449.2ac1c8","type":"function","z":"cdfea766.e4e218","name":"format data","func":"msg.title1=[]\nmsg.title2=[]\nmsg.data = []\nmsg.data2 = []\n\nfor(var i in msg.payload){\n        msg.data.push(msg.payload[i]['username']);\n        msg.data2.push(msg.payload[i]['password']);\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1120,"y":1420,"wires":[["bc9e9adb.8717c8","eb665bfb.8801c8"]]},{"id":"40c13bd4.0f0904","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]