node-red update/UserProfilePage_Ruisi_12-5
[{"id":"a5c3fb70.5a7d38","type":"comment","z":"518220fb.3e716","name":"User profile page","info":"","x":160,"y":140,"wires":[]},{"id":"28009d58.982012","type":"http in","z":"518220fb.3e716","name":"","url":"/user_profile","method":"get","upload":false,"swaggerDoc":"","x":240,"y":400,"wires":[["669a00dd.c9e21"]]},{"id":"a67c99e7.7d2cd8","type":"http response","z":"518220fb.3e716","name":"","statusCode":"","headers":{},"x":1310,"y":400,"wires":[]},{"id":"58c8fdae.10b314","type":"template","z":"518220fb.3e716","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head>\n        <script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script>\n        <meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n        <link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css\">\n        <link rel=\"stylesheet\" type=\"text/css\" href=\"/template.css\">\n    </head>\n\t<body onload='preferences();allergies()'>\n\t    <div class=\"sidenav\">\n            <!--<a href=\"/menu\">Daily Menu</a>\n            <a href=\"/menu/ingredients\">Ingredient List</a>\n            <a href=\"/menu/nutrients\">Nutrients</a>\n            <a href=\"/menu/instructions\">Instructions</a>-->\n            <a href=\"/landin\">Recipe Search</a>\n            <a href=\"/farmers_market\">Market Search</a>\n        </div>\n\t    <div class=\"main\">\n\t    <div id=\"myDIV\" class=\"header\">\n            <h2 style=\"font-size:35px;margin:5px\">{{req.cookies.id}}</h2>\n        </div>\n        \n        <div id=\"myDIV\" class=\"header\" style=\"padding-top:0px\">\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:left; margin-left:20%\">Preference</p>\n            <p style=\"font-size:25px; font-weight:bold; margin:0; float:right; margin-right:20%\">Allergy</p>\n        </div>\n\n\t\t<!--<table border=\"5px\" style=\"width: 500px; font-size: 30px;\" id = \"table1\">\n\t\t</table>-->\n\t\t\n\t\t{{!-- add by preference and allergy --}}\n\t\t<div style=\"padding-top:10px\">\n\t\t    <div style=\"width:750px; display:inline-block\">\n        <input  style=\"padding-top: 10px;margin-top: 5px;border: solid;\" align = \"center\" type=\"text\" id=\"preferenceText\" name=\"preference\" placeholder=\"Add a preference\" class = \"preferenceAdd\" style=\"display: inline;\">\n        <button style=\"height:50px;margin-left: 15px;\" id=\"addPreferenceBtn\" onclick=\"inputBox('preference')\" class = \"searchBtn\"> Add a preference </button>\n            </div>\n        <div style=\"width:750px;display:inline-block\">\n        <input style=\"padding-top: 10px;margin-top: 5px;border: solid;\" align = \"center\" type=\"text\" id=\"allergyText\" name=\"allergy\" placeholder=\"Add an allergy\" class = \"allergyAdd\" style=\"display: inline;\">\n        <button style=\"height:50px;margin-left: 15px;\" id=\"addAllergyBtn\" onclick=\"inputBox('allergy')\" class = \"searchBtn\"> Add an allergy </button>\n        </div>\n        </div>\n\t\t\n\t\t\n\t\t\n\t\t\n\t\t<div style=\"padding-top:10px\">\n\t\t<table border=\"5px\" style=\"width: 750px; font-size: 30px;float:left\" id = \"table2\">\n\t\t</table>\n\t\t\n\t\t<table border=\"5px\" style=\"width: 750px; font-size: 30px;\" id = \"table3\">\n\t\t</table>\n        </div>\n    \t<script>{{{payload.script}}}</script>\n\t\t</div>\n\t\t\n\t</body>\n\t\n\t\n</html>","output":"str","x":1170,"y":400,"wires":[["a67c99e7.7d2cd8"]]},{"id":"305eef9e.a58a4","type":"mysql","z":"518220fb.3e716","mydb":"9bc36b30.4298c8","name":"","x":570,"y":400,"wires":[["e62c3b29.f5ec18"]]},{"id":"155facfc.7db563","type":"function","z":"518220fb.3e716","name":"test","func":"var select=\"SELECT username, password FROM users\";\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":400,"wires":[["305eef9e.a58a4"]]},{"id":"679da285.d2491c","type":"template","z":"518220fb.3e716","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"\nvar array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \nvar loginname=\"{{name}}\";\n\nvar arrayP = \"{{dataP}}\"; //\nvar arrayP = arrayP.split(\",\");\nvar arrayA = \"{{dataA}}\"; //\nvar arrayA = arrayA.split(\",\");\n\nfunction userdata(){\n    HTML = \"<thread><th>\" + \"USERNAME\" +  \n        \"</th</thread>\";\n    for(i=0; i < array.length; i++){\n        if (loginname==array[i]){\n            HTML += \"<tr><td>\" + array[i] + \"</td></tr>\";\n        }\n    }\n    document.getElementById(\"table1\").innerHTML=HTML;\n}\n\nfunction inputBox(btnName){\n    console.log(\"\\ninputBox\");\n    if(btnName == \"none\") return; // init the page\n    var search_info;\n    // determine which add bar user used\n    switch(btnName){\n        case \"preference\":\n            search_info = document.getElementById(\"preferenceText\").value;\n            break;\n        case \"allergy\":\n            search_info = document.getElementById(\"allergyText\").value;\n            break;\n    }\n    if(search_info === \"\" || search_info === null) return;\n    // Add input into dietary preference database\n    $.ajax({\n            url: \"/create_preference\", \n            type: \"post\",      \n            data: {\"ingredient\":search_info,\"cases\":btnName},     \n            cache: false,\n            success: function(returnhtml){   \n                window.location=\"/user_profile\";\n                //location.reload();\n\n                //$(\"#result\").html(returnhtml); \n                //$(\"#loadingimg\").hide();                    \n            }           \n    });   \n    \n}   \n\nfunction preferences(){\n    HTML = \"<thread><th>\" + \"PREFERENCES\" + \"</th></thread>\";\n    for(i=0; i < arrayP.length; i++){\n        HTML += \"<tr><td>\" + arrayP[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table2\").innerHTML=HTML;\n}\n\nfunction allergies(){\n    HTML = \"<thread><th>\"+\"ALLERGIES\"+\"</th></thread>\";\n    for(i=0; i < arrayA.length; i++){\n        HTML += \"<tr><td>\" + arrayA[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table3\").innerHTML=HTML;\n}","output":"str","x":980,"y":400,"wires":[["58c8fdae.10b314"]]},{"id":"e62c3b29.f5ec18","type":"function","z":"518220fb.3e716","name":"format data","func":"\nmsg.data = []\nmsg.data2 = []\nmsg.dataP = []\nmsg.dataA = []\nmsg.name=[]\nfor(var i in msg.payload){\n        msg.data.push(msg.payload[i]['username']);\n        msg.data2.push(msg.payload[i]['password']);\n}\nmsg.name.push(msg.req.cookies.id);\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":400,"wires":[["ab0765b7.af6ad8"]]},{"id":"8122f201.a533a","type":"http in","z":"518220fb.3e716","name":"","url":"/create_preference","method":"post","upload":false,"swaggerDoc":"","x":370,"y":540,"wires":[["4810bf04.09826","489ae05f.df9ac"]]},{"id":"489ae05f.df9ac","type":"function","z":"518220fb.3e716","name":"return msg.payload to client","func":"var insert1=\"INSERT INTO preferences VALUES ('%s', '%s')\";\nvar insert2=\"INSERT INTO allergies VALUES ('%s', '%s')\";\n\nif (msg.payload.cases==\"preference\"){\n    msg.topic = util.format(insert1, msg.req.cookies.id, msg.payload.ingredient);\n}\nelse if (msg.payload.cases==\"allergy\"){\n    msg.topic = util.format(insert2, msg.req.cookies.id, msg.payload.ingredient);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":540,"wires":[["be85197c.6007c8"]]},{"id":"4810bf04.09826","type":"debug","z":"518220fb.3e716","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":610,"y":480,"wires":[]},{"id":"be85197c.6007c8","type":"mysql","z":"518220fb.3e716","mydb":"9bc36b30.4298c8","name":"","x":950,"y":540,"wires":[["5e49b752.5a8ad8"]]},{"id":"5e49b752.5a8ad8","type":"http response","z":"518220fb.3e716","name":"","statusCode":"","headers":{},"x":1090,"y":540,"wires":[]},{"id":"2ee3d39d.2f37ac","type":"mysql","z":"518220fb.3e716","mydb":"9bc36b30.4298c8","name":"","x":570,"y":340,"wires":[["a2a0104e.e7296"]]},{"id":"ab0765b7.af6ad8","type":"function","z":"518220fb.3e716","name":"test","func":"\nvar select1=\"SELECT ingredient FROM preferences WHERE username='%s'\";\nmsg.topic = util.format(select1,msg.req.cookies.id);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["2ee3d39d.2f37ac"]]},{"id":"a2a0104e.e7296","type":"function","z":"518220fb.3e716","name":"format data","func":"\n\nmsg.dataP = []\n\n\nfor(var j in msg.payload){\n        msg.dataP.push(msg.payload[j]['ingredient']);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":340,"wires":[["b13bb63.dd9cb48"]]},{"id":"18c7ae23.a8f692","type":"mysql","z":"518220fb.3e716","mydb":"9bc36b30.4298c8","name":"","x":570,"y":280,"wires":[["604cc6e7.d167c8"]]},{"id":"b13bb63.dd9cb48","type":"function","z":"518220fb.3e716","name":"test","func":"\nvar select2=\"SELECT ingredient FROM allergies WHERE username='%s'\";\nmsg.topic = util.format(select2,msg.req.cookies.id);\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":280,"wires":[["18c7ae23.a8f692"]]},{"id":"604cc6e7.d167c8","type":"function","z":"518220fb.3e716","name":"format data","func":"\n\nmsg.dataA = []\n\n\nfor(var k in msg.payload){\n        msg.dataA.push(msg.payload[k]['ingredient']);\n}\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":280,"wires":[["679da285.d2491c"]]},{"id":"669a00dd.c9e21","type":"function","z":"518220fb.3e716","name":"Delete user","func":"//breakfast\n\nvar insert = \"SELECT username from users\";\n\nmsg.topic = insert;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":140,"wires":[["d2eead1a.bed6e"]]},{"id":"d2eead1a.bed6e","type":"mysql","z":"518220fb.3e716","mydb":"9bc36b30.4298c8","name":"","x":570,"y":140,"wires":[["ccfe4cf1.48782"]]},{"id":"ccfe4cf1.48782","type":"function","z":"518220fb.3e716","name":"check user","func":"msg.users = [];\nmsg.assert = 0\nfor(var i in msg.payload){\n    if(msg.req.cookies.id === msg.payload[i]['username']) {\n        msg.assert = 1;\n        break;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":140,"wires":[["583f4a8d.070964"]]},{"id":"583f4a8d.070964","type":"switch","z":"518220fb.3e716","name":"","property":"assert","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":930,"y":140,"wires":[["155facfc.7db563"],["1132a77e.dad329"]]},{"id":"f7fbb8c6.7dedd8","type":"http response","z":"518220fb.3e716","name":"","statusCode":"","headers":{},"x":1030,"y":200,"wires":[]},{"id":"1132a77e.dad329","type":"change","z":"518220fb.3e716","name":"Redirect to /menu","rules":[{"t":"set","p":"headers","pt":"msg","to":"{}","tot":"json"},{"t":"set","p":"headers.location","pt":"msg","to":"/landin","tot":"str"},{"t":"set","p":"statusCode","pt":"msg","to":"302","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":200,"wires":[["f7fbb8c6.7dedd8"]]},{"id":"9bc36b30.4298c8","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]
