node-red update/Yuchen_recipe_page_10-30.json
[{"id":"16f4fe62.cc0822","type":"http in","z":"8709a473.bfba48","name":"","url":"/recipe","method":"get","upload":false,"swaggerDoc":"","x":90,"y":2340,"wires":[["a02f3ab7.1628d8"]]},{"id":"64c22adf.31e414","type":"http response","z":"8709a473.bfba48","name":"","statusCode":"","headers":{},"x":1170,"y":2340,"wires":[]},{"id":"7f9a2a1b.d9f514","type":"template","z":"8709a473.bfba48","name":"HTML","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<html>\n    <head><script src=\"http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js\"></script></head>\n\t<body onload='list()'>\n        <button onclick=\"location.href = 'landin';\" id=\"landin_btn\" style=\"font-size: 20px\" > Back to Landin Page </button>\n\n\t\t<table border=\"5px\" style=\"width: 1000px; font-size: 30px;\" id = \"table\">\n\t\t</table>\n\t\t<a href=\"/landin\" style=\"font-size: 30px;\">Go back to landin page</a>\n\t\t<script>{{{payload.script}}}</script>\n\t</body>\n</html>","x":1030,"y":2340,"wires":[["64c22adf.31e414"]]},{"id":"84ee413f.e7aa5","type":"mysql","z":"8709a473.bfba48","mydb":"5616f4dc.ba308c","name":"","x":430,"y":2340,"wires":[["71a584bc.2e687c"]]},{"id":"a02f3ab7.1628d8","type":"function","z":"8709a473.bfba48","name":"test","func":"var select=\"SELECT distinct instructions.instruction, instructions.instruction_number, recipes.title, recipes.url, ingredient.ingredients, tags.tags FROM sdd.instructions, sdd.recipes, sdd.ingredient, sdd.tags Where instructions.id = recipes.id AND instructions.id = '64d0ea2b33' AND ingredient.id = recipes.id AND tags.id = instructions.id Order by instructions.instruction_number asc;\"\n\nmsg.topic = util.format(select);\n\n//util.format()\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":270,"y":2340,"wires":[["84ee413f.e7aa5"]]},{"id":"63dd1e8e.d5117","type":"debug","z":"8709a473.bfba48","name":"mysitepost","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":2420,"wires":[]},{"id":"4fa88b19.65f4f4","type":"template","z":"8709a473.bfba48","name":"Javascript","field":"payload.script","fieldType":"msg","format":"javascript","syntax":"mustache","template":"var array = \"{{data}}\"; //\nvar array = array.split(\",\"); \n\nvar array2 = \"{{data2}}\"; //\nvar array2 = array2.split(\",\"); \n \nHTML = \"<thread><td>\" + \"{{rTitle}}\" +  \"</td></thread>\";\n//HTML += \"<tr><td>\" + array + \"</td></tr>\";\n\nfunction list(){\n    for(i=0; i < array2.length; i++){\n        HTML += \"<tr><td>\" + array[i] + \"</td>\";\n        HTML += \"<td>\" + array2[i] + \"</td></tr>\";\n    }\n    document.getElementById(\"table\").innerHTML=HTML;\n}\n\nHTML += \"<tr><td>\" + \"{{URL}}\" + \"</td></tr>\"","output":"str","x":840,"y":2340,"wires":[["7f9a2a1b.d9f514"]]},{"id":"71a584bc.2e687c","type":"function","z":"8709a473.bfba48","name":"format data","func":"msg.data = []\nmsg.data2 = []\nmsg.tag1 = []\nmsg.ing1 = []\nmsg.rTitle = msg.payload[1]['title']\nmsg.URL = msg.payload[1]['url'];\nfor(var i in msg.payload){\n        itr1 = true;\n        for (var j in msg.data2){\n        if(msg.payload[i]['instruction']==msg.data2[j]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){\n            msg.data2.push(msg.payload[i]['instruction']);\n            msg.data.push(msg.payload[i]['instruction_number']);\n        }\n        \n        itr1 = true;\n        for (var l in msg.tag1){\n        if(msg.payload[i]['tags']==msg.tag1[l]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){msg.tag1.push(msg.payload[i]['tags'])}\n        \n        itr1 = true;\n        for (var m in msg.ing1){\n        if(msg.payload[i]['ingredients']==msg.ing1[m]){\n            itr1 = false;\n            break;}\n        }\n        if(itr1){msg.ing1.push(msg.payload[i]['ingredients'])}\n        \n}\n\nfor (var h in msg.data2){\n    msg.data2[h] = msg.data2[h].replace(/,/g, \" \");\n}\n\nfor (var h1 in msg.ing1){\n    msg.ing1[h1] = msg.ing1[h1].replace(/,/g, \" \");\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":2340,"wires":[["63dd1e8e.d5117","4fa88b19.65f4f4"]]},{"id":"5616f4dc.ba308c","type":"MySQLdatabase","z":"","name":"","host":"127.0.0.1","port":"3306","db":"sdd","tz":""}]